<%@ Page Language="C#" MasterPageFile="~/CMSMasterPages/UI/Dialogs/ModalSimplePage.master" Theme="Default"
    AutoEventWireup="true" EnableEventValidation="false"
    Inherits="CMSFormControls_Selectors_SelectFileOrFolder_Header" Codebehind="Header.aspx.cs" %>
<asp:Content ID="content" ContentPlaceHolderID="plcContent" runat="server">
    <asp:Literal ID="ltlScript" runat="server" EnableViewState="false" />
</asp:Content>