<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSModules_Forums_CMSPages_GetForumAttachment" Codebehind="GetForumAttachment.aspx.cs" %>

<!DOCTYPE html>
<html>
<head runat="server" enableviewstate="false">
    <title>ForumAttachment</title>
</head>
<body>
    <form id="form1" runat="server">
    </form>
</body>
</html>
