@model VIN.WebParts.Breadcrumbs.WebPart

<div class="breadcrumb-row">
    <div class="breadcrumb-custom" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">

        @foreach (var crumb in Model.Breadcrumbs)
        {
            if (crumb.First().Value != "/")
            {
                <span class="arrow">&gt;</span>
            }

            <a class="CMSBreadCrumbsLink" href="@crumb.First().Value" itemprop="url">
                <span itemprop="title">@crumb.First().Key</span>
            </a>
        }

    </div>
</div>