﻿@using Deepend.Framework.Kentico.Modules.ImageCrop
@model VIN.WebParts.ImageBlock.WebPart

<div class="module module-image-block default">

    @if (!string.IsNullOrWhiteSpace(Model.Title))
    {
        <h3 class="image-title">@Model.Title</h3>
    }

    @if (Model.PanZoom)
    {
        <div class="parent">
            <div class="panzoom">
                <img src="@ImageCropUtils.GetImageUrl(Model.ImageGuid, "Original")" alt="@Model.Title" class="main-img zoom-enabled"/>
            </div>
        </div>
    }
    else
    {
        <img src="@ImageCropUtils.GetImageUrl(Model.ImageGuid, "Original")" alt="@Model.Title" class="main-img"/>
    }

</div>