<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_Membership_Controls_Subscriptions"
    Codebehind="Subscriptions.ascx.cs" %>
<cms:LocalizedHeading runat="server" Level="4" ID="headNewsletters" ResourceString="Subscriptions.Newsletters" IsAnchor="true" Visible="false" EnableViewState="false" />
<asp:Panel ID="pnlNewsletters" runat="server" Visible="false" />
<cms:LocalizedHeading runat="server" Level="4" ID="headBlogs" ResourceString="Subscriptions.BlogPosts" IsAnchor="true" Visible="false" EnableViewState="false" />
<asp:Panel ID="pnlBlogs" runat="server" Visible="false" />
<cms:LocalizedHeading runat="server" Level="4" ID="headBoards" ResourceString="Subscriptions.MessageBoards" IsAnchor="true" Visible="false" EnableViewState="false" />
<asp:Panel ID="pnlBoards" runat="server" Visible="false" />
<cms:LocalizedHeading runat="server" Level="4" ID="headForums" ResourceString="Subscriptions.Forums" IsAnchor="true" Visible="false" EnableViewState="false" />
<asp:Panel ID="pnlForums" runat="server" Visible="false" />
<cms:LocalizedHeading runat="server" Level="4" ID="headReports" ResourceString="Subscriptions.Reports" IsAnchor="true" Visible="false" EnableViewState="false" />
<asp:Panel ID="pnlReports" runat="server" Visible="false" />
