﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="ContactForVisitor.ascx.cs"
    Inherits="CMSModules_Settings_FormControls_ContactForVisitor" %>
<cms:CMSDropDownList ID="drpContact" runat="server" CssClass="DropDownField" />
