﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="NaturalNumberTextBox.ascx.cs"
    Inherits="CMSModules_Settings_FormControls_NaturalNumberTextBox" %>

<cms:CMSTextBox ID="txtInput" runat="server" />
