<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_Settings_FormControls_SelectEncoding" Codebehind="SelectEncoding.ascx.cs" %>
<cms:CMSDropDownList ID="drpSelectEncoding" runat="server" CssClass="DropDownField" />
