﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="SelectDomainPrefix.ascx.cs" Inherits="CMSModules_Settings_FormControls_SelectDomainPrefix" %>
<cms:CMSDropDownList runat="server" ID="drpDomainPrefix" CssClass="DropDownField" />