﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="SettingsKeyDefaultValue.ascx.cs"
    Inherits="CMSModules_Settings_FormControls_SettingsKeyDefaultValue" %>
<cms:CMSTextBox ID="txtKeyValue" runat="server" EnableViewState="false" />
<cms:CMSCheckBox ID="chkKeyValue" runat="server" EnableViewState="false" />
