<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Syndication_Basic_AtomFeed" Codebehind="~/CMSWebParts/Syndication/Basic/AtomFeed.ascx.cs" %>
<cms:AtomFeed ID="atomFeed" runat="server" />
