<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Syndication_Basic_RSSFeed" Codebehind="~/CMSWebParts/Syndication/Basic/RSSFeed.ascx.cs" %>
<cms:RSSFeed ID="rssFeed" runat="server" />
