<%@ Control Language="C#" AutoEventWireup="true" Codebehind="Details.ascx.cs" Inherits="CMSModules_ContactManagement_Controls_UI_Activity_Details" %>

<cms:LocalizedHeading runat="server" ID="headDetail" Level="4" EnableViewState="false" IsAnchor="true" ResourceString="om.activity.details.groupdetails" />
<asp:Panel runat="server" ID="pnlDetails" EnableViewState="false" CssClass="ActivityPanel">
</asp:Panel>
