<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_DataSources_FileSystemDataSource" Codebehind="~/CMSWebParts/DataSources/FileSystemDataSource.ascx.cs" %>
<cms:FileSystemDataSource runat="server" ID="srcFiles" />