<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_DataSources_MacroDataSource" Codebehind="~/CMSWebParts/DataSources/MacroDataSource.ascx.cs" %>
    
<cms:MacroDataSource ID="srcMacro" runat="server" />
