<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_DataSources_UsersDataSource" Codebehind="~/CMSWebParts/DataSources/UsersDataSource.ascx.cs" %>
    
<cms:UsersDataSource ID="srcUsers" runat="server" />
