<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Viewers_Basic_BasicDataList" Codebehind="~/CMSWebParts/Viewers/Basic/BasicDataList.ascx.cs" %>
<asp:PlaceHolder runat="server" ID="plcBasicDataList" />
