<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Viewers_Basic_BasicRepeater" Codebehind="~/CMSWebParts/Viewers/Basic/BasicRepeater.ascx.cs" %>
<asp:PlaceHolder runat="server" ID="plcBasicRepeater" />
