<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Viewers_Basic_UniPager" Codebehind="~/CMSWebParts/Viewers/Basic/UniPager.ascx.cs" %>
<cms:UniPager ID="pagerElem" runat="server" />
