﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="EditItem.ascx.cs" Inherits="CMSModules_AdminControls_Controls_UIControls_EditItem" %>
<cms:uiform runat="server" id="EditForm" islivesite="false" ononcreate="EditForm_Create"
    ononaftersave="EditForm_OnAfterSave" redirecturlaftercreate="" ononbeforesave="EditForm_OnBeforeSave">
</cms:uiform>
