﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="Text.ascx.cs"
    Inherits="CMSModules_AdminControls_Controls_UIControls_Text" %>
<asp:Literal ID="ltlText" runat="server" EnableViewState="false" />