﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="DropDownListControl.ascx.cs"
    Inherits="CMSFormControls_Basic_DropDownListControl" %>
<cms:CMSDropDownList ID="dropDownList" runat="server" CssClass="DropDownField" />
<cms:CMSTextBox ID="txtCombo" runat="server" Visible="false" />
