﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="MediaSelectionControl.ascx.cs"
    Inherits="CMSFormControls_Basic_MediaSelectionControl" %>
<cms:MediaSelector ID="mediaSelector" runat="server" ShowClearButton="true"/>
