﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="MultipleChoiceControl.ascx.cs"
    Inherits="CMSFormControls_Basic_MultipleChoiceControl" %>
<cms:CMSCheckBoxList ID="list" runat="server" />