﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="UploadControl.ascx.cs"
    Inherits="CMSFormControls_Basic_UploadControl" %>
<cms:Uploader ID="uploader" runat="server" />
<asp:Button ID="hdnPostback" CssClass="HiddenButton" runat="server" EnableViewState="false" />
