﻿@using Deepend.Framework.Kentico
@model VIN.WebParts.SubNavigation.WebPart

<div class="w-clearfix quick-nav-container">

    @foreach (var item in Model.Items)
    {
        var itemNode = KenticoUtils.GetDocumentByNodeGUID(item.LinkedDocument, "en-AU", "CMS.MenuItem", "CMS.Blog");
        var absUrl = (itemNode != null) ? itemNode.AbsoluteURL : "#";

        <a class="w-inline-block quick-nav-block" href="@absUrl">

            <div class="quicknav-ico @item.Icon"></div>
            <h4 class="quicknav-h4">@item.DocumentName</h4>
        </a>
    }

</div>