<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_CustomTables_Controls_CustomTableViewItem" Codebehind="CustomTableViewItem.ascx.cs" %>

<asp:Literal ID="ltlContent" runat="server" />
