<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_CustomTables_Controls_CustomTableForm" Codebehind="CustomTableForm.ascx.cs" %>
<cms:CustomTableForm ID="customTableForm" runat="server" />
