﻿@using Deepend.Framework.Kentico.Modules.ImageCrop
@model VIN.WebParts.AFeature.WebPart

<div class="module module-slider single-slide default">

    <div class="swiper-container">
        <div class="swiper-wrapper">

            <div class="swiper-slide">

                <span data-picture data-alt="@Model.Item.PrimaryCopy">
                    <span class="mobile" data-src="@ImageCropUtils.GetImageUrl(Model.Item.ImageGuid, "480x157")"></span>
                    <span class="mobile-wide" data-src="@ImageCropUtils.GetImageUrl(Model.Item.ImageGuid, "768x157")" data-media="(min-width: 481px)"></span>
                    <span class="tablet" data-src="@ImageCropUtils.GetImageUrl(Model.Item.ImageGuid, "992x465")" data-media="(min-width: 768px)"></span>
                    <span class="desktop" data-src="@ImageCropUtils.GetImageUrl(Model.Item.ImageGuid, "1663x465")" data-media="(min-width: 992px)"></span>
                </span>

                <div class="item-content">

                    <div class="box-title">@Model.Item.PrimaryCopy</div>

                </div>
            </div>

        </div>

    </div>

    <div class="swiper-content">
        <div class="inner-container">
            <div class="inner-box">

                <div class="box-title">@Model.Item.PrimaryCopy</div>

            </div>
        </div>
    </div>
</div>