﻿@using Deepend.Framework.Kentico.Modules.ImageCrop
@model VIN.WebParts.AFeature.WebPart

@{
    var sliders = Model.Items;
}



<div class="module module-slider module-slider-enabled">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            @for (var i = 0; i < sliders.Count && i < 4; i++)
            {
                if (sliders[i].NodeParentID == Model.CurrentNode.NodeID)
                {
                    <div class="swiper-slide">

                        <span data-picture data-alt="@sliders[i].PrimaryCopy">
                            <span class="mobile" data-src="@ImageCropUtils.GetImageUrl(sliders[i].ImageGuid, "480x157")"></span>
                            <span class="mobile-wide" data-src="@ImageCropUtils.GetImageUrl(sliders[i].ImageGuid, "728x157")" data-media="(min-width: 481px)"></span>
                            <span class="tablet" data-src="@ImageCropUtils.GetImageUrl(sliders[i].ImageGuid, "726x465")" data-media="(min-width: 768px)"></span>
                            <span class="desktop" data-src="@ImageCropUtils.GetImageUrl(sliders[i].ImageGuid, "938x465")" data-media="(min-width: 992px)"></span>
                        </span>

                        <div class="item-content" data-nodeId="@sliders[i].NodeID" data-parentId="@sliders[i].NodeParentID">

                            <div class="box-title">@sliders[i].PrimaryCopy</div>

                            @if (!string.IsNullOrEmpty(sliders[i].ReadMoreUrl))
                            {
                                <a class="button reversed" href="@sliders[i].ReadMoreUrl">
                                    <div class="box-link reversed">
                                        @sliders[i].ReadMoreText<div class="detail-ico icon-link"></div></div>
                                </a>
                            }

                            @if (!string.IsNullOrEmpty(sliders[i].VideoUrl))
                            {
                                <a class="w-lightbox w-inline-block button reversed video-button" href="@sliders[i].VideoUrl">
                                    <div class="watch-btn">
                                        <div class="detail-ico icon-play"></div>
                                        <div class="watch-text">Watch Video</div>
                                    </div>
                                </a>
                            }
                        </div>
                    </div>
                }
            }
        </div>

    </div>

    <div class="swiper-content">
        <div class="inner-container">
            <div class="inner-box"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>