﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="OptionsDesigner.ascx.cs" Inherits="CMSFormControls_System_OptionsDesigner" %>
<cms:OptionsDesigner runat="server" ID="optionDesignerElem" OnOptionAdded="optionDesignerElem_OptionAdded" />