<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Membership_Logon_currentuser" Codebehind="~/CMSWebParts/Membership/Logon/currentuser.ascx.cs" %>
<asp:Label ID="lblLabel" runat="server" CssClass="CurrentUserLabel" EnableViewState="false" />&nbsp;
<asp:Literal ID="ltrSignLink" runat="server" EnableViewState="false" />
