﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/SocialMedia/Facebook/FacebookComments.ascx.cs" Inherits="CMSWebParts_SocialMedia_Facebook_FacebookComments" %>
<cms:LocalizedLabel runat="server" CssClass="webpart-error-label" ID="lblErrorMessage" Visible="False"></cms:LocalizedLabel>
<asp:Literal runat="server" ID="ltlComments" EnableViewState="false" />