﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/SocialMedia/Facebook/FacebookLikeButton.ascx.cs" Inherits="CMSWebParts_SocialMedia_Facebook_FacebookLikeButton" %>
<cms:LocalizedLabel runat="server" CssClass="webpart-error-label" ID="lblErrorMessage" Visible="False"></cms:LocalizedLabel>
<asp:Literal runat="server" ID="ltlLikeButtonCode" />