﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="BinObjectTypeSelector.ascx.cs"
    Inherits="CMSModules_Objects_FormControls_BinObjectTypeSelector" %>
<cms:CMSDropDownList ID="drpObjectTypes" runat="server" CssClass="DropDownField" />
