<%@ Master Language="C#" AutoEventWireup="true" Inherits="CMSMasterPages_UI_EmptyPage"
Codebehind="EmptyPage.master.cs" %>
<%@ Import Namespace="System.Web.DynamicData" %>
<%@ Import Namespace="System.Web.UI" %>
<%@ Import Namespace="System.Web.UI.DataVisualization.Charting" %>
<%@ Import Namespace="System.Web.UI.WebControls" %>
<%@ Import Namespace="System.Web.UI.WebControls" %>
<%@ Import Namespace="System.Web.UI.WebControls" %>
<%@ Import Namespace="System.Web.UI.WebControls.Expressions" %>
<%@ Import Namespace="System.Web.UI.WebControls.WebParts" %>

<!DOCTYPE html>
<html>
<head runat="server" enableviewstate="false">
    <title>EmptyMasterPage</title>
    <asp:Literal ID="ltlHeadElements" runat="server" Visible="false"/>
    <style type="text/css">
        body {
            height: 100%;
            margin: 0px;
            padding: 0px;
        }
    </style>
</head>
<body runat="server" id="bodyElem">
<form id="form1" runat="server">
    <asp:PlaceHolder runat="server" ID="plcManager"/>
    <asp:PlaceHolder runat="server" ID="plcStatus" EnableViewState="false"/>
    <asp:PlaceHolder runat="server" ID="plcLabels"/>
    <asp:ContentPlaceHolder ID="plcContent" runat="server"/>
</form>
<asp:PlaceHolder runat="server" ID="plcAfterForm"></asp:PlaceHolder>
</body>
</html>