<%@ Master Language="C#" AutoEventWireup="true" Inherits="CMSMasterPages_UI_UIPage"
Codebehind="UIPage.master.cs" %>
<%@ Import Namespace="System.Web.DynamicData" %>
<%@ Import Namespace="System.Web.UI" %>
<%@ Import Namespace="System.Web.UI.DataVisualization.Charting" %>
<%@ Import Namespace="System.Web.UI.WebControls" %>
<%@ Import Namespace="System.Web.UI.WebControls" %>
<%@ Import Namespace="System.Web.UI.WebControls" %>
<%@ Import Namespace="System.Web.UI.WebControls.Expressions" %>
<%@ Import Namespace="System.Web.UI.WebControls.WebParts" %>
<%@ Import Namespace="CMS.Controls" %>
<%@ Import Namespace="CMS.ExtendedControls" %>
<%@ Import Namespace="CMS.FormControls" %>
<%@ Import Namespace="CMS.FormEngine" %>
<%@ Import Namespace="CMS.OnlineForms" %>
<%@ Import Namespace="CMS.PortalControls" %>
<%@ Import Namespace="CMS.UIControls" %>

<%@ Register Src="~/CMSAdminControls/UI/Development/DevTools.ascx" TagName="DevTools"
TagPrefix="cms" %>
<!DOCTYPE html>
<html>
<head runat="server" enableviewstate="false">
    <title>Modal UI Page</title>
    <asp:Literal ID="ltlHeadElements" runat="server" Visible="false" EnableViewState="false"/>
    <style type="text/css">
        html, body {
            height: 100%;
            margin: 0px;
            overflow: hidden;
            padding: 0px;
        }
    </style>
</head>
<body id="bodyElem" runat="server">
<form id="form1" runat="server">
    <asp:PlaceHolder runat="server" ID="plcManager"/>
    <asp:ContentPlaceHolder ID="plcBeforeBody" runat="server"/>
    <asp:Panel ID="pnlBody" runat="server" CssClass="PageBody">
        <cms:CMSUpdateProgress ID="up" runat="server" HandlePostback="true"/>
        <asp:PlaceHolder runat="server" ID="plcLabels"/>
        <asp:ContentPlaceHolder ID="plcContent" runat="server"/>
    </asp:Panel>
    <cms:DevTools ID="devElem" runat="server"/>
</form>
</body>
</html>