<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_General_CssStyleSelector"
    Codebehind="~/CMSWebParts/General/CSSStyleSelector.ascx.cs" %>
<asp:Panel runat="server" ID="pnlLinks" CssClass="StyleSelectorLinks" EnableViewState="false">
</asp:Panel>
