﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/General/ObjectManagementButtons.ascx.cs" Inherits="CMSWebParts_General_ObjectManagementButtons" %>
<cms:CMSObjectManagementButtons ID="objButtons" runat="server" />
