﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/General/Timer.ascx.cs"
    Inherits="CMSWebParts_General_Timer" %>
<asp:Timer runat="server" ID="timElem" OnTick="timElem_Tick" />
