/**
*
* Core config
*
***/
/*
Core branding colours:
*/
$brandPrimary: #3d7985;
$brandPrimary_dark: #143649;

//Core button colours
$btnStrong_bg: #e9e9e8;
$btnStrong_txt: $brandPrimary_dark;

$btnStrong_bg_hover: #fff;
$btnStrong_txt_hover: #000;

$featuredSection_bg: #fffbf6;

/*
*
Header and pre nav areas
*
*/

/*
Logo Config
*/
$siteLogo: 'CoolangattaHotel-primary-logo.svg';
$logo_width_mobile: 140px;
$logo_height_mobile: 35px;
$logo_width_desktop: 182px; //Note: these are applied as background-size properties, not block level element sizing

/*
Nav strip colours
*/
$preNav_bg: #f2f2f2;
$preNav_border: #e5e5e5;
$preNav_text: #999999;
$preNav_signup_bg: #e5e5e5;

/*
Primary Navigation
*/
$primaryNav_fontSize_mobile: 14px;
$primaryNav_fontSize_desktop: 15px;

/*
Newsletter signup dropdown
*/
$newsletter_bg: $brandPrimary;
$newsletter_txt: white;
$newsletter_input: #666666;

/*
Home page a-feature / slider
*/
//Target elemenet here is '.swiper content .inner-container', the circle (desktop)
$slider_content_bg: rgba(255,255,255,0.8);
$slider_content_border: $brandPrimary;

//Text content -- title
$slider_title_font: PT Serif;
$slider_title_colour: $brandPrimary_dark;
$slider_title_colour_mobile: white;
$slider_title_txtsize_desktop: 36px;
$slider_title_lineheight_desktop: 42px;

//Pagination bullets
$slider_bullet_bg: $brandPrimary;
$slider_bullet_border: white;
$slider_bullet_bg_active: white;


/*
*
Global Footer
*
*/
$footer_bg: white;
$footer_txt_colour: #666666;

/*
Newsletter signup row
*/
$footer_newsleterRow_bg: $brandPrimary;
$footer_newsleterRow_txt: white;
$footer_newsleterRow_link: white;
$footer_newsleterRow_link_hover: $brandPrimary_dark;

/*
Primary navigation section
*/
$footer_nav_txt_color: #666666;
$footer_nav_link_color: #666666;
$footer_nav_link_color_hover: $brandPrimary;

/*
Post Footer (Privacy strip)
*/
$footer_privacy_bg: #f2f2f2;
$footer_privacy_color: #666666;
