<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSModules_Newsletters_CMSPages_GetCSS" Codebehind="GetCSS.aspx.cs" %>

<!DOCTYPE html>

<html>
<head runat="server" enableviewstate="false">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
