<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/CMSMasterPages/LiveSite/SimplePage.master"
    Inherits="CMSModules_Newsletters_CMSPages_Unsubscribe" Theme="Default" 
    Title="Unsubscribe" Codebehind="Unsubscribe.aspx.cs"  %>