<%@ Control Language="C#" AutoEventWireup="true" Codebehind="CMS_DocumentAliasSettings.ascx.cs"
    Inherits="CMSModules_Objects_FormControls_Cloning_CMS_DocumentAliasSettings" %>
<%@ Register Src="~/CMSFormControls/Documents/DocumentURLPath.ascx" TagName="DocumentURLPath"
    TagPrefix="cms" %>
<cms:DocumentURLPath runat="server" ID="urlElem" HideCustom="true" />