<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_SocialMedia_LinkedIn_LinkedInCompanyProfile" Codebehind="~/CMSWebParts/SocialMedia/LinkedIn/LinkedInCompanyProfile.ascx.cs" %>
<asp:Literal runat="server" ID="ltlPluginCode" EnableViewState="false" />