<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Newsletters_NewsletterArchive" Codebehind="~/CMSWebParts/Newsletters/NewsletterArchive.ascx.cs" %>
<cms:QueryRepeater ID="repNewsArchive" runat="server" />
