<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Newsletters_SubscriptionApproval" Codebehind="~/CMSWebParts/Newsletters/SubscriptionApproval.ascx.cs" %>
<%@ Register Src="~/CMSModules/Newsletters/Controls/SubscriptionApproval.ascx" TagName="SubscriptionApproval"
    TagPrefix="cms" %>
<cms:SubscriptionApproval ID="subscriptionApproval" runat="server" />
