﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="WebpartContainerCode.ascx.cs"
    Inherits="CMSModules_PortalEngine_Controls_WebContainers_WebpartContainerCode" %>
<cms:ExtendedTextArea ID="txtContainerText" runat="server"
    EditorMode="Advanced" Language="HTMLMixed" MarkErrors="false" Width="600px" Height="200px" />
