﻿@using Deepend.Framework.Kentico.WebParts.Navigation.Models
@model VIN.WebParts.Navigation.WebPart

<div class="w-container">
    <div class="w-row">
        <div class="w-col w-col-2 footer-first">
            <ul class="w-list-unstyled">
                @foreach (var item in Model.GetChildren_Cached(Model.RootNode.NodeID))
                {
                    var navModel = new NavigationModel(item);

                    <li class="footer-li">
                        <h5>
                            <a class="text-link" href="@navModel.AbsoluteURL">@navModel.DocumentName</a>
                        </h5>
                    </li>
                }
            </ul>

        </div>
        <div class="w-col w-col-3 footer-mid">
            <h5>Find Us</h5>
            <ul class="w-list-unstyled">
                <li>
                    <div itemscope itemtype="http://schema.org/LocalBusiness">
                        <a class="footer-url-title" itemprop="url" href="http://www.thecoolyhotel.com.au/">
                            <div itemprop="name">
                                <strong>Coolangatta Hotel</strong>
                            </div>
                        </a>
                        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            <span itemprop="streetAddress">Cnr Warner Street &</span><br />
                            <span itemprop="addressLocality">Marine Parade</span><br />
                            <span itemprop="addressRegion">Coolangatta QLD, 4225</span><br />
                            <span itemprop="addressCountry">Australia</span><br>
                        </div>
                    </div>
                </li>
            </ul>
            <h5><a href="/contact-us" class="text-link">Contact Us</a></h5>
        </div>
        <div class="w-col w-col-3 map-container">
            <div class="map-block">
                <div class="w-widget w-widget-map map" data-widget-latlng="-28.1676095,153.538959" data-widget-style="roadmap" data-widget-zoom="15"></div>
            </div>
        </div>
        <div class="w-col w-col-4 contact-col">
            <h5>Get In Touch</h5>
            <ul class="w-list-unstyled">
                <li class="w-clearfix">
                    <div class="contact-ico email-ico icon-phone"></div>
                    <p class="phone-number">
                        <span itemprop="telephone">
                            <a class="text-link" href="tel:07 4982 0999">07 4982 0999</a>
                        </span>
                    </p>
                </li>
                <li class="w-clearfix">
                    <div class="contact-ico phone-ico icon-email"></div>
                    <p>
                        <a class="text-link" href="mailto:info@coolangattahotel.com.au"> Email us</a>
                    </p>
                </li>
            </ul>

            <ul class="w-list-unstyled social-list">
                <li>
                    <div class="followus-block">
                        <p>Follow Us</p>
                    </div>
                    <div class="w-clearfix followus-fb-icon">
                        <p>
                            <a class="w-inline-block social-link icon-facebook" href="https://www.facebook.com/thecoolyhotel/" target="_blank"></a>
                            <a class="w-inline-block social-link icon-instagram" href="https://www.instagram.com/thecoolyhotel/" target="_blank"></a>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="post-footer">
    <div class="w-container">
        <div class="w-row">
            <div class="footer-left">
                <p>
                    &copy; Coolangatta Hotel @DateTime.Now.Year <a class="text-link" href="/privacy-policy">Privacy Policy</a>
                </p>
            </div>
        </div>
    </div>
</div>