﻿@using Deepend.Framework.Kentico.WebParts.Navigation.Models
@model VIN.WebParts.Navigation.WebPart

<div class="mobile-signup" data-ix="mobmailstart">
    <div class="w-container deal-mail">
        <h4>Sign up to receive news and offers:</h4>
        <div class="w-form w-clearfix mail-form inline-mail">
            <form class="w-clearfix mail-form inline-mail" id="email-form" name="email-form" data-name="Email Form">
                <div class="w-clearfix ">

                    <div class="checkbox-column">
                        @foreach (var category in Model.Categories)
                        {
                            <div class="w-checkbox w-clearfix checkbox-field mail-category">
                                <input class="w-checkbox-input checkbox" id="checkbox-@category.Key" type="checkbox" name="checkbox-@category.Key" data-name="Checkbox @category.Key" value="@category.Key">
                                <label class="w-form-label" for="checkbox-@category.Key">@category.Value</label>
                            </div>
                        }
                    </div>

                </div>
                <input class="w-input search-field deal-field" id="Enter-your-email-address-3" type="text" placeholder="Enter your email address..." name="Enter-your-email-address-3" data-name="Enter Your Email Address 3" autofocus="autofocus">
                <div class="button strong">
                    <a class="header-signup-button" href="#">
                        Sign Up&nbsp;&nbsp;<span class="btn-arrow">&gt;</span>
                    </a>
                </div>
            </form>

            <div class="w-form-loading">
                <p>Loading...</p>
            </div>
            <div class="w-form-done">
                <p>Thank you! Your submission has been received!</p>
            </div>
            <div class="w-form-fail">
                <p>Oops! Please enter a valid email address.</p>
            </div>
        </div>
    </div>
</div>

<div class="mobile-menu" data-ix="menustart">
    <div class="w-form mobile-search-block">
        <form id="email-form-2" name="email-form-2" data-name="Email Form 2" method="get" action="/search-results">
            <input class="w-input mobile-search" id="Mobile-Search-2" type="text" name="q" data-name="Mobile Search 2">
            <div class="mob-search-ico icon-search"></div>
            <a href="#" class="search-btn">
                Search
            </a>
        </form>
    </div>
    <ul class="w-list-unstyled">
        <li>
            @foreach (var item in Model.GetChildren_Cached(Model.RootNode.NodeID))
            {
                var navModel = new NavigationModel(item);

                <a class="w-inline-block mobile-nav" href="@navModel.AbsoluteURL">
                    <div>@navModel.DocumentName</div>
                </a>
            }
        </li>
        <li><a class="w-inline-block mobile-nav" href="/contact-us">Contact Us</a></li>
    </ul>
    <ul class="w-list-unstyled">
        <li class="mobile-share">
            <div class="followus-block">
                <p>Follow Us</p>
                <a class="w-inline-block social-link-header icon-facebook" href="https://www.facebook.com/thecoolyhotel/" target="_blank"></a>
                <a class="w-inline-block social-link-header icon-instagram" href="https://www.instagram.com/thecoolyhotel/" target="_blank"></a>
            </div>
        </li>
    </ul>
</div>

<div class="mail-section">
    <div class="w-container">
        <div class="w-clearfix close-block">
            <div class="mail-left">
                <h4>Sign up to OUR&nbsp;NEWSLETTER Receive News and Offers</h4>
            </div>
            <div class="mail-right">
                <a class="w-inline-block close-btn icon-close mailclose" href="#"></a>
            </div>
        </div>
        <div class="w-form search-form">
            <form class="mail-form" id="email-form" name="email-form" data-name="Email Form">

                <div class="w-clearfix ">

                    <div class="checkbox-column">
                        @foreach (var category in Model.Categories)
                        {
                            <div class="w-checkbox w-clearfix checkbox-field mail-category">
                                <input class="w-checkbox-input checkbox" id="checkbox-@category.Key" type="checkbox" name="checkbox-@category.Key" data-name="Checkbox @category.Key" value="@category.Key">
                                <label class="w-form-label" for="checkbox-@category.Key">@category.Value</label>
                            </div>
                        }
                    </div>

                </div>

                <input class="w-input search-field top-mail" id="Enter-your-email-address" type="text" placeholder="Enter your email address..." name="Enter-your-email-address" data-name="Enter your email address...">
                <div class="button strong">
                    <a class="header-signup-button" href="#">
                        Sign Up&nbsp;&nbsp;<span class="btn-arrow">&gt;</span>
                    </a>
                </div>
            </form>
            <div class="w-form-loading">
                <p>Loading...</p>
            </div>
            <div class="w-form-done">
                <p>Thank you! Your submission has been received!</p>
            </div>
            <div class="w-form-fail">
                <p>Oops! Please enter a valid email address.</p>
            </div>
        </div>
    </div>
</div>

<div class="pre-nav" id="top">
    <div class="preheader">
        <div class="w-row">
            <div class="w-col w-col-3 preheader-left">
                <p>Open today @Model.OpenTimes</p>
            </div>
            <div class="w-col w-col-9 w-clearfix preheader-right">
                <div class="w-clearfix search-container">
                    <a class="w-inline-block search-btn" href="#" data-ix="search-initial">
                        <div class="icon-search desktop-search"></div>
                    </a>
                    <div class="w-form search-wrapper">
                        <form id="email-form" name="email-form" data-name="Email Form" method="get" action="/search-results">
                            <input class="w-input search-blank" id="Search" type="text" name="q" data-name="Search">
                        </form>
                        <div class="w-form-done"></div>
                        <div class="w-form-fail error"></div>
                    </div>
                </div>
                <a class="w-inline-block email-signup" href="#">
                    <div class="icon-desk_signup"></div>
                </a>
                <div class="followus-block">
                    <p>Follow Us</p>
                    <a class="w-inline-block social-link-header icon-facebook" href="https://www.facebook.com/thecoolyhotel/" target="_blank"></a>
                    <a class="w-inline-block social-link-header icon-instagram" href="https://www.instagram.com/thecoolyhotel/" target="_blank"></a>
                </div>
                <div class="contactus-block">
                    <p><a href="/contact-us" target="_self">Contact Us</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="nav-container">
    <div class="w-row">
        <div class="w-col w-col-2 w-col-small-2 w-col-tiny-2 w-clearfix nav-col">
            <div class="menu-button" data-ix="menuopen">
                <div class="w-icon-nav-menu nav-icon"></div>
            </div>
        </div>
        <div class="w-col w-col-8 w-col-small-8 w-col-tiny-8 w-clearfix">

            <a class="w-nav-brand logo mobile-logo" href="/"></a>

        </div>
        <div class="w-col w-col-2 w-col-small-2 w-col-tiny-2 w-clearfix nav-col mob_signup-container">
            <a class="w-inline-block menu-button mail-menu" href="#" data-ix="mobmailopen">
                <div class="icon-mob_signup"></div>
            </a>
        </div>
    </div>
    <nav class="w-nav-menu w-clearfix nav-menu" role="navigation">

        <a class="w-nav-brand logo desktop-logo" href="/"></a>

        <div itemscope="" itemtype="http://schema.org/Organization" style="display: none">
            <a itemprop="url" href="http://www.thecoolyhotel.com.au/"></a>
        </div>

        @foreach (var item in Model.GetChildren_Cached(Model.RootNode.NodeID))
        {
            var navModel = new NavigationModel(item);

            <a class="w-nav-link nav-link" href="@navModel.AbsoluteURL">@navModel.DocumentName</a>
        }
    </nav>
</div>
<div class="mobile-hours">
    <p>Open today @Model.OpenTimes</p>
</div>