﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="RefreshIcon.ascx.cs" Inherits="CMSModules_Content_Controls_RefreshIcon" %>
<asp:Panel ID="pnlRefresh" name="pnlRefresh" class="RefreshTreeIconContainer" runat="server">
    <cms:CMSAccessibleButton ID="btnRefresh" runat="server" IconCssClass="icon-rotate-right" CssClass="RefreshTreeIcon" IconOnly="True" />
</asp:Panel>
