/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 9999;
}

#cboxWrapper { max-width: none; }

#cboxOverlay {
    height: 100%;
    position: fixed;
    width: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft { clear: left; }

#cboxContent { position: relative; }

#cboxLoadedContent {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}

#cboxTitle { margin: 0; }

#cboxLoadingOverlay, #cboxLoadingGraphic {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow { cursor: pointer; }

.cboxPhoto {
    -ms-interpolation-mode: bicubic;
    border: 0;
    display: block;
    float: left;
    margin: auto;
    max-width: none;
}

.cboxIframe {
    border: 0;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#colorbox, #cboxContent, #cboxLoadedContent {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/

#cboxOverlay {
    background: url(images/overlay.png) repeat 0 0;
    filter: alpha(opacity = 90);
    opacity: 0.9;
}

#colorbox { outline: 0; }

#cboxTopLeft {
    background: url(images/controls.png) no-repeat -101px 0;
    height: 21px;
    width: 21px;
}

#cboxTopRight {
    background: url(images/controls.png) no-repeat -130px 0;
    height: 21px;
    width: 21px;
}

#cboxBottomLeft {
    background: url(images/controls.png) no-repeat -101px -29px;
    height: 21px;
    width: 21px;
}

#cboxBottomRight {
    background: url(images/controls.png) no-repeat -130px -29px;
    height: 21px;
    width: 21px;
}

#cboxMiddleLeft {
    background: url(images/controls.png) left top repeat-y;
    width: 21px;
}

#cboxMiddleRight {
    background: url(images/controls.png) right top repeat-y;
    width: 21px;
}

#cboxTopCenter {
    background: url(images/border.png) 0 0 repeat-x;
    height: 21px;
}

#cboxBottomCenter {
    background: url(images/border.png) 0 -29px repeat-x;
    height: 21px;
}

#cboxContent {
    background: #fff;
    overflow: hidden;
}

.cboxIframe { background: #fff; }

#cboxError {
    border: 1px solid #ccc;
    padding: 50px;
}

#cboxLoadedContent { margin-bottom: 28px; }

#cboxTitle {
    bottom: 4px;
    color: #949494;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

#cboxCurrent {
    bottom: 4px;
    color: #949494;
    left: 58px;
    position: absolute;
}

#cboxLoadingOverlay { background: url(images/loading_background.png) no-repeat center center; }

#cboxLoadingGraphic { background: url(images/loading.gif) no-repeat center center; }

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */

#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
    background: none;
    border: 0;
    margin: 0;
    overflow: visible;
    padding: 0;
    width: auto;
}

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */

#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active { outline: 0; }

#cboxSlideshow {
    bottom: 4px;
    color: #0092ef;
    position: absolute;
    right: 30px;
}

#cboxPrevious {
    background: url(images/controls.png) no-repeat -75px 0;
    bottom: 0;
    height: 25px;
    left: 0;
    position: absolute;
    text-indent: -9999px;
    width: 25px;
}

#cboxPrevious:hover { background-position: -75px -25px; }

#cboxNext {
    background: url(images/controls.png) no-repeat -50px 0;
    bottom: 0;
    height: 25px;
    left: 27px;
    position: absolute;
    text-indent: -9999px;
    width: 25px;
}

#cboxNext:hover { background-position: -50px -25px; }

#cboxClose {
    background: url(images/controls.png) no-repeat -25px 0;
    bottom: 0;
    height: 25px;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    width: 25px;
}

#cboxClose:hover { background-position: -25px -25px; }

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/

.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF); }