﻿/**
 * @license
 * MyFonts Webfont Build ID 2906865, 2014-10-21T23:47:14-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: SpiffilyNF by Nick's Fonts
 * URL: http://www.myfonts.com/fonts/nicksfonts/spiffily-nf/regular/
 * Copyright: Copyright (c) 2012, Nick Curtis. All Rights Reserved. Unauthorized duplication or redistribution by any means is expressly prohibited.
 * Licensed pageviews: 10,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2906865
 * 
 * © 2014 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2c5af1");

  
@font-face {
    font-family: 'SpiffilyNF';
    src: url('webfonts/2C5AF1_0_0.eot');
    src: url('webfonts/2C5AF1_0_0.eot?#iefix') format('embedded-opentype'), url('webfonts/2C5AF1_0_0.woff2') format('woff2'), url('webfonts/2C5AF1_0_0.woff') format('woff'), url('webfonts/2C5AF1_0_0.ttf') format('truetype'), url('webfonts/2C5AF1_0_0.svg#wf') format('svg');
}