body {
    background-color: #f8f8f8;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: auto;
}

h1 {
    font-size: 36px;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 20px;
}

h2 {
    font-size: 34px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 10px;
}

h3 {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 5px;
    margin-top: 0px;
}

h4 {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
    text-transform: uppercase;
}

h5 {
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
}

h6 {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}

p {
    display: inline-block;
    margin-bottom: 0px;
}

#master-footer {
    background-color: $footer_bg;
    color: $footer_txt_colour;

    h5 {
        color: $footer_nav_txt_color;
    }

    .text-link {
        color: $footer_nav_link_color;

        &:hover {
            color: $footer_nav_link_color_hover;
        }
    }

    .social-link {
        color: $footer_nav_txt_color;

        &:hover {
            color: $footer_nav_link_color_hover;
        }
    }
}

#master-footer .map-container { padding-left:0px; padding-right:0px; }

#master-footer .map-block { margin-top: 10px; }

#master-footer .contact-col {
    min-height: 192px;
    position: relative;
}

#master-footer .social-list {
    bottom: 4px;
    left: 40px;
    position: absolute;
}

.button {
    display: inline-block;
    font-weight: 600;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.button:hover { color: $brandPrimary; }

.button.block-center {
    bottom: 30px;
    display: block;
    font-size: 16px;
    margin-left: auto;

    margin-right: auto;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.button.block-center:hover { color: black; }

.module-feature-tile .cat-box {
    position: absolute;
    text-align: center;
    top: 20px;
    width: 100%;
}

.module-feature-tile .text-box {
    padding: 30px 20px 0px 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.footer-url-title {
    color: #ffffff;
    text-decoration: none;
}

.button.reversed {
    color: $brandPrimary;
    margin-right: 5px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.button.reversed:hover { color: $brandPrimary_dark; }

.button.grey {
    bottom: 25px;
    color: #666;
    left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    position: absolute;
}

.button.grey:hover { color: $brandPrimary; }

.button.strong {
    background-color: $btnStrong_bg;
    color: $btnStrong_txt;
    padding: 8px 23px;
    position: relative;
    top: 3px;

    &:hover {
        background-color: $btnStrong_bg_hover;
        color: $btnStrong_txt_hover;
    }
}

.button.strong:hover { color: black; }

.button.strong.footer-signup {
    background-color: $brandPrimary;
    color: white;
}

.button.strong.footer-signup:hover { color: black; }

.button.strong.menu {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
    top: 0px;
}

.nav-link {
    border-left: 1px solid #e5e5e5;
    color: #000000;
    font-size: $primaryNav_fontSize_desktop;
    font-weight: 600;
    height: 100%;
    padding-bottom: 35px;
    padding-top: 35px;
    text-transform: uppercase;
}

.nav-link:hover {
    color: $brandPrimary;
    text-decoration: none;
}

.nav-link.w--current { color: $brandPrimary; }

.nav-link.final-link,
.nav-link:last-child { border-right: 1px solid #e5e5e5; }

.pre-nav {
    background-color: $preNav_bg;
    border-bottom: 1px solid $preNav_border;
    font-size: 14px;
    height: 43px;
    padding-top: 0px;
}

.logo {
    background-position: 50% 50%;
}

.logo.w--current { float: left; }

.logo.mobile-logo { display: none; }

.logo.desktop-logo {
    background-image: url('../images/#{$siteLogo}');
    background-repeat: no-repeat;
    background-size: $logo_width_desktop;
    height: 84px;
    width: 200px;
}

.aframe {
    height: 465px;
    margin-bottom: 0px;
}

.mod-large {
    background-color: #adadad;
    background-image: url('../images/460x270.jpg');
    background-position: 50% 50%;
    background-size: cover;
    color: white;
    height: 270px;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    text-align: center;
}

.mod-large:hover { opacity: 1; }

.mod-large.shops-module {
    background-image: url('../images/shops-mod.jpg');
    text-align: center;
}

.mod-large.eat-module { background-image: url('../images/eat-module.jpg'); }

.mod-large.events-module { background-image: url('../images/event-module.jpg'); }

.mod-large.watch-module { background-image: url('../images/movies-mod.jpg'); }

.nav-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    width: 960px;
}

.social-link-header {
    clear: none;
    color: $preNav_text;
    display: inline-block;
    float: none;
    font-size: 20px;
    height: 28px;
    margin-left: 5px;
    position: relative;
    text-decoration: none;
    top: 0px;
    width: 30px;
}


.social-link {
    clear: none;
    color: #bfb6ad;
    display: inline-block;
    float: none;
    font-size: 20px;
    height: 28px;
    margin-left: 5px;
    position: relative;
    text-decoration: none;
    top: 0px;
    width: 30px;
}

/* Hides all social sharing links */

/*.module-feature-tile .social-link,
.module-feature-tile h5.follow-h5 {
    display: none;
}*/

.social-link:hover {
    background-position: 0px 102%;
    color: $brandPrimary;
}

.social-link.twitter { background-position: 50% 0px; }

.social-link.twitter:hover { background-position: 50% 102%; }

.social-link.instagram { background-position: 100% 0px; }

.social-link.instagram:hover { background-position: 100% 103%; }

.social-link.bnw { background-image: url('../images/social-sprite-bnw.png'); }

.social-link.icon-twitter.reverse { color: white; }

.social-link.icon-twitter.reverse:hover { color: black; }

.social-link.icon-facebook:hover { color: $brandPrimary; }

.social-link.icon-facebook.reverse { color: white; }

.social-link.icon-facebook.reverse:hover { color: black; }

.preheader {
    color: $preNav_text;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    width: 960px;
}

.search-field {
    border-radius: 0px;
    display: inline-block;
    font-style: italic;
    margin-bottom: 0px;
    margin-right: 20px;
    padding: 6px 12px;
    width: 200px;
}

.search-field.deal-field { border-radius: 0px; }

.search-field.top-mail {
    border-radius: 0px;
    width: 270px;
}

.search-form {
    margin-bottom: 0px;
    text-align: right;
}

.slider-frame {
    border-left: 2px solid white;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: left;
}

.slider-frame.second {
    background-image: url('../images/aframe-2.jpg');
    display: block;
}

.quick-nav {
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    display: block;
    font-size: 16px;
    margin-left: auto;
    /*height: 78px;*/
    margin-right: auto;
    width: 100%;
}

.quick-nav-block {
    border-left: 1px solid #e5e5e5;
    color: #666;
    float: left;
    font-weight: 600;
    height: 78px;
    padding: 12px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 25%;
}

.quick-nav-block:hover { color: $brandPrimary; }

.quick-nav-block:last-child {
    border-right: 1px solid #e5e5e5;
    float: left;
    position: relative;
}

.quick-nav-container {
    background-color: white;
    display: block;
    height: 76px;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.link-block {
    -o-transition: background-color 200ms ease;
    -webkit-transition: background-color 200ms ease;
    color: white;
    display: block;
    height: 100%;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color 200ms ease;
    width: 100%;
}

.link-block:hover {
    background-color: $brandPrimary !important;
    opacity: 1;
}

.link-block.feature-block {
    z-index: 1;
}

.detail-bar {
    background-color: #878787;
    bottom: 0px;
    left: 0px;
    opacity: 0.7;
    padding: 15px;
    position: absolute;
    right: 0px;
}

.detail-bar.overlay {
    background-color: #b0b0b0;
    bottom: 0px;
    left: 0px;
    opacity: 1;
    right: 0px;
    text-align: center;
    top: 0px;
}

.detail-bar.overlay:hover { opacity: 1; }

.mod-small {
    background-color: white;
    color: #666;
    height: 446px;
    margin: 20px 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.footer {
    background-color: white;
    padding-bottom: 20px;
}

.email-signup {
    background-color: $preNav_signup_bg;
    color: $preNav_text;
    display: inline-block;
    float: right;
    height: 42px;
    margin-left: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    text-decoration: none;
    width: 130px;
}

.email-signup:hover {
    background-position: 0px 102%;
    color: $brandPrimary;
}

.email-signup.icon-desk_signup {
    height: 44px;
    position: relative;
    text-decoration: none;
}

.close-btn {
    background-attachment: scroll;
    background-color: #000000;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: auto;
    height: 33px;
    position: static;
    right: 0px;
    top: 0px;
    width: 33px;
}

.close-btn:hover { background-color: $brandPrimary; }

.close-btn.icon-close {
    color: white;
    padding-top: 9px;
    text-align: center;
    text-decoration: none;
}

.close-btn.icon-close:hover {
    color: black;
    text-decoration: none;
}

.close-block {
    color: white;
    margin-bottom: 0px;
    text-align: right;
}

.map { height: 150px; }

.text-link {
    color: white;
    text-decoration: none;
}

.text-link:hover {
    color: $brandPrimary;
    text-decoration: none;
}

#master-footer .contact-col .text-link {
    text-decoration:underline;
}

.text-link.lighter { color: #666; }

.text-link.lighter:hover { color: $brandPrimary; }

.crumbs-block {
    border-bottom: 1px solid #b8b8b8;
    margin-bottom: 40px;
    margin-top: 40px;
    padding-bottom: 20px;
}

.crumbs-block.grey-crumbs {
    border-bottom-color: #ccc;
    margin-bottom: 30px;
}

.med-mod {
    background-image: url('../images/220x270.gif');
    display: block;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    width: 220px;
}

.menu-button { display: none; }

.menu-button.mail-menu { display: none; }

.slider-arrow.left-arrow {
    background-color: rgba(255, 255, 255, 0.5);
    left: -1000px;
    top: 0px;
    width: 1000px;
}

.slider-arrow.left-arrow:hover { background-color: rgba(255, 255, 255, 0.55); }

.slider-arrow.right-arrow {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    right: -1000px;
    top: 0px;
    width: 1000px;
}

.slider-arrow.right-arrow:hover { background-color: rgba(255, 255, 255, 0.55); }

.quicknav-h4 { top: 5px; }

.slide-nav {
    bottom: 102px;
    display: block;
    left: 150px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    position: absolute;
    text-align: left;
    width: 150px;
    z-index: 20;
}

.content-section {
    background-color: #ffffff;
    padding-bottom: 30px;

    padding-top: 20px;

}

    .content-section h1 {
        font-size:36px;
        color: #000;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    .content-section h2 {
        font-size:20px;
        color: $brandPrimary;
    }

.content-section .grey-section {
    background: #f8f8f8;
}

.featured-section {
    background-color: $featuredSection_bg;
    padding-bottom: 30px;
    padding-top: 20px;
}

.blog-intro-section {
    background-color: #ffffff;
    padding-bottom: 30px;
    padding-top: 20px;
}

.store-control {
    background-color: #d1d1d1;
    border: 1px solid #ababab;
    float: right;
    height: 123px;
    padding-left: 26px;
    padding-top: 38px;
    width: 80px;
}

.store-control:hover { background-color: #e6e6e6; }

.nav-menu {
    float: none;
    position: relative;
    text-align: right;
    width: 100%;
}

.preheader-left {
    padding-left: 5px;
    padding-top: 9px;
    text-align: left;
}

.preheader-right {
    padding-right: 0px;
    text-align: right;
}

.slider-mask {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow-x: visible;
    overflow-y: visible;
}

.aframe-content {
    background-color: $brandPrimary;
    border-radius: 200px;
    color: white;
    font-size: 16px;
    height: 420px;
    left: 30px;
    padding: 40px 60px 51px 80px;
    position: absolute;
    text-align: left;
    top: 22px;
    width: 420px;
    z-index: 10;
}

.aframe-content h1 { max-height: 116px; }

.aframe-content .slide-intro {
    max-height: 76px;
    overflow: hidden;
}

.aframe-content.subpage {
    float: right;
    height: 315px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 100px;
    position: static;
    width: 315px;
}

.aframe-content.subpage h1 {
    max-height: 116px;
    overflow: hidden;
}

.hours-ico {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 21px auto;
    color: $brandPrimary;
    display: inline-block;
    font-size: 20px;
    height: 21px;
    margin: 10px 15px 0 0;
    position: relative;
    top: 0;
    width: 21px;
}

.search-btn {
    background-color: $brandPrimary;
    color: white;
    float: right;
    height: 42px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 64px;
    z-index: 1;
}

.search-btn:hover { color: black; }

.h1-divider {
    background-color: white;
    height: 3px;
    margin-bottom: 15px;
    width: 60px;
}

.h1-divider.center {
    display: block;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
}

.qn-hours-ico {
    background-image: url('../images/houyrs-ico-main.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: 33px;
    display: inline-block;
    height: 33px;
    margin-right: 10px;
    width: 33px;
}

.qn-ico {
    background-image: url('../images/example-bg.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 125px;
    display: inline-block;
    height: 36px;
    margin-right: 10px;
    position: relative;
    top: 10px;
    width: 40px;
}

.qn-ico.hours {
    background-image: url('../images/houyrs-ico-main.png');
    background-size: 33px;
    width: 36px;
}

.qn-ico.store-dir {
    background-image: url('../images/stores-ico.png');
    background-size: 25px;
    width: 29px;
}

.qn-ico.info {
    background-image: url('../images/info-ico.png');
    background-size: 33px;
    width: 36px;
}

.qn-ico.offers {
    background-image: url('../images/offers-ico.png');
    background-size: 33px;
}

.darker-section {
    background-color: #eeecea;
    padding-bottom: 30px;
    padding-top: 30px;
}

.image-bg-section { background-color: #ffffff; }

.image-bg-section .w-container {
    padding-bottom: 10px;
    padding-top: 10px;
}

.feature-ico {
    display: block;
    font-size: 38px;
    height: 40px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    right: 10px;
    width: 40px;
}

.feature-ico.shopping {
    background-image: url('../images/shop-ico.png');
    background-size: 32px;
}

.feature-ico.eating {
    background-image: url('../images/eat-ico.png');
    background-size: 36px;
}

.feature-ico.events {
    background-image: url('../images/events-ico.png');
    background-size: 30px;
}

.feature-ico.watch {
    background-image: url('../images/watch-ico.png');
    background-size: 32px;
}

.feature-label {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.btn-arrow {
    font-family: Oswald, sans-serif;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
}

._20-padding {
    padding-left: 20px;
    padding-right: 20px;
}

.standard-img {
    /*height: 140px;*/
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.standard-img.image-one { background-image: url('../images/beans-img.png'); }

.standard-img.image-three { background-image: url('../images/shoes-img.png'); }

.standard-img.image-two { background-image: url('../images/event-img.jpg'); }

.standard-img.messina-img { background-image: url('../images/messina-img.jpg'); }

.standard-img.centre1 { background-image: url('../images/centre1.jpg'); }

.standard-img.centre2 { background-image: url('../images/centre2.jpg'); }

.standard-img.centre3 { background-image: url('../images/centre3.jpg'); }

.standard-img.centre4 { background-image: url('../images/centre-5.jpg'); }

.standard-img.centre5 { background-image: url('../images/centre6.jpg'); }

.standard-img.shopping1 { background-image: url('../images/shopping1.jpg'); }

.standard-img.shopping3 { background-image: url('../images/shopping-2.jpg'); }

.standard-img.shopping4 { background-image: url('../images/shopping3.jpg'); }

.standard-img.whatson3 { background-image: url('../images/whatson2.jpg'); }

.standard-img.eatrel1 { background-image: url('../images/eatrel-1.jpg'); }

.standard-img.eatrel2 { background-image: url('../images/eatrel2.jpg'); }

.standard-img.eatrel3 { background-image: url('../images/eatrel3.jpg'); }

.standard-img.eatrel4 { background-image: url('../images/eatrel4.jpg'); }

.standard-content {
    height: 266px;
    padding: 15px 20px 20px;
    position: relative;
}

.standard-detail {
    border-bottom: 1px solid #e5e5e5;
    height: 40px;
}

.detail-type {
    color: $brandPrimary;
    display: inline-block;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 100%;
    padding-left: 20px;
    padding-top: 8px;
    text-align: left;
    text-transform: uppercase;
    width: 50%;
}

.detail-type.deal { color: white; }

.detail-social {
    float: left;
    height: 100%;
    padding-right: 20px;
    padding-top: 10px;
    text-align: right;
    width: 50%;
}

.detail-ico {
    display: inline-block;
    font-size: 16px;
    height: 20px;
    margin-right: 5px;
    position: relative;
    top: 0px;
    width: 20px;
}

.detail-ico.event-det {
    background-image: url('../images/event-detico.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 15px;
    top: 4px;
}

.detail-ico.deal-det {
    background-image: url('../images/offers-ico-white.png');
    background-repeat: no-repeat;
    background-size: 17px;
    top: 7px;
}

.detail-ico.info-det {
    background-image: url('../images/info-ico.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 18px;
    top: 5px;
}

.detail-ico.shop-det {
    background-image: url('../images/shop-det.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 16px;
    top: 3px;
}

.detail-ico.offers-det {
    background-image: url('../images/offers-ico.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 18px;
    top: 7px;
}

.detail-ico.eat-det {
    background-image: url('../images/eat-det.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    top: 5px;
}

.detail-ico.watch-det {
    background-image: url('../images/watch-det.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 16px;
    top: 4px;
}

.detail-ico.icon-play {
    height: 20px;
    width: 20px;
}

.date {
    font-size: 14px;
    margin-bottom: 5px;
}

.deal-mod {
    background-image: url('../images/example-bg.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 203px;
    margin: 20px 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.deal-mod.deal-two { background-image: url('../images/deal-bg.png'); }

.deal-mod.deal-two:hover {
    background-image: -webkit-linear-gradient($brandPrimary, $brandPrimary), url('../images/deal-bg.png');
    background-image: -o-linear-gradient($brandPrimary, $brandPrimary), url('../images/deal-bg.png');
    background-image: linear-gradient($brandPrimary, $brandPrimary), url('../images/deal-bg.png');
    background-position: 0% 0%, 50% 50%;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
}

.deal-mod.deal-one {
    background-attachment: scroll;
    background-color: $brandPrimary;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: auto;
    height: 203px;
}

.deal-mod.deal-one:hover .deal-detail,
.deal-mod.deal-one:hover a { background-color: $brandPrimary; }

.deal-h3 {
    color: white;
    font-weight: 300;
    text-align: left;
}

.deal-detail {
    border-bottom: 1px solid white;
    height: 40px;
    position: relative;
    z-index: 2;
}

.deal-content {
    padding: 20px;
    text-align: left;
}

.deal-name {
    color: white;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}

.highlight-mod {
    background-color: white;
    height: 446px;
    margin: 20px 9px;
    position: relative;
}

.highlight-img {
    display: inline-block;
    float: left;
    height: 100%;
    width: 50%;
}

.highlight-img.highlight-food { background-image: url('../images/highlight-food.jpg'); }

.highlight-img.highlight-centre { background-image: url('../images/centre-highlight.jpg'); }

.highlight-img.iframe-dir {
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: auto;
}

.highlight-img.shopping2 { background-image: url('../images/shopping-feature2.jpg'); }

.highlight-img.whatson1 { background-image: url('../images/whatson1.jpg'); }

.highlight-img.whatson2 { background-image: url('../images/whatson3.jpg'); }

.highlight-detal {
    border-bottom: 1px solid #e5e5e5;
    display: inline-block;
    height: 40px;
    width: 50%;
}

.highlight-content {
    float: left;
    height: 403px;
    padding: 15px 20px 20px;
    position: relative;
    width: 50%;
}

.highlight-content.hours-module { line-height: 22px; }

.content { line-height: 24px; }

.mail-section {
    background-color: $newsletter_bg;
    color: $newsletter_txt;
    padding: 35px 0;
}

.search-form p {

    color: #fff;
}

#master-header .mail-section { display: none; }

.mail-section.footer-mail {
    background-color: $brandPrimary;
    color: $footer_newsleterRow_txt;
    height: auto;
    margin-bottom: 50px;
    padding-top: 10px;
}

.mail-section.deal-mail {
    background-color: #efefef;
    padding-top: 25px;
}

.mail-left {
    float: left;
    text-align: left;
    width: 50%;
}

.mail-right {
    float: left;
    position: relative;
    text-align: right;
    width: 50%;
    top:-15px;
}

.mail-form {
    padding-bottom: 0px;
    position: relative;
    text-align: left;
}

.mail-form.inline-mail {
    display: inline-block;
    margin-left: 15px;
}

.checkboxes {
    display: inline-block;
    float: left;
    font-weight: 400;
    width: 60%;
}

.checkbox-field {
    float: none;
    font-weight: 100;
    margin-bottom: 15px;
    font-size: 14px;
}

.checkbox-field.events-check { display: inline-block; }

.checkbox-field.family-check {
    display: inline-block;
    margin-right: 26px;
}

.mail-category {
    float: left;
    margin-right: 20px;
}

.back-to-top {
    bottom: 6px;
    padding-top: 20px;
    color: white;
    height: 38px;
    position: relative;
}

.back-to-top:hover { color: $brandPrimary_dark; }

.back-to-top.mobile-top { display: none; }

.up-arrow {
    font-family: Inconsolata, monospace;
    font-size: 31px;
    font-weight: 400;
    position: relative;
    top: 9px;
}

.deal-link {
    display: block;
    height: 100%;
    position: relative;
    text-decoration: none;
    z-index: 1;
}

.deal-link:hover {
    overflow-x: visible;
    overflow-y: visible;
    text-decoration: none;
}

.post-footer {
    background-color: $footer_privacy_bg;
    color: $footer_privacy_color;
    font-size: 14px;
    margin-top: 40px;
    padding-bottom: 10px;
    padding-top: 12px;

    a {
        color: $footer_privacy_color;
        &:hover {
            color: white;
        }
    }
}

.mail-footer-head { margin-bottom: 10px; }

.footer { padding-bottom: 0px; }

.footer-left { text-align: left; }

.footer-right {
    padding-left: 40px;
    text-align: left;
}

.follow-h5 {
    color: #666;
    display: inline-block;
    margin-right: 5px;
}

.sidebar-h5 {
    color: $brandPrimary;
    display: inline-block;
    margin-right: 5px;
}

.contact-col { padding-left: 40px; }

.contact-ico {
    display: inline-block;
    font-size: 21px;
    height: 25px;
    line-height: 28px;
    margin-right: 15px;
    position: relative;
    top: 3px;
    width: 25px;
}


.contact-ico.hours-info {
    background-image: url('../images/houyrs-ico-main.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 21px;
}

.contact-ico.location-info {
    background-image: url('../images/stores-ico.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 16px;
}

.feature-h2 { font-weight: 400; color:#FFFFFF !important; }

.slide-intro { margin-bottom: 12px; }

.mobile-hours { display: none; }

.subpage-feature {
    height: 460px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 70px;
    padding-top: 70px;
    position: relative;
}

.subpage-feature.dining-feature { background-image: url('../images/dining-feature.jpg'); }

.subpage-feature.messina-feature { background-image: url('../images/messina-bg_1.jpg'); }

.subpage-feature.centreinfo-feature { background-image: url('../images/centreinfo-header.jpg'); }

.subpage-feature.cinema-feature { background-image: url('../images/cinema-feature.jpg'); }

.subpage-feature.directory-feature { background-image: url('../images/locator-feature.jpg'); }

.subpage-feature.shopping-feature { background-image: url('../images/shopping-feature.jpg'); }

.subpage-feature.offers-feature { background-image: url('../images/offers-feature.jpg'); }

.bread-libk {
    color: $brandPrimary;
    text-decoration: none;
}

.dining-intro {
    background-color: white;
    padding-bottom: 70px;
}

.intro-img {
    background-image: url('../images/example-bg.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 208px;
    margin-left: auto;
    margin-right: auto;
    width: 290px;
}

.intro-img.dining-intro-img { background-image: url('../images/dining-img_1.jpg'); }

.intro-h1 {
    color: black;
    font-family: Open Sans;
    font-size: 36px;
    line-height: 36px;
    margin-top: 0px;
}

.tabs-section {
    padding-bottom: 40px;
    padding-top: 40px;
}

.tab-link {
    -o-transition: opacity 200ms ease;
    -webkit-transition: opacity 200ms ease;
    background-color: white;
    border-right: 1px solid #e5e5e5;
    color: #666;
    float: left;
    font-size: 24px;
    padding: 20px;
    text-align: center;
    transition: opacity 200ms ease;
    width: 25%;
}

.tab-link:hover { opacity: 0; }

.tab-link.w--current { opacity: 0; }

.tab-link.deal-tab {
    -o-transition-property: background-color;
    -webkit-transition-property: background-color;
    transition-property: background-color;
}

.tab-link.deal-tab:hover {
    background-color: $brandPrimary;
    color: white;
    opacity: 1;
}

.tab-link.deal-tab.w--current {
    background-color: $brandPrimary;
    color: white;
    opacity: 1;
}

.tabs-menu {
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    margin-left: 20px;
    margin-right: 20px;
}

.active-tabs {
    border-bottom: 1px solid #e5e5e5;
    bottom: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.active-tab {
    background-color: white;
    /*background-image: url('../images/example-bg.png');*/
    background-position: 50% 50%;
    background-size: cover;
    border-right: 1px solid #e5e5e5;
    color: white;
    float: left;
    font-size: 24px;
    padding: 20px;
    position: relative;
    width: 25%;
}

.clear { clear: both; }

/*.active-tab.all-tab {
  padding: 20px;
  background-image: url('../images/all-tab.jpg');
}
.active-tab.restaraunts-tab {
  padding: 20px;
  background-image: url('../images/restaraunt-tab.jpg');
}
.active-tab.cafes-tab {
  padding: 20px;
  background-image: url('../images/cafe-tab.jpg');
  color: white;
}
.active-tab.bars-tab {
  background-image: url('../images/bar-tab.jpg');
}*/

.tabs-menu img {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
}

.tabs-menu .active-tab {
    color: #666;
    text-decoration: none;
}

.tabs-menu .active-tab.current-tab .text,
.tabs-menu .active-tab:hover .text { position: absolute; }

.tabs-menu .active-tab.current-tab,
.tabs-menu .active-tab:hover {
    color: white;
    text-decoration: none;
}

.tabs-menu .active-tab.current-tab img,
.tabs-menu .active-tab:hover img { display: block; }

.tabs-menu div {
    left: 0;
    position: absolute;
    top: 0;
}

.w-tab-menu.tabs-menu {
    height: 66px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.tabs-content { padding-top: 20px; }

.related-h3 {
    color: #666;
    font-weight: 600;
    margin-bottom: 30px;
    padding-left: 9px;
    padding-right: 9px;
}

._10-padding {
    padding-left: 11px;
    padding-right: 11px;
}

.info-module { background-color: #f8f8f8; }

.info-detail { padding: 20px; }

.info-detail.centre-info { padding: 0px; }

.info-mod-title {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 3px;
}

.sublist {
    font-weight: 300;
    padding-left: 27px;
}

.info-li {
    display: block;
    margin-top: 5px;
}

.hours { margin-bottom: 0px; }

.hours-day {
    float: left;
    width: 30%;
}

.hours-col {
    float: left;
    text-align: left;
    width: 70%;
}

.feature-map { height: 100%; }

.iframe-cinema {
    background-color: white;
    margin-bottom: 60px;
}

.subpage-content { padding-bottom: 60px; }

.iframe-directory { background-color: white; }

.deal-list {
    list-style-type: disc;
    margin-bottom: 15px;
    padding-left: 20px;
}

.deal-mail { text-align: center; }

.search-blank {
    background-color: transparent;
    border: 0px solid black;
    margin-top: 4px;
    padding-left: 0px;
}

.search-wrapper {
    float: left;
    padding-left: 10px;
    position: absolute;

    input {
        color: white;
    }
}



.search-container {
    background-color: $brandPrimary;
    bottom: 0px;
    display: block;
    float: right;
    height: 42px;
    position: relative;
    top: 0px;
    width: 66px;
}

.mobile-menu { display: none; }

.mask {
    overflow-x: hidden;
    overflow-y: hidden;
}

.mobile-signup { display: none; }

.more-results {
    padding-left: 20px;
    padding-top: 10px;
}

.returns { display: none; }

.icon-open_hours.quicknav-ico {
    color: #ffffff;
    display: inline-block;
    font-size: 34px;
    height: 36px;
    margin-right: 20px;
    position: relative;
    top: 10px;
    width: 36px;
}

.icon-open_hours.preheader-hours {
    color: #ffffff;
    display: inline-block;
    height: 21px;
    margin-right: 5px;
    width: 21px;
}

.quicknav-ico {
    color: #ffffff;
    display: inline-block;
    font-size: 34px;
    height: 36px;
    margin-right: 20px;
    position: relative;
    top: 10px;
    width: 36px;
}

.icon-desk_signup {
    font-size: 84px;
    height: 100%;
    padding-right: 13px;
    /*padding-top: 3px;*/
    position: relative;
    top: -23px;
    width: 100%;
}

.icon-search.desktop-search {
    font-size: 24px;
    height: 100%;
    padding-top: 3px;
    position: relative;
    right: 3px;
    top: 6px;
    width: 100%;
}

.contactus-block {
    display: inline-block;
    float: right;
    font-weight: 600;
    line-height: 42px;
    padding: 0px 20px;
    text-transform: uppercase;
}

.contactus-block a, .contactus-block a:hover {
    text-decoration:none;
    color: inherit;
}

.followus-block {
    display: inline-block;
    float: right;
    font-weight: 600;
    line-height: 42px;
    padding: 0px;
    text-transform: uppercase;
}

.followus-block .social-link {
    line-height: 42px;
    vertical-align: top;
}

.watch-text { display: inline-block; }

.watch-btn {
    display: inline-block;
    float: none;
}

.new-mask {
    overflow-x: visible;
    overflow-y: visible;
}

.afeature-content.content-1 {
    background-color: $brandPrimary;
    position: absolute;
}

.content-container {
    height: 260px;
    position: relative;
    top: 20px;
    width: 280px;
}

.afeature-content.content-2 {
    background-color: $brandPrimary;
    display: none;
    position: absolute;
    /*opacity: 0;*/
}

.afeature-content.content-3 {
    background-color: $brandPrimary;
    display: none;
    position: absolute;
    /*opacity: 0;*/
}

.afeature-content.content-4 {
    background-color: $brandPrimary;
    display: none;
    position: absolute;
    /*opacity: 0;*/
}

.error {
    display: none;
    opacity: 0;
}

.main-module-img {
    bottom: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.lower-modular-img {
    height: 200px;
    left: 0px;
    position: absolute;
    top: 0px;
}

.module-3 {
    left: 0px;
    position: absolute;
    top: 0px;
}

.module-3 .gradient {
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.module-2 {
    float: left;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 50%;
}

.module-2-absolute {
    height: 100%;
    position: absolute;
    width: 318px;
}

.module-4 {
    height: 140px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.module-4-absolute {
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.module-5 {
    height: 208px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 290px;
}

.module-5-absolute { position: absolute; }

.header--absolute {
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    /*min-width: 1662px;*/
    text-align: center;
    top: 0px;
    width: 100%;
    z-index: -1;
}

.header-img { width: 100%; }

.frame {
    min-width: 960px;
    position: absolute;
    width: 100%;
}

.frame-img { width: 100%; }

/*
html.w-mod-js *[data-ix="navbarstart"] {
  -webkit-transform: translate(0px, -58px);
  -ms-transform: translate(0px, -58px);
  -o-transform: translate(0px, -58px);
  transform: translate(0px, -58px);
}
html.w-mod-js *[data-ix="contentstart"] {
  -webkit-transform: translate(0px, -104px);
  -ms-transform: translate(0px, -104px);
  -o-transform: translate(0px, -104px);
  transform: translate(0px, -104px);
}
html.w-mod-js *[data-ix="menustart"] {
  display: none;
  -webkit-transform: translate(-100%, 0px);
  -ms-transform: translate(-100%, 0px);
  -o-transform: translate(-100%, 0px);
  transform: translate(-100%, 0px);
}
html.w-mod-js *[data-ix="mobmailstart"] {
  display: none;
  -webkit-transform: translate(100%, 0px);
  -ms-transform: translate(100%, 0px);
  -o-transform: translate(100%, 0px);
  transform: translate(100%, 0px);
}
*/

html.w-mod-js *[data-ix="slideonsecond"] { opacity: 0.3; }

html.w-mod-js *[data-ix="slideonthird"] { opacity: 0.3; }

html.w-mod-js *[data-ix="slideonforth"] { opacity: 0.3; }

.slider-frame .mobile-wide img { margin-top: 45px; }

.slider-frame .mobile img { margin-top: 27px; }

.footer-signup-button {
    color: $brandPrimary_dark;
    display: block;
    padding: 6px 23px;
    text-decoration: none;
    background-color: $btnStrong_bg;
}

.footer-signup-button:hover {
    color: white;
    background-color: $brandPrimary_dark;
}

.header-signup-button {
    color: $btnStrong_txt;
    display: block;
    padding: 6px 23px;
    text-decoration: none;
}

.header-signup-button:hover { color: black; }

#email-form .button.strong { padding: 0; }

#topnav .w-form-loading {
    display: none;
    padding: 10px 0px;
    text-align: left;
}

#topnav .w-form-done {
    display: none;
    padding: 10px 0px;
    text-align: left;
}

#topnav .w-form-fail {
    display: none;
    padding: 10px 0px;
    text-align: left;
}

#master-footer .w-form-done {
    background-color: none;
    display: none;
    padding: 10px;
}

#master-footer .w-form-fail {
    background-color: none;
    display: none;
    margin-top: 10px;
    padding: 10px;
}

@media (max-width: 991px) {
    h1 { font-size: 36px; }

    h2 { font-size: 28px; }

    h3 { font-size: 21px; }

    h4 { font-size: 14px; }

    .button.reversed { margin-right: 0px; }

    .button.strong { margin-right: 10px; }

    .button.strong.footer-signup {
        float: right;
        margin-right: 0px;
        margin-top: 15px;
    }

    .nav-link {
        font-size: $primaryNav_fontSize_mobile;
        height: 100%;
        padding: 30px 16px;
        text-align: center;
    }

    .pre-nav {
        padding-top: 0px;
        width: 100.4%;
    }

    .logo {
        display: block;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    .logo.w--current {
        display: block;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    .logo.mobile-logo {
        display: none;
        left: 23px;
    }

    .logo.desktop-logo {
        display: block;
        float: left;
        height: 58px;
        top: 10px;
        width: 200px;
    }

    .logo.desktop-logo.w--current {
        display: block;
        top: 10px;
    }

    .aframe { height: 464px; }

    .mod-large {
        display: block;
        height: 270px;
        position: relative;
        width: 335px;
    }

    .nav-container {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0px;
        padding-top: 0px;
        width: 100%;
    }

    .preheader {
        display: block;
        width: 100%;
    }

    .search-field {
        float: right;
        margin-right: 0px;
        width: 234px;
    }

    .search-field.deal-field {
        float: none;
        margin-right: 10px;
        width: 196px;
    }

    .search-field.top-mail {
        float: none;
        margin-right: 19px;
        color: $newsletter_input;
    }

    .slider-frame {
        background-position: 50% 50%;
        background-size: auto;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .quick-nav-block {
        display: inline-block;
        padding-bottom: 11px;
        padding-top: 11px;
    }

    .quick-nav-container { width: 100%; }

    .mod-small {
        height: 496px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .close-block { margin-bottom: 5px; }

    .med-mod {
        height: 249px;
        width: 194px;
    }

    .menu-button {
        float: left;
        font-size: 26px;
    }

    .quicknav-h4 { font-size: 13px; }

    .slide-nav {
        bottom: 95px;
        left: 133px;
    }

    .store-control { height: 127px; }

    .nav-menu {
        bottom: 0px;
        display: block;
        float: none;
        height: 75px;
        left: 0px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 5px;
        position: static;
        right: 0px;
        top: 0px;
        width: auto;
    }

    .preheader-left { padding-left: 10px; }

    .preheader-right { padding-right: 0px; }

    .aframe-content {
        height: 400px;
        padding: 34px 60px 34px 75px;
        width: 400px;
    }

    /*.standard-img {
    height: 115px;
  }*/
    .standard-content { height: 317px; }

    .detail-type {
        font-size: 13px;
        padding-left: 9px;
        width: 55%;
    }

    .detail-social {
        padding-right: 11px;
        width: 45%;
    }

    .deal-mod { height: 239px; }

    .deal-mod.deal-one {
        height: 228px;
        margin-left: 0px;
        margin-right: 0px;
        /*margin-bottom: 30px;*/
    }

    .highlight-mod {
        height: 496px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .highlight-content { height: 466px; }

    .mail-section { display: block; }

    .mail-section.footer-mail { padding-bottom: 25px; }

    .mail-section.deal-mail {
        padding-bottom: 10px;
        /*height: 114px;*/
        padding-top: 10px;
    }

    .mail-left { width: 70%; }

    .mail-right { width: 30%; }

    .mail-form { text-align: left; }

    .mail-form.inline-mail { width: 389px; }

    .checkbox-field { font-size: 14px; }

    .footer-right { padding-left: 11px; }

    .contact-col { padding-left: 11px; }

    .intro-img.dining-intro-img {
        height: 160px;
        width: auto;
    }

    .tabs-menu {
        margin-left: 0px;
        margin-right: 0px;
    }

    .sublist {
        font-size: 14px;
        line-height: 26px;
    }

    .info-li { display: block; }

    .search-wrapper { padding-left: 5px; }

    .search-container {
        max-width: 160px;
        width: 66px;
    }

    .mobile-menu { display: none; }

    .mobile-signup { display: none; }

    .more-results { text-align: left; }

    .phone-number { color: $brandPrimary; }

    .content-container { width: 260px; }

    .signup-heading {
        text-align: left;
        top: 13px;
        width: 252px;
    }

    .main-module-img {
        bottom: auto;
        display: block;
        margin-left: auto;
        /*width: 445px;*/
        margin-right: auto;
        position: absolute;
        /*left: -15%;*/
        top: 0px;
    }

    .full-img {
        height: 100%;
        width: 100%;
    }

    .lower-modular-img { height: 239px; }

    .module-3 {
        height: 239px;
        /*left: -50px;
    width: 305px;*/
        width: 100%;
    }

    .module-3-img {
        height: 100%;
        width: 100%;
    }

    .module-2-img { height: 100%; }

    .module-2-absolute {
        /*left: -60px;
    width: 388px;*/
    }

    .module-2-absolute img { height: 100%; }

    .module-5-absolute { /*left: -20px;*/ }

    .frame { /*right: -40px;*/ }

    #master-footer .social-list { left: 11px; }
}

@media (max-width: 767px) {
    body { font-size: 16px; }

    h1 {
        font-size: 34px;
        margin-top: 10px;
    }

    h2 {
        font-size: 26px;
        text-align: center;
    }

    h3 { font-size: 24px; }

    h5 {
        display: block;
        text-align: left;
    }

    p { display: inline-block; }

    .button.block-center { display: none; }

    .button.grey { position: static; }

    .button.strong {
        float: none;
        top: 7px;
    }

    .button.strong.footer-signup {
        bottom: 30px;
        right: 0px;
        top: auto;
        float: left;
    }

    .button.strong.footer-signup.rsults { float: none; }

    .navbar {
        height: 53px;
        top: 0px;
    }

    .pre-nav { display: none; }

    .logo.mobile-logo {
        background-image: url('../images/#{$siteLogo}');
        background-repeat: no-repeat;
        display: block;
        height: $logo_height_mobile;
        left: 0px;
        width: $logo_width_mobile;
        margin-top: 5px;
    }

    .aframe {
        height: 160px;
        margin-bottom: 261px;
        margin-top: 0px;
        position: relative;
    }

    .mod-large {
        height: 250px;
        width: 250px;
    }

    .mod-large.shops-module {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .mod-large.eat-module {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .mod-large.events-module {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .mod-large.watch-module {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .nav-container {
        padding-bottom: 0px;
        padding-top: 0px;
        position: relative;
    }

    .social-link {
        margin-left: 10px;
        margin-right: 10px;
    }

    .search-field {
        color: black;
        margin-bottom: 30px;
        margin-top: 20px;
        width: 100%;
    }

    .search-field.deal-field {
        float: left;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-top: 10px;
        width: 60%;
    }

    .slider-frame {
        background-position: 50% 50%;
        background-size: cover;
        border-left-style: none;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        text-align: center;
    }

    .quick-nav { height: auto; }

    .quick-nav-block {
        padding-bottom: 23px;
        padding-top: 12px;
    }

    .link-block.feature-block { padding-top: 71px; }

    .mod-small {
        height: auto;
        margin: 15px 10px;
    }

    .map-block {
        display: none;
        padding-left: 20px;
        padding-right: 20px;
    }

    .crumbs-block {
        margin-bottom: 30px;
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .med-mod {
        background-position: 50% 50%;
        background-size: cover;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
        width: auto;
    }

    .menu-button {
        border-right: 1px solid #e5e5e5;
        display: block;
        height: 53px;
        padding: 9px 12px;
        width: 60px;
    }

    .menu-button.mail-menu {
        border-left: 1px solid #e5e5e5;
        border-right-style: none;
        display: block;
        float: right;
        height: 53px;
    }

    .menu-button.mail-menu.icon-mob_signup {
        color: #999;
        font-size: 46px;
        text-align: center;
        text-decoration: none;
    }

    .slider-arrow { display: none; }

    .quicknav-h4 { display: none; }

    .slide-nav {
        bottom: -249px;
        display: block;
        left: 15px;
        padding-top: 20px;
    }

    .footer-li { text-align: center; }

    .footer-mid {
        border-bottom: 1px none #a3a3a3;
        border-top: 1px none #a3a3a3;
        margin-bottom: 10px;
        margin-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-top: 10px;
    }

    .followus-block {
        float: left;
        color: $footer_nav_txt_color;
    }

    .followus-fb-icon {
        float: left;
        line-height: 42px;
    }

    .featured-section { display: block; }

    .store-control {
        height: 92px;
        padding-top: 24px;
    }

    .nav-menu {
        bottom: 23px;
        display: inline-block;
        position: relative;
        top: -16px;
    }

    .slider-mask {
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .aframe-content {
        border-radius: 0px;
        border-top-style: solid;
        border-top-width: 3px;
        bottom: 0px;
        height: 260px;
        left: 0px;
        padding: 15px 20px;
        right: 0px;
        top: 160px;
        width: 100%;
    }

    .aframe-content.subpage {
        bottom: auto;
        float: none;
        height: auto;
        left: 0px;
        padding-bottom: 10px;
        padding-top: 10px;
        position: static;
        right: 0px;
        top: 75px;
        width: 100%;
    }

    .h1-divider.center { display: none; }

    .qn-ico.hours {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .qn-ico.store-dir {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .qn-ico.info {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .qn-ico.offers {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .darker-section { padding-bottom: 41px; }

    .feature-ico.shopping {
        background-size: 52px;
        height: 70px;
        width: 70px;
    }

    .feature-ico.eating {
        background-size: 56px;
        height: 70px;
        width: 70px;
    }

    .feature-ico.events {
        background-size: 40px;
        height: 70px;
        width: 70px;
    }

    .feature-ico.watch {
        background-size: 42px;
        height: 70px;
        width: 70px;
    }

    .feature-label {
        font-size: 26px;
        line-height: 24px;
    }

    ._20-padding.left-feature { padding-right: 11px; }

    ._20-padding.right-feature {
        display: block;
        padding-left: 10px;
    }

    .standard-content { height: auto; }

    .detail-type { padding-left: 20px; }

    .detail-social { padding-right: 20px; }

    .deal-mod.deal-two {
        height: auto;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .deal-mod.deal-one {
        height: auto;
        margin: 15px 10px;
    }

    .highlight-mod {
        height: auto;
        margin: 15px 10px;
    }

    .highlight-img { display: none; }

    .highlight-img.highlight-food { display: none; }

    .highlight-img.highlight-centre { display: none; }

    .highlight-detal { width: 100%; }

    .highlight-content {
        height: auto;
        width: 100%;
    }

    .content { /*margin-top: 104px;*/ }

    .mail-section { display: none; }

    .mail-section.footer-mail {
        display: block;
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .mail-section.deal-mail {
        display: block;
        height: 142px;
    }

    .mail-form { text-align: left; }

    .mail-form.inline-mail {
        margin-left: 0px;
        width: 499px;
    }

    .checkboxes { width: 60%; }

    .checkbox-field.family-check { margin-right: 125px; }

    /*.checkbox-column {
    width: 61%;
  }
  .checkbox-column.third {
    width: 100%;
  }*/

    .post-footer {
        font-size: 12px;
        margin-top: 30px;
    }

    .footer { text-align: left; }

    .footer-left { padding-left: 20px; }

    .footer-right {
        padding-left: 20px;
        text-align: left;
    }

    .contact-col { padding-left: 20px; }

    .footer-first { padding-left: 20px; padding-top: 20px; }

    .feature-h2 { display: none; }

    .slide-intro { display: none; }

    .nav-icon {
        color: $brandPrimary;
        font-size: 36px;
    }

    .nav-col {
        padding-left: 0px;
        padding-right: 0px;
    }

    .mobile-hours {
        background-color: #000000;
        color:#ffffff;
        display: block;
        height: 45px;
        padding-top:10px;
        padding-left: 20px;
        padding-right: 20px;
        text-transform: uppercase;
    }

    .subpage-feature {
        height: auto;
        margin-top: 42px;
        padding-bottom: 0px;
        padding-top: 149px;
    }

    .dining-intro { padding-bottom: 30px; }

    .intro-img.dining-intro-img {
        display: none;
        margin-left: 4px;
        margin-right: 4px;
    }

    .intro-h1 { line-height: 44px; }

    .tab-link {
        font-size: 16px;
        width: 25%;
    }

    .tab-link.w--current {
        font-size: 16px;
        text-align: center;
    }

    .tab-link.cafes-inactive {
        padding-left: 20px;
        text-align: center;
    }

    .tab-link.others-inactive { text-align: center; }

    .tabs-menu {
        margin-left: 20px;
        margin-right: 20px;
    }

    .active-tabs { position: absolute; }

    .active-tab.all-tab {
        /*background-color: $brandPrimary;*/
        background-image: none;
        background-position: 0% 0%;
        background-size: auto;
    }

    .active-tab.restaraunts-tab {
        background-color: $brandPrimary;
        background-image: none;
        background-position: 0% 0%;
        background-size: auto;
        font-size: 16px;
        text-align: center;
        width: 25%;
    }

    .active-tab.cafes-tab {
        background-color: $brandPrimary;
        background-image: none;
        background-position: 0% 0%;
        background-size: auto;
        font-size: 16px;
        text-align: center;
    }

    .active-tab.bars-tab {
        background-color: $brandPrimary;
        background-image: none;
        background-position: 0% 0%;
        background-size: auto;
        font-size: 16px;
        text-align: center;
    }

    .related-h3 {
        margin-bottom: 20px;
        padding-left: 20px;
    }

    ._10-padding {
        padding-left: 20px;
        padding-right: 20px;
    }

    .info-module {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .iframe-cinema {
        margin-bottom: 0px;
        margin-left: 21px;
        margin-right: 21px;
    }

    .iframe-directory {
        margin-left: 20px;
        margin-right: 20px;
    }

    .deal-mail {
        color: black;
        padding-left: 10px;
        padding-right: 10px;
        text-align: left;
    }

    .mobile-menu {
        background-color: #272727;
        bottom: 0px;
        display: none;
        height: 100vh;
        left: 0px;
        padding-left: 17%;
        position: fixed;
        right: 0px;
        top: 0px;
        z-index: 0;
    }

    .mobile-search {
        background-color: white;
        border: 0px solid black;
        border-radius: 0px;
    }

    .mobile-search-block {
        background-color: #333;
        height: 53px;
        padding: 7px 20px;
        position: relative;
    }

    .mobile-nav {
        color: white;
        font-weight: 600;
        padding: 10px 21px;
        text-decoration: none;
        text-transform: uppercase;
        width: 100%;
    }

    .mobile-nav:hover { color: $brandPrimary; }

    .mask {
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .mob-search-ico {
        bottom: 0px;
        color: #999;
        height: 21px;
        position: absolute;
        right: 32px;
        top: 15px;
        width: 20px;
    }

    .mobile-share {
        bottom: 60px;
        left: 100px;
        margin-top: 40px;
        padding-left: 20px;
        position: static;
        right: 0px;
    }

    .mobile-signup {
        background-color: #e5e5e5;
        bottom: 0px;
        display: none;
        left: 0px;
        padding-left: 10px;
        padding-right: 17%;
        padding-top: 10px;
        position: fixed;
        right: 0px;
        top: 0px;
        z-index: 1001;
    }

    .more-results {
        padding-top: 38px;
        text-align: center;
    }

    .tab-returns {
        color: $brandPrimary;
        margin-left: 16px;
        margin-right: 16px;
    }

    .tab-returns:hover { color: black; }

    .returns {
        display: block;
        padding-top: 35px;
        text-align: center;
    }

    .store-info { padding-top: 15px; }

    .icon-search {
        font-size: 21px;
        right: 38px;
    }

    .content-container { top: 0px; }

    .icon-mob_signup {
        bottom: 4px;
        color: #999;
        font-size: 40px;
        height: 100%;
        position: relative;
        right: 16px;
        width: 100%;
    }

    .mob_signup-container {
        float: right;
        width: 60px;
    }

    .signup-heading {
        top: 0px;
        width: auto;
    }

    .main-module-img { display: block; }

    .module-3 {
        height: 450px;
        /*top: -70px;
    width: 578px;*/
        width: 100%;
    }

    .module-3 img { width: 100%; }

    .module-4-img { width: 100%; }

    .module-4-absolute {
        height: 350px;
        /*top: -60px;*/
        width: 100%;
    }

    .module-4-absolute img { width: 100%; }

    .module-5 { display: none; }

    .header--absolute { min-width: 700px; }

    .frame {
        min-width: 700px;
        right: 0px;
    }

    #master-footer .contact-col {
        min-height: auto;
        position: inherit;
    }

    #master-footer .social-list {
        bottom: inherit;
        left: inherit;
        position: inherit;
    }
}

@media (max-width: 479px) {
    h1 {
        font-size: 34px;
        margin-top: 5px;
    }

    h2 {
        font-size: 22px;
        margin-top: 4px;
    }

    h3 { font-size: 24px; }

    h4 { font-size: 16px; }

    .button.strong { top: 0px; }

    .navbar { height: 53px; }

    .logo {
        left: -17px;
        position: absolute;
        right: 0px;
        top: 0px;
        width: 150px;
    }

    .logo.w--current {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .logo.mobile-logo.w--current {
        height: $logo_height_mobile;
        left: 0px;
        width: $logo_width_mobile;
    }

    .aframe {
        height: 160px;
        margin-top: 0px;
    }

    .mod-large {
        height: 130px;
        width: 130px;
    }

    .mod-large.shops-module {
        height: 130px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .mod-large.eat-module {
        height: 130px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .mod-large.events-module {
        height: 130px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .mod-large.watch-module {
        height: 130px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .social-link {
        margin-left: 5px;
        margin-right: 5px;
    }

    .social-link.twitter {
        margin-left: 0px;
        margin-right: 0px;
    }

    .search-field { width: 100%; }

    .search-field.deal-field {
        float: left;
        margin-bottom: 10px;
        margin-top: 10px;
        width: 100%;
    }

    .slider-frame { padding-top: 18px; }

    .quick-nav-block { padding: 8px 0px 29px; }

    .link-block.feature-block { padding: 22px 0px 0px; }

    .mod-small {
        background-position: 50% 50%;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .crumbs-block { padding-left: 0px; }

    .med-mod {
        margin-left: 10px;
        margin-right: 10px;
        width: auto;
    }

    .menu-button {
        padding-left: 12px;
        padding-right: 12px;
        width: 60px;
    }

    .slider-arrow { display: none; }

    .slide-nav {
        bottom: -247px;
        display: block;
    }

    .store-control {
        height: 60px;
        padding-left: 17px;
        padding-top: 12px;
        width: 60px;
    }

    .aframe-content {
        border-radius: 0px;
        height: 260px;
        position: absolute;
        width: 100%;
    }

    .aframe-content.subpage { float: none; }

    .qn-ico.hours {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .qn-ico.store-dir {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .qn-ico.info {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .qn-ico.offers {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .darker-section {
        padding-bottom: 21px;
        padding-top: 25px;
    }

    .feature-ico.events { margin-bottom: 0px; }

    .feature-label {
        display: block;
        font-size: 22px;
        margin-left: auto;
        margin-right: auto;
        text-transform: uppercase;
        width: 90px;
    }

    .detail-social { padding-right: 15px; }

    .deal-mod.deal-two { margin-top: 30px; }

    .deal-mod.deal-one {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
    }

    .mail-section.deal-mail { height: 215px; }

    .mail-left { width: auto; }

    .mail-form.inline-mail { width: 100%; }

    .checkboxes { width: 100%; }

    .checkbox-field.family-check { margin-right: 103px; }

    .back-to-top { display: none; }

    .back-to-top.mobile-top {
        display: inline-block;
        float: right;
        transform: translateY(-170%);
    }

    .subpage-feature.messina-feature { padding-top: 121px; }

    .intro-h1 { line-height: 44px; }

    .tab-link {
        font-size: 14px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
        width: 55px;
    }

    .tab-link.w--current {
        font-size: 14px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
        width: 55px;
    }

    .tab-link.deal-tab {
        font-size: 12px;
        padding: 15px 9px;
        width: 73px;
    }

    .tab-link.deal-tab.w--current { width: 76px; }

    .tab-link.restaurant-inactive {
        font-size: 14px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
        width: 98px;
    }

    .tab-link.cafes-inactive {
        font-size: 14px;
        padding-left: 0px;
        text-align: center;
        width: 71px;
    }

    .tab-link.others-inactive { width: 72px; }

    .tabs-menu {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 93%;
    }

    .active-tab.all-tab { }

    .active-tab.restaraunts-tab {
        background-color: $brandPrimary;
        background-image: none;
        background-position: 0% 0%;
        background-size: auto;
        font-size: 14px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
        width: 98px;
    }

    .active-tab.cafes-tab {
        background-color: $brandPrimary;
        font-size: 14px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
        width: 71px;
    }

    .active-tab.bars-tab {
        background-color: $brandPrimary;
        font-size: 14px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
        width: 72px;
    }

    ._10-padding {
        padding-left: 20px;
        padding-right: 20px;
    }

    .iframe-cinema {
        margin-bottom: 0px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .mobile-menu {
        height: 100vh;
        padding-left: 18%;
        z-index: 0;
    }

    .mobile-search { border-radius: 0px; }

    .mobile-share {
        bottom: 70px;
        left: 54px;
        position: static;
        right: 0px;
    }

    .mobile-signup {
        padding-right: 20%;
        z-index: 10;
    }

    .tab-returns {
        margin-left: 3px;
        margin-right: 3px;
    }

    .returns { padding-top: 0px; }

    .module-4-absolute { top: 0px; }

    .frame { min-width: 440px; }

    #master-footer .checkbox-field.mail-category {
        margin-right: 0px;
        width: 50%;
    }


    #master-footer .contact-col {
        min-height: auto;
        position: inherit;
    }

    #master-footer .social-list {
        bottom: inherit;
        left: inherit;
        position: inherit;
    }
}

a {
    /*color: $brandPrimary  !important;*/
    text-decoration: underline;
    /*cursor: auto; WHY IS THIS HERE? Doesn't work on FF */
}

/*@font-face {
  font-family: 'Pistilli';
  src: url('../fonts/pistilli.otf') format('undefined');
  font-weight: 400;
  font-style: normal;
}*/

/*@font-face {
  font-family: 'Spiffily';
  src: url('../images/Nick%27s%20Fonts%20-%20Spiffily%20NF.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}*/

.underline {
    text-decoration: underline;
}
.font-co-black {
    color:black;
    font-weight: 600;
}