@charset "UTF-8";

 
.icon-blog:before { content: '\e800'; } /* '' */
.icon-bus:before { content: '\e801'; } /* '' */
.icon-info:before { content: '\e802'; } /* '' */
.icon-close:before { content: '\e803'; } /* '' */
.icon-desk_signup:before { content: '\e804'; } /* '' */
.icon-document:before { content: '\e805'; } /* '' */
.icon-drink:before { content: '\e806'; } /* '' */
.icon-eat:before { content: '\e807'; } /* '' */
.icon-email:before { content: '\e808'; } /* '' */
.icon-facebook:before { content: '\e809'; } /* '' */
.icon-function:before { content: '\e80a'; } /* '' */
.icon-gallery:before { content: '\e80b'; } /* '' */
.icon-instagram:before { content: '\e80c'; } /* '' */
.icon-link:before { content: '\e80d'; } /* '' */
.icon-location:before { content: '\e80e'; } /* '' */
.icon-mob_nav:before { content: '\e80f'; } /* '' */
.icon-mob_signup:before { content: '\e810'; } /* '' */
.icon-offers:before { content: '\e811'; } /* '' */
.icon-opening_hours:before { content: '\e812'; } /* '' */
.icon-phone:before { content: '\e813'; } /* '' */
.icon-pinterest:before { content: '\e814'; } /* '' */
.icon-plane:before { content: '\e815'; } /* '' */
.icon-play:before { content: '\e816'; } /* '' */
.icon-print:before { content: '\e817'; } /* '' */
.icon-rss:before { content: '\e818'; } /* '' */
.icon-share:before { content: '\e819'; } /* '' */
.icon-search:before { content: '\e81a'; } /* '' */
.icon-shop:before { content: '\e81b'; } /* '' */
.icon-taxi:before { content: '\e81c'; } /* '' */
.icon-train:before { content: '\e81d'; } /* '' */
.icon-walk:before { content: '\e81f'; } /* '' */
.icon-whats_on:before { content: '\e820'; } /* '' */
.icon-dollar:before { content: '\e821'; } /* '' */
.icon-games:before { content: '\e822'; } /* '' */
.icon-music:before { content: '\e823'; } /* '' */
.icon-sports:before { content: '\e824'; } /* '' */
.icon-kids:before { content: '\e825'; } /* '' */
.icon-twitter:before { content: '󨈞'; } /* '\e821e' */