@charset "UTF-8";

 @font-face {
  font-family: 'vinta';
  src: url('../font/vinta.eot?80180541');
  src: url('../font/vinta.eot?80180541#iefix') format('embedded-opentype'),
       url('../font/vinta.woff2?80180541') format('woff2'),
       url('../font/vinta.woff?80180541') format('woff'),
       url('../font/vinta.ttf?80180541') format('truetype'),
       url('../font/vinta.svg?80180541#vinta') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'vinta';
    src: url('../font/vinta.svg?80180541#vinta') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "vinta";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-blog:before { content: '\e800'; } /* '' */
.icon-bus:before { content: '\e801'; } /* '' */
.icon-info:before { content: '\e802'; } /* '' */
.icon-close:before { content: '\e803'; } /* '' */
.icon-desk_signup:before { content: '\e804'; } /* '' */
.icon-document:before { content: '\e805'; } /* '' */
.icon-drink:before { content: '\e806'; } /* '' */
.icon-eat:before { content: '\e807'; } /* '' */
.icon-email:before { content: '\e808'; } /* '' */
.icon-facebook:before { content: '\e809'; } /* '' */
.icon-function:before { content: '\e80a'; } /* '' */
.icon-gallery:before { content: '\e80b'; } /* '' */
.icon-instagram:before { content: '\e80c'; } /* '' */
.icon-link:before { content: '\e80d'; } /* '' */
.icon-location:before { content: '\e80e'; } /* '' */
.icon-mob_nav:before { content: '\e80f'; } /* '' */
.icon-mob_signup:before { content: '\e810'; } /* '' */
.icon-offers:before { content: '\e811'; } /* '' */
.icon-opening_hours:before { content: '\e812'; } /* '' */
.icon-phone:before { content: '\e813'; } /* '' */
.icon-pinterest:before { content: '\e814'; } /* '' */
.icon-plane:before { content: '\e815'; } /* '' */
.icon-play:before { content: '\e816'; } /* '' */
.icon-print:before { content: '\e817'; } /* '' */
.icon-rss:before { content: '\e818'; } /* '' */
.icon-share:before { content: '\e819'; } /* '' */
.icon-search:before { content: '\e81a'; } /* '' */
.icon-shop:before { content: '\e81b'; } /* '' */
.icon-taxi:before { content: '\e81c'; } /* '' */
.icon-train:before { content: '\e81d'; } /* '' */
.icon-walk:before { content: '\e81f'; } /* '' */
.icon-whats_on:before { content: '\e820'; } /* '' */
.icon-dollar:before { content: '\e821'; } /* '' */
.icon-games:before { content: '\e822'; } /* '' */
.icon-music:before { content: '\e823'; } /* '' */
.icon-sports:before { content: '\e824'; } /* '' */
.icon-kids:before { content: '\e825'; } /* '' */
.icon-twitter:before { content: '󨈞'; } /* '\e821e' */