﻿@model VIN.WebParts.ContentBlock.WebPart

@{
    var quicklinks = Model.QuickLinkUrls;
}

<div class="w-row module-content-block full-width">
    <div class="w-col w-col-9">
        <h1 class="intro-h1">@Model.Item.DocumentName</h1>
        <div class="inner-text">@Raw(Model.Item.Description)</div>
        <div class="social-links-wraper">
            <a class="w-inline-block social-link icon-facebook" href="@Model.CurrentAlias"></a>
            <a class="w-inline-block social-link icon-twitter" href="@Model.CurrentDocument.NodeAlias"></a>
        </div>
    </div>
    <div class="w-col w-col-3">
        <div class="Booking-info">
            @if (quicklinks.Any())
            {
                <div class="booking-link-title">
                    <div class="icon-whats_on sidebar-icon booking-info-icon"></div>
                    <h5 class="sidebar-h5">Booking Info</h5>
                </div>

                foreach (var quicklink in quicklinks)
                {
                    <div class="booking-links-container">
                        <div class="icon-document sidebar-icon"></div>
                        <a href="@quicklink.LinkUrl" class="w-inline-block" target="_blank">@quicklink.LinkText</a>
                    </div>
                }
            }

            @if (!string.IsNullOrEmpty(Model.Item.LinkText))
            {
                <div class="booking-links-container booking-deatils">
                    <a href="@Model.VenueDetailsLink" class="strong menu">@Model.Item.LinkText <div class="detail-ico icon-link"></div></a>
                </div>
            }

            @if (!string.IsNullOrEmpty(Model.Item.ButtonText))
            {
                <div class="booking-links-button">
                    <a href="@Model.ContactUsLink" class="button strong menu">@Model.Item.ButtonText <div class="detail-ico icon-link"></div></a>
                </div>
            }
        </div>
    </div>
</div>