@using Deepend.Framework.Kentico.Modules.ImageCrop
@model VIN.WebParts.ContentBlock.WebPart

@if (Model.Item != null && Model.FeaturedNodeId != Guid.Empty && Model.FeaturedNodeId == Model.Item.InventoryNode.NodeGUID)
{
    <div class="w-row module-content-block">
        <div class="w-col w-col-8">
            <h1 class="intro-h1">@Model.Item.DocumentName</h1>

            <div class="inner-text">@Raw(Model.Item.Description)</div>

            @if (Model.Shareable)
            {
                <div class="share">
                    <p class="copy">Share This</p>
                    <a href="@Model.CurrentRelativeUrl" class="w-inline-block social-link icon-facebook"></a>
                    <a href="@Model.CurrentRelativeUrl" class="w-inline-block social-link icon-twitter"></a>
                </div>
            }
        </div>
        <div class="w-col w-col-4 store-info">
            <div class="info-module">
                <div class="standard-img">
                    <span data-picture data-alt="@Model.Item.DocumentName">
                        <span data-src="@ImageCropUtils.GetImageUrl(Model.Item.ImageGuid, "280x140")"></span>
                        <span data-src="@ImageCropUtils.GetImageUrl(Model.Item.ImageGuid, "229x140")" data-media="(min-width: 768px)"></span>
                        <span data-src="@ImageCropUtils.GetImageUrl(Model.Item.ImageGuid, "300x140")" data-media="(min-width: 992px)"></span>
                    </span>
                </div>
                @if (!string.IsNullOrEmpty(Model.Item.PhoneNumber) || !string.IsNullOrEmpty(Model.Item.OpenHours) || !string.IsNullOrEmpty(Model.Item.Location) || !string.IsNullOrEmpty(Model.Item.ButtonText))
                {
                    <ul class="w-list-unstyled info-detail">

                        @if (!string.IsNullOrEmpty(Model.Item.PhoneNumber))
                        {
                            <li class="w-clearfix info-li">
                                <div class="contact-ico email-ico icon-phone"></div>
                                <p>
                                    <a class="text-link lighter" href="tel:@Model.Item.PhoneNumber">@Model.Item.PhoneNumber</a>
                                </p>
                            </li>
                        }

                        @if (!string.IsNullOrEmpty(Model.Item.OpenHours))
                        {
                            <li class="w-clearfix info-li">
                                <div class="contact-ico icon-open_hours"></div>
                                <h5 class="info-mod-title">Opening Hours</h5>
                                <ul class="w-list-unstyled">
                                    <li class="sublist">
                                        <p class="hours">@Raw(Model.Item.OpenHours.Replace("\n", "<br />"))</p>
                                    </li>
                                </ul>
                            </li>
                        }

                        @if (!string.IsNullOrEmpty(Model.Item.Location))
                        {
                            <li class="w-clearfix info-li">
                                <div class="contact-ico icon-location"></div>
                                <h5 class="info-mod-title">Location</h5>
                                <ul class="w-list-unstyled">
                                    <li class="sublist">
                                        <p>@Model.Item.Location</p>
                                    </li>
                                </ul>
                            </li>
                        }

                        @if (!string.IsNullOrEmpty(Model.Item.ButtonText))
                        {
                            <li class="info-li">
                                <a href="@Model.Item.ButtonUrl" class="button strong menu">@Model.Item.ButtonText</a>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
}
else if (Model.EditMode)
{
    <div class="cms-bootstrap custom-template-warning">
        <i class="icon-exclamation-triangle" aria-hidden="true"></i>
        Warning: Feature item not set or unavailable.
    </div>
}