@model VIN.WebParts.ContentBlock.WebPart

@if (Model.Item != null && Model.FeaturedNodeId != Guid.Empty && Model.FeaturedNodeId == Model.Item.InventoryNode.NodeGUID)
{
    <div class="w-row module-content-block full-width">
        <div class="w-col w-col-12">
            <h1 class="intro-h1">@Model.Item.DocumentName</h1>

            <div class="inner-text">@Raw(Model.Item.Description)</div>

            @if (Model.Shareable)
            {
                <h5 class="follow-h5">share this</h5>
                <a href="@Model.CurrentRelativeUrl" class="w-inline-block social-link icon-facebook"></a>
                <a href="@Model.CurrentRelativeUrl" class="w-inline-block social-link icon-twitter"></a>
            }
        </div>
    </div>
}
else if (Model.EditMode)
{
    <div class="cms-bootstrap custom-template-warning">
        <i class="icon-exclamation-triangle" aria-hidden="true"></i>
        Warning: Feature item not set or unavailable.
    </div>
}