@using Deepend.Framework.Kentico.Modules.ImageCrop
@model VIN.WebParts.ContentBlock.WebPart

@if (Model.Item != null && Model.FeaturedNodeId != Guid.Empty && Model.FeaturedNodeId == Model.Item.InventoryNode.NodeGUID)
{
    <div class="w-row module-content-block">
        <div class="w-col w-col-8">
            <h1 class="intro-h1">@Model.Item.DocumentName</h1>

            <div class="inner-text">@Raw(Model.Item.Description)</div>

            @if (Model.Shareable)
            {
                <h5 class="follow-h5">share this</h5>
                <a href="@Model.CurrentRelativeUrl" class="w-inline-block social-link icon-facebook"></a>
                <a href="@Model.CurrentRelativeUrl" class="w-inline-block social-link icon-twitter"></a>
            }
        </div>
        <div class="w-col w-col-4">
            <div class="module-5">
                <div class="module-5-absolute">
                    <span data-picture data-alt="@Model.Item.DocumentName">
                        <span data-src="@ImageCropUtils.GetImageUrl(Model.Item.ImageGuid, "280x140")"></span>
                        <span data-src="@ImageCropUtils.GetImageUrl(Model.Item.ImageGuid, "229x140")" data-media="(min-width: 768px)"></span>
                        <span data-src="@ImageCropUtils.GetImageUrl(Model.Item.ImageGuid, "280x140")" data-media="(min-width: 992px)"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
}
else if (Model.EditMode)
{
    <div class="cms-bootstrap custom-template-warning">
        <i class="icon-exclamation-triangle" aria-hidden="true"></i>
        Warning: Feature item not set or unavailable.
    </div>
}