﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="AsyncBackground.ascx.cs"
    Inherits="CMSAdminControls_AsyncBackground" %>
<asp:Panel ID="pnlAsyncBackground" runat="server" CssClass="AsyncLogBackground">
    &nbsp;</asp:Panel>
