﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="SourcePointSelector.ascx.cs"
    Inherits="CMSModules_Workflows_FormControls_SourcePointSelector" %>
<cms:CMSDropDownList ID="ddlSourcePoints" runat="server" CssClass="DropDownField" />
