﻿@model VIN.WebParts.CinemaBlock.WebPart

<div class="module module-cinema">

    <iframe id="CinemaFrame" height="1000" width="100%" scroll="auto" src="@Model.ExternalPageUrl" frameborder="0" target="_top"></iframe>

    @if (Model.EnableScript)
    {
        <script src="/static/js/iframeResizer.min.js"></script>
        <script type="text/javascript">

            iFrameResize();

        </script>
    }

</div>