﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/DocumentLibrary/DocumentLibrary.ascx.cs"
    Inherits="CMSWebParts_DocumentLibrary_DocumentLibrary" %>
<%@ Register Src="~/CMSModules/DocumentLibrary/Controls/DocumentLibrary.ascx" TagName="DocumentLibrary"
    TagPrefix="cms" %>
<cms:DocumentLibrary ID="libraryElem" runat="server" />
