<%@ Control Language="C#" AutoEventWireup="true" Codebehind="Edit.ascx.cs" Inherits="CMSModules_Chat_Controls_UI_ChatSupportCannedResponse_Edit" %>
    
<cms:UIForm runat="server" ID="editForm" ObjectType="chat.supportcannedresponse" />
