<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Ecommerce_Products_TopNNewestProducts" Codebehind="~/CMSWebParts/Ecommerce/Products/TopNNewestProducts.ascx.cs" %>
<cms:CMSDataList ID="lstElem" runat="server" />
