<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Ecommerce_Products_TopNProductsBySales" Codebehind="~/CMSWebParts/Ecommerce/Products/TopNProductsBySales.ascx.cs" %>
<cms:CMSDataList ID="lstElem" runat="server" />