<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Messaging_Inbox" Codebehind="~/CMSWebParts/Messaging/Inbox.ascx.cs" %>
<%@ Register Src="~/CMSModules/Messaging/Controls/Inbox.ascx" TagName="Inbox" TagPrefix="cms" %>
<cms:Inbox ID="ucInbox" runat="server" />
