<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Messaging_MyMessages" Codebehind="~/CMSWebParts/Messaging/MyMessages.ascx.cs" %>
<%@ Register Src="~/CMSModules/Messaging/Controls/MyMessages.ascx" TagName="MyMessages"
    TagPrefix="cms" %>
<cms:MyMessages ID="ucMyMessages" runat="server" />
