<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Messaging_Outbox" Codebehind="~/CMSWebParts/Messaging/Outbox.ascx.cs" %>
<%@ Register Src="~/CMSModules/Messaging/Controls/Outbox.ascx" TagName="Outbox" TagPrefix="cms" %>
<cms:Outbox ID="ucOutbox" runat="server" />
