<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Messaging_SendMessage" Codebehind="~/CMSWebParts/Messaging/SendMessage.ascx.cs" %>
<%@ Register Src="~/CMSModules/Messaging/Controls/SendMessage.ascx" TagName="SendMessage"
    TagPrefix="cms" %>
<cms:SendMessage ID="ucSendMessage" runat="server" />
