<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Community_Membership_GroupInvitation" Codebehind="~/CMSWebParts/Community/Membership/GroupInvitation.ascx.cs" %>
<asp:Label ID="lblInfo" runat="server" Visible="false" EnableViewState="false" CssClass="InvitationInfoLabel" />