﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/SocialMedia/GooglePlus/GooglePlusActivityFeed.ascx.cs" Inherits="CMSWebParts_SocialMedia_GooglePlus_GooglePlusActivityFeed" %>

<cms:LocalizedLabel ID="lblError" runat="server" EnableViewState="false" CssClass="webpart-error-label" />
<asp:Literal runat="server" ID="ltlPluginCode" EnableViewState="false" />