<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_Forums_Controls_ForumDivider" Codebehind="ForumDivider.ascx.cs" %>
<cms:MessagesPlaceholder ID="plcMess" runat="server" />
<asp:PlaceHolder runat="server" ID="plcForum" />