﻿<%@ Page Language="C#" AutoEventWireup="true" Codebehind="CampaignHeader.aspx.cs" Theme="Default"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Inherits="CMSModules_WebAnalytics_Pages_Tools_Campaign_CampaignHeader" %>

