<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_SmartSearch_SearchDialog" Codebehind="~/CMSWebParts/SmartSearch/SearchDialog.ascx.cs" %>
<%@ Register src="~/CMSModules/SmartSearch/Controls/SearchDialog.ascx" tagname="SearchDialog" tagprefix="cms" %>
<cms:SearchDialog ID="srchDialog" runat="server" />
