<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_Reporting_Controls_DisplayReport"
    Codebehind="DisplayReport.ascx.cs" %>
<cms:BasicForm ID="formParameters" runat="server" FormCssClass="form-horizontal form-filter"
    FieldCaptionCellCssClass="filter-form-label-cell" FieldValueCellCssClass="filter-form-value-cell-wide"
    FormButtonPanelCssClass="form-group form-group-buttons" />
<asp:Panel runat="server" ID="pnlContent" />
