﻿<%@ Page Language="C#" AutoEventWireup="true" Codebehind="Blank.aspx.cs" Inherits="CMSPages_Blank" %>
<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    </div>
    </form>
</body>
</html>
