﻿<%@ Page Language="C#" AutoEventWireup="true" Codebehind="IntegrationNotify.aspx.cs"
    Inherits="CMSPages_IntegrationNotify" %>

<!DOCTYPE html>
<html>
<head runat="server">
    <title>Integration notifier</title>
</head>
<body>
    <form id="form1" runat="server">
    </form>
</body>
</html>
