<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_Chat_Controls_UI_ChatRoom_Edit" Codebehind="Edit.ascx.cs" %>
<%@ Register Src="~/CMSModules/Membership/FormControls/Passwords/PasswordStrength.ascx" TagName="PasswordStrength"
    TagPrefix="cms" %>   

<cms:UIForm runat="server" ID="EditForm" ObjectType="chat.room"  />
