<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Community_Profile_GroupSecurityMessage" Codebehind="~/CMSWebParts/Community/Profile/GroupSecurityMessage.ascx.cs" %>
<asp:Label runat="server" ID="lblAccessInfo" EnableViewState="false" />
<cms:LocalizedHyperlink ID="lnkGo" runat="server" Visible="false" />