﻿@model VIN.WebParts.SignupFooter.WebPart

<div class="w-clearfix mail-section footer-mail">
    <div class="w-container">
        <div class="w-clearfix mail-footer-head">
            <div class="mail-left">
                <h4>Sign up to receive news and offers&nbsp;FROM:</h4>
            </div>
            <div class="mail-right">
                <a class="w-inline-block back-to-top" href="#top">
                    <h4>Back To Top <div class="detail-ico icon-up-open"></div></h4>
                </a>
            </div>
        </div>
        <div class="w-form search-form">
            <form class="w-clearfix mail-form" id="email-form" name="email-form" data-name="Email Form">
                <div class="w-clearfix checkboxes">

                    <div class="checkbox-column">
                        @foreach (var category in Model.Categories)
                        {
                            <div class="w-checkbox w-clearfix checkbox-field mail-category">
                                <input class="w-checkbox-input checkbox" id="checkbox-@category.Key" type="checkbox" name="checkbox-@category.Key" data-name="Checkbox @category.Key" value="@category.Key">
                                <label class="w-form-label" for="checkbox-@category.Key">@category.Value</label>
                            </div>
                        }
                    </div>

                </div>

                <input class="w-input search-field" id="Enter-your-email-address-2" type="text" placeholder="Enter your email address..." name="Enter-your-email-address-2" data-name="Enter Your Email Address 2">

                <div class="button strong footer-signup">
                    <a class="footer-signup-button" href="#">
                        Sign Up&nbsp;&nbsp;<div class="detail-ico icon-link"></div>
                    </a>
                </div>
            </form>
            <div class="w-form-loading">
                <p>Loading...</p>
            </div>
            <div class="w-form-done">
                <p>Thank you! Your submission has been received!</p>
            </div>
            <div class="w-form-fail">
                <p>Oops! Please enter a valid email address.</p>
            </div>
        </div>
    </div><a class="w-inline-block back-to-top mobile-top" href="#topnav">
        <h4>Top <span class="up-arrow">^</span></h4>
    </a>
</div>