<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSModules_Content_CMSDesk_Validation_Default"
    Codebehind="Default.aspx.cs" %>

<!DOCTYPE html>
<html>
<head runat="server">
    <title>Content - Validation</title>
</head>
<frameset border="0" cols="224,*" runat="server" id="colsFrameset" enableviewstate="false">
    <frame name="validationheader" scrolling="no" noresize="noresize" frameborder="0" runat="server"
        id="frameHeader" />
    <frame name="validationedit" noresize="noresize" frameborder="0" runat="server"
        id="frameEdit" />
    <cms:NoFramesLiteral ID="ltlNoFrames" runat="server" />
</frameset>
</html>
