@model VIN.WebParts.SearchResults.WebPart

<div class="module site-search">
    <div class="search-result-title">
        <h1>
            <span class="search-result-count"></span>Results for <span class="search-term"></span>
        </h1>
    </div>

    <script>
    (function () {
        var cx = '000801686662578866534:ctenkrkay3c';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
    })();
    </script>
    <gcse:search queryParameterName="q" autoSearchOnLoad="true" noResultsString="No Results"></gcse:search>
</div>