﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="SubscriptionApproval.ascx.cs" Inherits="CMSModules_MessageBoards_Controls_SubscriptionApproval" %>
<cms:LocalizedLabel runat="server" ID="lblInfo" EnableViewState="false" />
<cms:LocalizedButton runat="server" ID="btnConfirm" EnableViewState="false"
    onclick="btnConfirm_Click" ButtonStyle="Default" />