﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/Localization/GoogleTranslator.ascx.cs"
    Inherits="CMSWebParts_Localization_GoogleTranslator" %>
<div id="google_translate_element">
</div>
