<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/Localization/languageselectiondropdown.ascx.cs"
    Inherits="CMSWebParts_Localization_languageselectiondropdown" %>
<div id="language">
    <asp:Literal ID="ltlLanguages" runat="server" EnableViewState="false" />
</div>

