<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Viewers_PageViews" Codebehind="~/CMSWebParts/Viewers/PageViews.ascx.cs" %>
<asp:Label ID="lblInfo" runat="server" EnableViewState="false" />