<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Community_Friends_FriendsRejectedList" Codebehind="~/CMSWebParts/Community/Friends/FriendsRejectedList.ascx.cs" %>
<%@ Register Src="~/CMSModules/Friends/Controls/FriendsRejectedList.ascx" TagName="FriendsRejectedList"
    TagPrefix="cms" %>
<cms:FriendsRejectedList ID="lstRejected" runat="server" />