<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Community_Friends_MyFriends" Codebehind="~/CMSWebParts/Community/Friends/MyFriends.ascx.cs" %>
<%@ Register Src="~/CMSModules/Friends/Controls/MyFriends.ascx" TagName="MyFriends" TagPrefix="cms" %>
<cms:MyFriends ID="myFriendsElem" runat="server" />