<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Community_Friends_RequestFriendship" Codebehind="~/CMSWebParts/Community/Friends/RequestFriendship.ascx.cs" %>
<%@ Register Src="~/CMSModules/Friends/Controls/RequestFriendship.ascx" TagName="RequestFriendship"
    TagPrefix="cms" %>
<cms:RequestFriendship ID="requestFriendshipElem" runat="server" />
