<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Viewers_Query_queryrepeater" Codebehind="~/CMSWebParts/Viewers/Query/queryrepeater.ascx.cs" %>

<cms:queryrepeater id="repItems" runat="server"  /> 