@model VIN.WebParts.InfoTile.WebPart

<div class="w-col w-col-8 module-info-tile">
    <div class="w-clearfix highlight-mod">
        <div class="highlight-img">
            <div class="w-widget w-widget-map feature-map" data-widget-latlng="@Model.MapLatLong" data-widget-style="roadmap" data-widget-zoom="16"></div>
        </div>
        <div class="w-clearfix highlight-detal">
            <div class="detail-type">
                <div class="detail-ico icon-centre_info"></div>
                <p>Centre Info</p>
            </div>
            <div class="detail-social">
                <a class="w-inline-block social-link" href="#"></a>
                <a class="w-inline-block social-link twitter" href="#"></a>
            </div>
        </div>
        <div class="highlight-content hours-module">
            <ul class="w-list-unstyled info-detail centre-info">
                @if (!string.IsNullOrWhiteSpace(Model.ContactNumber))
                {
                    <li class="w-clearfix info-li">
                        <div class="contact-ico email-ico icon-phone"></div>
                        <p>@Model.ContactNumber</p>
                    </li>
                }

                @if (!string.IsNullOrWhiteSpace(Model.ContactAddress))
                {
                    <li class="w-clearfix info-li">
                        <div class="contact-ico icon-location"></div>
                        <h5 class="info-mod-title">Address</h5>

                        <ul class="w-list-unstyled">
                            <li class="sublist">
                                <p>@Model.ContactAddress</p>
                            </li>
                        </ul>
                    </li>
                }

                @if (Model.OpenTimes.Count > 0)
                {
                    <li class="w-clearfix info-li">
                        <div class="contact-ico icon-open_hours"></div>
                        <h5 class="info-mod-title">Opening Hours</h5>

                        <ul class="w-list-unstyled">
                            @foreach (var openTime in Model.OpenTimes)
                            {
                                <li class="w-clearfix sublist">
                                    <div class="hours-day">
                                        <p class="hours">@openTime.Key.Substring(0, 3)</p>
                                    </div>
                                    <div class="hours-col">
                                        <p class="hours">@openTime.Value</p>
                                    </div>
                                </li>
                            }
                        </ul>
                    </li>
                }

            </ul>

            @if (!string.IsNullOrEmpty(Model.ButtonText))
            {
                <a class="button grey" href="@Model.ButtonUrl">
                    @Model.ButtonText &nbsp;<span class="btn-arrow">&gt;</span>
                </a>
            }
        </div>
    </div>
</div>