@using RazorEngine.Text
@model VIN.WebParts.InfoTile.WebPart

<!--Full width Map Container-->
<div class="map-wrapper">
    <div class="w-widget w-widget-map feature-map" data-widget-latlng="-23.516598, 148.156752" data-widget-style="roadmap" data-widget-zoom="16"></div>

    <div class="contact-us-info">
        <div class="w-col w-col-5 module-info-wrapper">
            <!--Center Info Module-->
            <div class="module-info-block">
                <div class="contact-info-title">
                    <div class="detail-ico icon-location"></div>
                    <p>GENERAL INFO</p>
                    <div class="detail-ico detail-arrow icon-down-open"></div>
                </div>
                <div class="module-info-content">
                   
                        <div class="info-li">
                            @if (!string.IsNullOrWhiteSpace(Model.ContactNumber))
                            {
                                <div class="module-info-phone">
                                    <i class=" icon-phone"></i>
                                    <p class="font-co-black underline">@Model.ContactNumber</p>
                                </div>
                            }

                            @if (!string.IsNullOrWhiteSpace(Model.FaxNumber))
                            {
                                <i class=" icon-print"></i>
                                <p class="font-co-black underline">@Model.FaxNumber</p>

                            }
                        </div>
                   

                    @if (!string.IsNullOrWhiteSpace(Model.Email))
                    {
                        <div class="info-li">
                            <i class="icon-email"></i>
                            <p class="font-co-black underline">@Model.Email</p>
                        </div>
                    }

                    @if (!string.IsNullOrWhiteSpace(Model.ContactAddress))
                    {
                        <div class="info-li">
                            <i class="icon-location"></i>
                            <h5 class="info-mod-title">Address</h5>

                            <ul class="w-list-unstyled">
                                <li class="sublist">
                                    <p>@Model.ContactAddress</p>
                                </li>
                            </ul>
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.POBox))
                    {
                        <div class="info-li">
                            <i class="icon-location"></i>
                            <h5 class="info-mod-title">PO Box</h5>

                            <ul class="w-list-unstyled">
                                <li class="sublist">
                                    <p>@Model.POBox</p>
                                </li>
                            </ul>
                        </div>
                    }
                    
                    <!--Optional Button Remove inline CSS to display the button-->
                    <div style="display: none;">
                        @if (!string.IsNullOrEmpty(Model.ButtonText))
                        {
                            <a class="button grey" href="@Model.ButtonUrl">
                                @Model.ButtonText &nbsp;<span class="btn-arrow">&gt;</span>
                            </a>
                        }
                    </div>
                </div>
            </div>


            <!--Opening Hours Module-->
            <div class="module-info-block">
                <div class="contact-info-title">
                    <div class="detail-ico icon-opening_hours"></div>
                    <p>OPENING HOURS</p>
                    <div class="detail-ico detail-arrow icon-down-open"></div>
                </div>
                <div class="module-info-content">
                    @if (!String.IsNullOrEmpty(Model.OpeningHours))
                    {
                        @(new RawString(Model.OpeningHours))
                    }

                </div>
            </div>


            <!--Optional Button Remove inline CSS to display the button-->
            <div style="display: none;">
                @if (!string.IsNullOrEmpty(Model.ButtonText))
                {
                    <a class="button grey" href="@Model.ButtonUrl">
                        @Model.ButtonText &nbsp;<span class="btn-arrow">&gt;</span>
                    </a>
                }
            </div>
        </div>
    </div>
</div>