﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/SocialMedia/Pinterest/PinterestFollowButton.ascx.cs"
    Inherits="CMSWebParts_SocialMedia_Pinterest_PinterestFollowButton" %>

<asp:Literal runat="server" ID="ltlPluginCode" EnableViewState="false" />