<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_ImportExport_Controls_Import_Site_forums_forum" Codebehind="forums_forum.ascx.cs" %>
<asp:Panel runat="server" ID="pnlCheck" CssClass="wizard-section">
    <cms:CMSCheckBox ID="chkObject" runat="server" Visible="false" />
</asp:Panel>
