@using Deepend.Framework.Kentico.Modules.ImageCrop
@using System.Web
@model VIN.WebParts.BlogPost.WebPart

@if (Model.Item != null)
{
    <div class="module blog blog-listing">
        <div class="w-row">
            <div class="w-col w-col-8">
                <h1 class="intro-h1">@Model.Item.DocumentName</h1>
                <div class="blog-content-block">@Raw(Model.Item.BlogPostBody)</div>

                <div class="share">
                    <p class="copy">Share This</p>
                    <a href="@Model.Item.AbsoluteURL" class="w-inline-block social-link icon-facebook"></a>
                    <a href="@Model.Item.AbsoluteURL" class="w-inline-block social-link icon-twitter"></a>
                </div>

                <div class="tags content-block">
                    @if (!string.IsNullOrEmpty(Model.Item.DocumentTags))
                    {
                        var tags = Model.Item.DocumentTags.Split(',');

                        foreach (var tag in tags)
                        {
                            <a href="@(Model.CurrentDocument.Parent.Parent.RelativeURL)?tag=@HttpUtility.UrlEncode(tag.Trim())">
                                @(tag.Trim() + ((tags.Last() != tag) ? ", " : string.Empty))
                            </a>
                        }
                    }
                </div>
            </div>

            <div class="w-col w-col-4">
                <div class="module-5">
                    <div class="module-5-absolute">
                        <span data-picture data-alt="@Model.Item.DocumentName">
                            <span data-src="@ImageCropUtils.GetImageUrl(Model.Item.ImageGuid, "289x207")"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else if (Model.EditMode)
{
    <div class="cms-bootstrap custom-template-warning">
        <i class="icon-exclamation-triangle" aria-hidden="true"></i>
        Warning: Feature item not set or unavailable.
    </div>
}