@using Deepend.Framework.Kentico.Modules.ImageCrop
@model VIN.WebParts.BlogPost.WebPart

<div class="module blog blog-listing">

    @if (!string.IsNullOrEmpty(Model.TagValue))
    {
        <h1 class="tag-search">
            Showing posts for
            <span class="label">@Model.TagValue</span>
        </h1>
    }

    @{
        var itemIndex = 0;
        var itemPage = 0;
    }

    <div class="posts clearfix" data-page-size="@Model.PageSize">
        @foreach (var item in Model.PagedItems)
        {
            itemPage = (itemIndex / Model.PageSize) + 1;

            <div class="module-feature-tile w-col w-col-6 FOO-ITEM post-item"
                 data-doc-type="@item.DocumentType"
                 data-node-id="@item.NodeID"
                 data-share-title="@item.DocumentName"
                 data-share-url="@item.AbsoluteURL"
                 data-share-desc="@item.DocumentName"
                 data-publish-date="@item.BlogPostDate.ToString("yyyy-MM-dd HH:mm:ss")"
                 data-item-index="@itemIndex"
                 data-page-index="@itemPage">
                <div class="mod-small">
                    <div class="module-4">
                        <div class="module-4-absolute">
                            <span data-picture data-alt="@item.DocumentName">
                                <span data-src="@ImageCropUtils.GetImageUrl(item.ImageGuid, "280x140")"></span>
                                <span data-src="@ImageCropUtils.GetImageUrl(item.ImageGuid, "229x140")" data-media="(min-width: 769px)"></span>
                                <span data-src="@ImageCropUtils.GetImageUrl(item.ImageGuid, "280x140")" data-media="(min-width: 1025px)"></span>
                            </span>
                        </div>
                    </div>
                    <div class="w-clearfix standard-detail">
                        <div class="detail-type">
                            <p>@item.BlogPostDate.ToString("dd/MM/yyyy")</p>
                        </div>
                        <div class="detail-social">
                            <a href="@item.AbsoluteURL" class="w-inline-block social-link icon-facebook"></a>
                            <a href="@item.AbsoluteURL" class="w-inline-block social-link icon-twitter"></a>
                        </div>
                    </div>
                    <div class="standard-content">
                        <h3>@item.BlogPostTitle</h3>
                        <p>@item.BlogPostSummary</p>

                        <a class="button grey" href="@item.AbsoluteURL">
                            Read More &nbsp;<span class="btn-arrow">&gt;</span>
                        </a>
                    </div>
                </div>
            </div>

            itemIndex++;
        }
    </div>
    <div class="clear"></div>

    <div class="pagination-wrapper">
        <ul class="pagination">
            <li class="item arrow-item left-arrow-item">
                <a href="#" class="no-link">&lt;</a>
            </li>

            @for (var i = 1; i <= itemPage; i++)
            {
                <li class="item page-item" data-page-index="@i">
                    <a href="#" class="no-link">@i</a>
                </li>
            }

            <li class="item arrow-item right-arrow-item">
                <a href="#" class="no-link">&gt;</a>
            </li>
        </ul>

        <div class="clear"></div>
    </div>

</div>

@if (Model.EditMode && Model.Items.Count == 0)
{
    <div class="cms-bootstrap custom-template-warning">
        <i class="icon-exclamation-triangle" aria-hidden="true"></i>
        Warning: Feature item not set or unavailable.
    </div>
}