@using Deepend.Framework.Kentico.Modules.ImageCrop
@model VIN.WebParts.BlogPost.WebPart
<div class="module blog blog-listing">
<!--HARD CODED-->
<div class="w-row">
    <div class="row">
        <div class="module blog-filter">
            <div class="inner">
                <div class="filter-categories">
                    <p class="title">
                        Categories
                    </p>
                    <ul>
                        <li>
                            <a href="#" data-id="fashion">Fashion</a>
                        </li>
                        <li>
                            <a href="#" data-id="food">Food</a>
                        </li>
                        <li>
                            <a href="#" data-id="lifestyle">Lifestyle</a>
                        </li>
                        <li>
                            <a href="#" data-id="community">Community</a>
                        </li>
                        <li>
                            <a href="#" data-id="events">Events</a>
                        </li>
                        <li>
                            <a href="#" data-id="shopping">Shopping</a>
                        </li>
                        <li>
                            <a href="#" data-id="retail">Retail</a>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="filter-archives">
                    <p class="title">
                        Archive
                    </p>
                    <div class="dropdown">
                        <a href="#" class="trigger filter-btn">
                            <span class="copy">- Select a value -</span>
                            <span class="icon"></span>
                        </a>
                        <div class="target filter-list">
                            <ul>
                                @foreach (var item in Model.DropDownItems)
                                {
                                    <li>
                                        <a href="#">@item.Text</a>
                                        @if (item.Children != null && item.Children.Count > 0)
                                        {
                                            <ul>
                                                @foreach (var child in item.Children)
                                                {
                                                    <li>
                                                        <a href="@child.URL">@child.Text (@child.Children.Count)</a>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>

<div class="w-row">
    <div class="row">
        <div class="w-col w-col-8">
            @{
                var itemIndex = 0;
                var itemPage = 0;
            }
            @if (Model.PagedItems == null || Model.PagedItems.Count == 0)
            {
                <h1 class="tag-search">
                    No results found for
                    <span class="label">@Model.TagValue</span>
                    <span class="label">@Model.CategoryValue</span>
                </h1>
            }
            else
            {
                if (!string.IsNullOrEmpty(Model.TagValue))
                {
                    <h1 class="tag-search">
                        Showing posts for
                        <span class="label">@Model.TagValue</span>
                        <span class="label">@Model.CategoryValue</span>
                    </h1>
                }

                <div class="posts clearfix" data-page-size="@Model.PageSize">
                    @foreach (var item in Model.PagedItems)
                    {
                        itemPage = (itemIndex / Model.PageSize) + 1;

                        if (itemIndex == 0)
                        {
                            <div class="module-feature-tile large-tile w-col FOO-ITEM post-item"
                                 data-doc-type="@item.DocumentType"
                                 data-node-id="@item.NodeID"
                                 data-share-title="@item.DocumentName"
                                 data-share-url="@item.AbsoluteURL"
                                 data-share-desc="@item.DocumentName"
                                 data-publish-date="@item.BlogPostDate.ToString("yyyy-MM-dd HH:mm:ss")"
                                 data-item-index="@itemIndex"
                                 data-page-index="@itemPage">

                                <div class="w-clearfix highlight-mod">
                                    <div class="module-2">
                                        <div class="module-2-absolute">
                                            <a href="#">
                                                <span data-picture data-alt="@item.DocumentName">
                                                        <span data-src="@ImageCropUtils.GetImageUrl(item.ImageGuid, "279x446")" data-media="(min-width: 768px)"></span>
                                                        <span data-src="@ImageCropUtils.GetImageUrl(item.ImageGuid, "318x446")" data-media="(min-width: 992px)"></span>
                                                    </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="w-clearfix highlight-detal">
                                        <a href="#">
                                            <div class="detail-type">
                                                <p>@item.BlogPostDate.ToString("dd/MM/yyyy")</p>
                                            </div>
                                        </a>
                                        <div class="detail-social">
                                            <a href="@item.AbsoluteURL" class="w-inline-block social-link icon-facebook"></a>
                                            <a href="@item.AbsoluteURL" class="w-inline-block social-link icon-twitter"></a>
                                        </div>
                                    </div>

                                    <div class="highlight-content">
                                        <h3>@item.BlogPostTitle</h3>
                                        <p>@item.BlogPostSummary</p>

                                        <a class="button grey" href="@item.AbsoluteURL">
                                            Read More &nbsp;<span class="btn-arrow">&gt;</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="module-feature-tile w-col w-col-6 FOO-ITEM post-item"
                                 data-doc-type="@item.DocumentType"
                                 data-node-id="@item.NodeID"
                                 data-share-title="@item.DocumentName"
                                 data-share-url="@item.AbsoluteURL"
                                 data-share-desc="@item.DocumentName"
                                 data-publish-date="@item.BlogPostDate.ToString("yyyy-MM-dd HH:mm:ss")"
                                 data-item-index="@itemIndex"
                                 data-page-index="@itemPage">
                                <div class="mod-small">
                                    <div class="module-4">
                                        <div class="module-4-absolute">
                                            <span data-picture data-alt="@item.DocumentName">
                                                    <span data-src="@ImageCropUtils.GetImageUrl(item.ImageGuid, "280x140")"></span>
                                                    <span data-src="@ImageCropUtils.GetImageUrl(item.ImageGuid, "229x140")" data-media="(min-width: 769px)"></span>
                                                    <span data-src="@ImageCropUtils.GetImageUrl(item.ImageGuid, "280x140")" data-media="(min-width: 1025px)"></span>
                                                </span>
                                        </div>
                                    </div>
                                    <div class="w-clearfix standard-detail">
                                        <div class="detail-type">
                                            <p>@item.BlogPostDate.ToString("dd/MM/yyyy")</p>
                                        </div>
                                        <div class="detail-social">
                                            <a href="@item.AbsoluteURL" class="w-inline-block social-link icon-facebook"></a>
                                            <a href="@item.AbsoluteURL" class="w-inline-block social-link icon-twitter"></a>
                                        </div>
                                    </div>
                                    <div class="standard-content">
                                        <h3>@item.BlogPostTitle</h3>
                                        <p>@item.BlogPostSummary</p>

                                        <a class="button grey" href="@item.AbsoluteURL">
                                            Read More &nbsp;<span class="btn-arrow">&gt;</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }

                        itemIndex++;
                    }
                </div>
            }
            <div class="clear"></div>

            <div class="pagination-wrapper">
                @if (Model.PagedItems != null && Model.PagedItems.Count > 0)
                {
                    <ul class="pagination">
                        <li class="item arrow-item left-arrow-item">
                            <a href="#" class="no-link">&lt;</a>
                        </li>

                        @for (var i = 1; i <= itemPage; i++)
                        {
                            <li class="item page-item" data-page-index="@i">
                                <a href="#" class="no-link">@i</a>
                            </li>
                        }

                        <li class="item arrow-item right-arrow-item">
                            <a href="#" class="no-link">&gt;</a>
                        </li>
                    </ul>
                }

                <div class="clear"></div>
            </div>
        </div>
        <div class="w-col w-col-4">
            <div class="module tag-cloud">
                <p class="title">
                    Tags
                </p>
                <div class="tags">
                    @foreach (var tag in Model.Tags)
                    {
                        <a href="#" data-id="@tag">@tag</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--/END HARD CODED-->
<script type="text/javascript">
    (function($) {
        function UpdateQueryString(key, value, url) {
            if (!url) url = window.location.href;
            var re = new RegExp("([?&])" + key + "=.*?(&|#|$)(.*)", "gi"),
                hash;

            if (re.test(url)) {
                if (typeof value !== 'undefined' && value !== null)
                    return url.replace(re, '$1' + key + "=" + value + '$2$3');
                else {
                    hash = url.split('#');
                    url = hash[0].replace(re, '$1$3').replace(/(&|\?)$/, '');
                    if (typeof hash[1] !== 'undefined' && hash[1] !== null)
                        url += '#' + hash[1];
                    return url;
                }
            } else {
                if (typeof value !== 'undefined' && value !== null) {
                    var separator = url.indexOf('?') !== -1 ? '&' : '?';
                    hash = url.split('#');
                    url = hash[0] + separator + key + '=' + value;
                    if (typeof hash[1] !== 'undefined' && hash[1] !== null)
                        url += '#' + hash[1];
                    return url;
                } else
                    return url;
            }
        }

        $(function() {
            $('.filter-categories a').click(function(e) {
                e.preventDefault();
                var $this = $(this);
                var tag = $this.data('id');
                console.log(tag);
                var pathname = window.location.pathname;
                var url = UpdateQueryString("category", tag, pathname);
                window.location.href = url;
            });

            $('.tag-cloud a').click(function(e) {
                e.preventDefault();
                var $this = $(this);
                var tag = $this.data('id');
                console.log(tag);
                var pathname = window.location.pathname;
                var url = UpdateQueryString("tag", tag, pathname);
                window.location.href = url;
            });

        });
    })(jq111);
</script>