<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSModules_Avatars_CMSPages_GetAvatar" Codebehind="GetAvatar.aspx.cs" %>

<!DOCTYPE html>
<html>
<head runat="server" enableviewstate="false">
    <title>Avatar</title>
</head>
<body>
    <form id="form1" runat="server">
    </form>
</body>
</html>
