<%@ Page Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_Newsletters_Tools_Newsletters_Newsletter_Issue_ShowPreview" Codebehind="Newsletter_Issue_ShowPreview.aspx.cs" %>

<!DOCTYPE html>
<html>
<head runat="server" enableviewstate="false">
    <title>Newsletters - Issue preview</title>
</head>
<body class="<%=mBodyClass%>">
    <form id="form1" runat="server">
    </form>
</body>
</html>
