<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_WebServices_DatalistForWebService" Codebehind="~/CMSWebParts/WebServices/DatalistForWebService.ascx.cs" %>

<cms:BasicDataList ID="basicDatalist" runat="server" />
<cms:WebServiceDataSource ID="wsDataSource" runat="server" />