<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSAdminControls_UI_UIProfiles_SelectUIElement" Codebehind="SelectUIElement.ascx.cs" %>
<cms:CMSDropDownList runat="server" ID="drpElements" CssClass="DropDownField" />
