﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/Membership/Users/UnlockUserAccount.ascx.cs" Inherits="CMSWebParts_Membership_Users_UnlockUserAccount" %>
<%@ Register Src="~/CMSModules/Membership/Controls/UnlockUserAccount.ascx" TagName="UnlockAccount" TagPrefix="cms" %>

<cms:UnlockAccount ID="unlockAccount" ShortID="ua" runat="server" />
