<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_REST_FormControls_GenerateAuthHash"
    Codebehind="GenerateAuthHash.ascx.cs" %>
<cms:LocalizedButton runat="server" ID="lnkGenerate" ButtonStyle="Default" ResourceString="rest.generatehash" />
