<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_REST_FormControls_SelectRESTAuthentication"
    Codebehind="SelectRESTAuthentication.ascx.cs" %>
<cms:CMSDropDownList ID="drpSelectAuthentication" runat="server" CssClass="DropDownField" />
