﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/Forums/ForumPostsWaitingForApproval.ascx.cs" Inherits="CMSWebParts_Forums_ForumPostsWaitingForApproval" %>
<%@ Register Src="~/CMSModules/Forums/Controls/Forums/ForumPostsWaitingForApproval.ascx" TagName="PostsList" TagPrefix="cms" %>


<cms:PostsList ID ="ucPosts" runat="server" />