<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Forums_ForumTopContributors" Codebehind="~/CMSWebParts/Forums/ForumTopContributors.ascx.cs" %>
<cms:BasicRepeater runat="server" ID="repTopContributors" />
