<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Forums_ForumUnsubscription" Codebehind="~/CMSWebParts/Forums/ForumUnsubscription.ascx.cs" %>
<%@ Register Src="~/CMSModules/Forums/Controls/Unsubscription.ascx" TagName="Unsubscription"
    TagPrefix="cms" %>
<cms:Unsubscription runat="server" ID="unsubscription" />
