<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_MessageBoards_BoardMessagesDataSource" Codebehind="~/CMSWebParts/MessageBoards/BoardMessagesDataSource.ascx.cs" %>
<%@ Register TagPrefix="cms" Namespace="CMS.MessageBoards" Assembly="CMS.MessageBoards" %>
<cms:BoardMessagesDataSource ID="srcMessages" runat="server" />