<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_MessageBoards_MessageBoard" Codebehind="~/CMSWebParts/MessageBoards/MessageBoard.ascx.cs" %>
<%@ Register Src="~/CMSModules/MessageBoards/Controls/MessageBoard.ascx" TagName="MessageBoard" TagPrefix="cms" %>

<cms:MessageBoard ID="msgBoard" runat="server" />