﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/MessageBoards/MessageBoardSubscriptionApproval.ascx.cs" Inherits="CMSWebParts_MessageBoards_MessageBoardSubscriptionApproval" %>
<%@ Register Src="~/CMSModules/MessageBoards/Controls/SubscriptionApproval.ascx" TagName="SubscriptionApproval"
    TagPrefix="cms" %>
<cms:SubscriptionApproval ID="subscriptionApproval" runat="server" />