@using Deepend.Framework.Kentico.Modules.ImageCrop
@model VIN.WebParts.RelatedBlogPosts.WebPart

<div class="posts clearfix">
    @if (Model.PageItems != null && Model.PageItems.Any())
    {
        <h1>Related Articles</h1>
        foreach (var blog in Model.PageItems)
        {
            <div class="module-feature-tile medium-tile w-col w-col-4">
                <div class="mod-small">
                    <div class="module-4">
                        <div class="module-4-absolute">
                            <span data-picture data-alt="@blog.DocumentName">
                                <span data-src="@ImageCropUtils.GetImageUrl(blog.ImageGuid, "280x140")"></span>
                                <span data-src="@ImageCropUtils.GetImageUrl(blog.ImageGuid, "229x140")" data-media="(min-width: 768px)"></span>
                                <span data-src="@ImageCropUtils.GetImageUrl(blog.ImageGuid, "280x140")" data-media="(min-width: 992px)"></span>                                    
                            </span>
                        </div>
                    </div>
                    <div class="w-clearfix standard-detail">
                        <div class="detail-type">
                            <p>@blog.BlogPostDate.ToString("dd/MM/yyyy")</p>
                        </div>
                        <div class="detail-social">
                            <a href="@blog.AbsoluteURL" class="w-inline-block social-link icon-facebook"></a>
                            <a href="@blog.AbsoluteURL" class="w-inline-block social-link icon-twitter"></a>
                        </div>
                    </div>
                    <div class="standard-content">
                        <h3>@blog.BlogPostTitle</h3>
                        <p>@blog.BlogPostSummary</p>

                        <a class="button grey" href="@blog.AbsoluteURL">
                            Read More &nbsp;<span class="btn-arrow">&gt;</span>
                        </a>
                    </div>
                </div>
            </div>
        }
    }
</div>
<div class="clear"></div>