﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_SocialMarketing_FormControls_FacebookPageId" Codebehind="FacebookPageId.ascx.cs" %>
<cms:CMSTextBox ID="txtPageUrl" runat="server" />

