@model VIN.WebParts.SignupBlock.WebPart

<div class="module-signup-block default w-col w-col-4">
    <div class="deal-mod deal-one module-container search-form">
        <form class="w-clearfix mail-form" id="module-email-form" name="email-form" data-name="Email Form">
            <h4>Sign up to receive updates</h4>

            <input class="w-input search-field" id="signup-block-email-address" name="signup-block-email-address"
                   type="text" placeholder="Enter your email address...">

            <div class="button strong module-signup">
                <a class="module-signup-button" href="#">
                    Sign Up&nbsp;&nbsp;<span class="btn-arrow">&gt;</span>
                </a>
            </div>

            <div class="message-box w-form-loading">
                <p>Loading...</p>
            </div>
            <div class="message-box w-form-done">
                <p>Thank you! Your submission has been received!</p>
            </div>
            <div class="message-box w-form-fail">
                <p>Oops! Please enter a valid email address.</p>
            </div>

        </form>
    </div>
</div>