<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSModules_EventLog_GetEventDetail" Codebehind="GetEventDetail.aspx.cs" %>

<!DOCTYPE html>
<html>
<head runat="server" enableviewstate="false">
    <title>Event detail export</title>
</head>
<body>
    <form id="form1" runat="server">
    </form>
</body>
</html>
