@using Deepend.Framework.Kentico.Modules.ImageCrop
@model VIN.WebParts.Tabs.WebPart

<div class="w-tab-menu w-clearfix tabs-menu">
    <div class="w-clearfix active-tabs">
        @for (short i = 0; i < Model.Items.Count; i++)
        {
            <a href="#" class="tabnav-@i active-tab @((Model.Items.First() == Model.Items[i]) ? "current-tab" : string.Empty) @Model.Items[i].FilterTag-tab" data-tag="@Model.Items[i].FilterTag.Replace("\"", string.Empty).ToLower()">
                <span data-picture data-alt="@Model.Items[i].DocumentName">
                    <span data-src="@ImageCropUtils.GetImageUrl(Model.Items[i].ImageGuid, "234x65")"></span>
                </span>

                <span class="text">@Model.Items[i].DocumentName</span>
            </a>
        }
    </div>
</div>