﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/CustomTables/CustomTableForm.ascx.cs" Inherits="CMSWebParts_CustomTables_CustomTableForm" %>
<cms:UIContextPanel runat="server" ID="pnlUIContext">
    <cms:CustomTableForm ID="form" runat="server" />
</cms:UIContextPanel>

