﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/Maps/Basic/BasicBingMaps.ascx.cs" Inherits="CMSWebParts_Maps_Basic_BasicBingMaps" %>
<asp:PlaceHolder runat="server" ID="plcBasicBingMaps" />