﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/Filters/DocumentNameFilter.ascx.cs"
    Inherits="CMSWebParts_Filters_DocumentNameFilter" %>
<%@ Register Src="~/CMSWebParts/Filters/DocumentNameFilter_files/DocumentNameFilterControl.ascx"
    TagName="DocumentNameFilterControl" TagPrefix="uc1" %>
<uc1:DocumentNameFilterControl ID="filterDocuments" runat="server" />