﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="OptionCategoryTypeFilter.ascx.cs" 
    Inherits="CMSModules_Ecommerce_Controls_Filters_OptionCategoryTypeFilter" %>

<cms:CMSDropDownList ID="drpCategoryType" runat="server" CssClass="ContentDropdown" />