//Kentico fixes and work arounds

.EditorWidget {
	.w-col {
		float: none;
	}
}

.DraggedWebPart {
	background-color: #fcfcfc;
	height: 200px !important;
	overflow: hidden !important;
	border: solid 3px #e5e5e5;
	-webkit-box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    0px 10px 5px 0px rgba(50, 50, 50, 0.4);
	box-shadow:         0px 10px 5px 0px rgba(50, 50, 50, 0.4);
}

body.EditMode {

	transform: translateX(0px) translateY(0px) !important;

	#master-content {
		position: inherit !important;
	}

	.custom-template-warning {
		background-color: #f4eac9;
		border: 1px solid #a79e7c;
		color: #262524;
		margin: 20px;
		padding: 20px;
	}
}

.widget-container
{
	&.div-margin-20
	{
		margin: 20px;
	}
}