<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSFormControls_TimeZones_TimeZoneSelector" Codebehind="TimeZoneSelector.ascx.cs" %>
<cms:CMSDropDownList ID="drpTimeZoneSelector" runat="server" CssClass="DropDownField" />