﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="GraphPreLoader.ascx.cs"
    Inherits="CMSModules_WebAnalytics_Controls_GraphPreLoader" %>
<asp:Panel runat="server" ID="pnlPreLoader" EnableViewState="false">
    <div class="GraphPreloaderInfoText">
        <cms:LocalizedLabel runat="server" ID="lblInfo" ResourceString="analytics.preparinggraph"></cms:LocalizedLabel>
    </div>
</asp:Panel>
