﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="SelectGraphType.ascx.cs"
    Inherits="CMSModules_WebAnalytics_Controls_SelectGraphType" %>
<cms:CMSButtonGroup runat="server" ID="graphIntervalElem" AutomaticButtonSelection="false" OnClick="graphIntervalElem_OnButtonClick"/>