<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_BizForms_InlineControls_BizFormControl" Codebehind="BizFormControl.ascx.cs" %>

<div>
	<cms:BizForm ID="Bizform1" runat="server" />
</div>
