﻿<%@ Page Language="C#" AutoEventWireup="true" Codebehind="DocumentType_Edit_Query_Header.aspx.cs" Inherits="CMSModules_DocumentTypes_Pages_Development_DocumentType_Edit_Query_Header" Theme="Default"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Document types - Queries - Edit" %>
