﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="StopWordsSelector.ascx.cs" Inherits="CMSModules_SmartSearch_FormControls_StopWordsSelector" %>
<cms:CMSDropDownList ID="drpStopWords" runat="server" />
