﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/DocumentWizard/DocumentWizardNavigation.ascx.cs" Inherits="CMSWebParts_DocumentWizard_DocumentWizardNavigation" %>
<asp:Literal runat="server" ID="ltlAuto" EnableViewState="false" Visible="false" />