<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_Staging_Tools_Controls_ViewTask"
    Codebehind="ViewTask.ascx.cs" %>
<%@ Register Src="~/CMSModules/Objects/Controls/ViewObjectDataSet.ascx" TagName="ViewDataSet"
    TagPrefix="cms" %>
<cms:ViewDataSet ID="viewDataSet" runat="server" />
