﻿@model VIN.WebParts.StoreDirectory.WebPart

<div class="module module-map">

<script type="text/javascript" src="http://maps.micello.com/webmap/v0/micellomap.js"></script>
<script type="text/javascript" src="http://maps.micello.com/plugins/Directory/Directory.js"></script>
<script type="text/javascript" src="/static/js/MapTheme.js"></script>

<script type="text/javascript">

    var key = "@Model.DevKey";
    var cid = "@Model.CommunityId";

    var mapControl;
    var mapView;
    var mapDataObject;
    var mapCanvas;

    micello.maps.init(key, mapInit);

    var MapStores = {
        @Raw(Model.StoreObject)
    };

    function mapInit() {
        mapControl = new micello.maps.MapControl('mapElement');
        mapControl.onMapClick = onMapClick;

        mapView = mapControl.getMapView();
        mapView.customView = true;
        mapView.setBaseAngRad(1.57);

        mapDataObject = mapControl.getMapData();
        mapDataObject.mapChanged = onMapChanged;

        mapCanvas = mapControl.getMapCanvas();

        if (micelloTheme) {
            mapCanvas.setOverrideTheme(micelloTheme);
        }

        mapDataObject.loadCommunity(cid);
    }

    function onMapChanged(e) {
        if (e.comLoad) {
            buildDirectory();
        }
    }

    function onMapClick(mx, my, clicked) {

        mapDataObject.removeInlay("my_inlays", true);

        if (clicked) {
            mapControl.defaultSelectAction(clicked);

            if (clicked.t == "Unit" || clicked.t == "Room") {
                var inlay = { "id": clicked.id, "t": "Selected", "anm": "my_inlays" };
                mapDataObject.addInlay(inlay);
            }

            bindInfoBox(clicked.id, clicked.nm);
        }
    }

    function MapUnit(id, name, floor) {
        this.id = id;
        this.name = name;
        this.floor = floor;
    }

    function CompareUnit(a, b) {
        if (a.name < b.name)
            return -1;
        if (a.name > b.name)
            return 1;
        return 0;
    }

    function buildDirectory() {
        var community = mapDataObject.getCommunity();
        var mapUnits = [];

        for (var i = 0; i < community.d[0].l.length; i++) {
            for (var j = 0; j < community.d[0].l[i].g.length; j++) {
                if (community.d[0].l[i].g[j].nm && (community.d[0].l[i].g[j].t == "Unit" || community.d[0].l[i].g[j].t == "Room")) {
                    var mapUnit = new MapUnit(community.d[0].l[i].g[j].id, community.d[0].l[i].g[j].nm, i);
                    mapUnits.push(mapUnit);

                    if (
                        community.d[0].l[i].g[j].id == "12274163" || community.d[0].l[i].g[j].nm == "ALDI" ||
                            community.d[0].l[i].g[j].id == "12274151" || community.d[0].l[i].g[j].nm == "Public Bar" ||
                            community.d[0].l[i].g[j].id == "12274330" || community.d[0].l[i].g[j].nm == "Coolangatta Hotel" ||
                            community.d[0].l[i].g[j].id == "12274330" || community.d[0].l[i].g[j].nm == "Coolangatta Hotel" ||
                            community.d[0].l[i].g[j].id == "12274335" || community.d[0].l[i].g[j].nm == "Woolworths" ||
                            community.d[0].l[i].g[j].id == "12274396" || community.d[0].l[i].g[j].nm == "Birch Carrol &amp; Coyle 6 Screens"
                    ) {
                        var inlay = { "id": community.d[0].l[i].g[j].id, "t": "Special", "anm": "special_inlays" };
                        mapDataObject.addInlay(inlay);
                    }
                }
            }
        }

        mapUnits.sort(CompareUnit);

        (function($) {

            var currentChar = "";
            for (i = 0; i < mapUnits.length; ++i) {

                if (mapUnits[i].name != "Bathroom" &&
                    mapUnits[i].name != "Women's Bathroom" &&
                    mapUnits[i].name != "Men's Bathroom" &&
                    mapUnits[i].name != "Cleaners" &&
                    mapUnits[i].name.substring(0, 5) != "Unit ") {

                    var newChar = mapUnits[i].name.substring(0, 1);

                    if (currentChar != newChar) {
                        var dividerRod = "<li class=\"alpha-divider\">" + newChar + "</li>";
                        $(".directory-list").append(dividerRod);
                        currentChar = newChar;
                    }

                    var PhoneNumber = "";
                    if (MapStores[mapUnits[i].name] != undefined) {
                        PhoneNumber = "<a class='phone' href='tel:" + MapStores[mapUnits[i].name]["PhoneNumber"] + "'>" + MapStores[mapUnits[i].name]["PhoneNumber"] + "</a>";
                    }

                    var LogoUrl = "";
                    if (MapStores[mapUnits[i].name] != undefined) {
                        LogoUrl = "<div class=\"img-div\"><img src=\"" + MapStores[mapUnits[i].name]["LogoUrl"] + "\" /></div>";
                    }

                    var itemRow =
                        "<li class=\"" + ((LogoUrl != "") ? "has-logo" : "") + "\">" +
                            "<a class='nav' href=\"#\" data-id=\"" + mapUnits[i].id + "\" data-name=\"" + mapUnits[i].name + "\" data-floor=\"" + mapUnits[i].floor + "\">" +
                            LogoUrl +
                            "<p class=\"title\">" + mapUnits[i].name + "</p>" +
                            "<p class=\"quicknav-ico icon-location pin\"></p>" +
                            "</a>" +
                            PhoneNumber +
                            "<div class=\"clear\"></div>" +
                            "</li>";

                    $(".directory-list").append(itemRow);

                }
            }

            $(".module-map .directory-list a").on("click", function(e) {
                e.preventDefault();

                popByGid(jq111(this).attr("data-id"), jq111(this).attr("data-floor"));
                bindInfoBox(jq111(this).attr("data-id"), jq111(this).attr("data-name"));

                window.location.hash = 'mapElement';
            });

        })(jq111);
    }

    function popByGid(gid, floor) {

        var drawing = mapDataObject.getCurrentDrawing();
        mapDataObject.setLevel(drawing.l[floor]);

        var level = mapDataObject.getCurrentLevel();

        mapDataObject.removeInlay("my_inlays", true);

        for (var i = 0; i < level.g.length; i++) {
            if (level.g[i].id == gid) {
                var geomObj = level.g[i];
                break;
            }
        }

        if (geomObj) {
            mapControl.defaultSelectAction(geomObj);

            var inlay = { "id": gid, "t": "Selected", "anm": "my_inlays" };
            mapDataObject.addInlay(inlay);
        } else {
        }
    }

    function bindInfoBox(id, name) {

        var LogoUrl = MapStores[name]["LogoUrl"];

        if (LogoUrl != "") {
            jq111(".module-map .menuTitle").html(
                "<div class=\"img-div\"><img src=\"" + LogoUrl + "\" /></div>" +
                jq111(".module-map .menuTitle").html()
            );
        }

        jq111(".module-map .menuLink").on("click", function(e) {
            e.preventDefault();

            if (jq111(this).text() == "Info") {
                if (MapStores[name] != undefined) {

                    var InfoContent = "<h3>" + name + "</h3>" +
                        jq111('<textarea/>').html(MapStores[name]["InfoContent"]).val();

                    if (MapStores[name]["DetailPage"] != undefined) {
                        InfoContent += "<p class='more-info'><a href='" + MapStores[name]["DetailPage"] + "'>More Info</a></p>";
                    }

                    setTimeout(function() {
                        jq111(".infoIn").html(InfoContent).text();
                        jq111(".infoWrapper").css('display', 'block');
                        alert('time out done');
                    }, 1000);

                }
            }

        });

    }

</script>

<div class="directory-button">
    <a href="#">
        <span class="icon-location"></span>
        Show Store Listing
    </a>
</div>

<div class="directory-container">
    <ul class="directory-list"></ul>
</div>

<div class="map-container">
    <div id="mapElement" style="height: 100%; margin-bottom: 80px; width: 100%;"></div>
</div>

<div class="clear"></div>
</div>

<div id="directory"></div>