﻿<%@ Page Title="" Language="C#" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master"
    AutoEventWireup="true" Codebehind="Header.aspx.cs" Inherits="CMSModules_WebAnalytics_Tools_Header"
    Theme="Default" %>

