<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Viewers_Documents_cmsdatagrid" Codebehind="~/CMSWebParts/Viewers/Documents/cmsdatagrid.ascx.cs" %>

<cms:CMSEditModeButtonAdd ID="btnAdd" runat="server" />
<cms:CMSDataGrid ID="gridElem" runat="server" />&nbsp;
