﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="AdvancedPopupHandler.ascx.cs"
    Inherits="CMSAdminControls_UI_AdvancedPopupHandler" %>
<div id="modalWrap" style="display: none;">
</div>