﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="WebServiceChecker.ascx.cs"
    Inherits="CMSAdminControls_UI_WebServiceChecker" %>
<cms:MessagesPlaceHolder ID="plcMess" runat="server" />