<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_AbuseReport_AbuseReport" Codebehind="~/CMSWebParts/AbuseReport/AbuseReport.ascx.cs" %>
<%@ Register Src="~/CMSModules/AbuseReport/Controls/AbuseReportEdit.ascx" TagName="AbuseReportEdit"
    TagPrefix="cms" %>
<cms:AbuseReportEdit ID="editReport" runat="server" />
