<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_AbuseReport_InlineAbuseReport" Codebehind="~/CMSWebParts/AbuseReport/InlineAbuseReport.ascx.cs" %>
<%@ Register Src="~/CMSModules/AbuseReport/Controls/InlineAbuseReport.ascx" TagName="InlineAbuseReport"
    TagPrefix="cms" %>
<cms:InlineAbuseReport ID="editReport" runat="server" />
