<%@ Control Language="C#" AutoEventWireup="true" Codebehind="ForumPostSubscription.ascx.cs"
    Inherits="CMSModules_ContactManagement_Controls_UI_ActivityDetails_ForumPostSubscription" %>
<%@ Register Src="~/CMSModules/ContactManagement/Controls/UI/ActivityDetails/ForumPost.ascx"
    TagName="ForumPost" TagPrefix="cms" %>
<cms:ForumPost runat="server" ID="uc" />
