<%@ Control Language="C#" AutoEventWireup="true" Codebehind="LandingPage.ascx.cs" Inherits="CMSModules_ContactManagement_Controls_UI_ActivityDetails_LandingPage" %>
<%@ Register Src="~/CMSModules/ContactManagement/Controls/UI/ActivityDetails/PageVisit.ascx" TagName="PageVisit" TagPrefix="cms" %>
<cms:PageVisit runat="server" ID="uc" />
