<%@ Control Language="C#" AutoEventWireup="true" Codebehind="MessageBoardSubscription.ascx.cs"
    Inherits="CMSModules_ContactManagement_Controls_UI_ActivityDetails_MessageBoardSubscription" %>
<%@ Register Src="~/CMSModules/ContactManagement/Controls/UI/ActivityDetails/MessageBoardComment.ascx" TagName="MessComment" TagPrefix="cms" %>    
<cms:MessComment runat="server" ID="uc" />