﻿@using Deepend.Framework.Kentico.Modules.ImageCrop
@model VIN.WebParts.ImageGallery.WebPart

@{
    var imageGallery = Model.Items;
}

<style>
    
</style>

<div class="image-gallery" style="display:none;">

    <h2 class="gallery-title">@Model.GalleryTitle</h2>

    @for (var i = 0; i < imageGallery.Count; i++)
    {
       //@imageGallery[i].ImageGuid
        
        var url = ImageCropUtils.GetImageUrl(imageGallery[i].ImageGuid, "938x465");

        <div class="swiper-slide"><img src="@url" alt="@imageGallery[i].DocumentName" /></div>
    }
</div>

<div class="module module-image-gallery module-image-gallery-enabled">
    <h2 class="gallery-title">@Model.GalleryTitle</h2>
    <div class="swiper-container gallery-top">
        <div class="swiper-wrapper">
            @for (var i = 0; i < imageGallery.Count; i++)
            {
               //@imageGallery[i].ImageGuid
        
                var url = ImageCropUtils.GetImageUrl(imageGallery[i].ImageGuid, "938x465");
                <div class="swiper-slide"><img src="@url" alt="@imageGallery[i].DocumentName" /></div>
            }
            <!-- <div class="swiper-slide"><img src="http://lorempixel.com/1200/1200/nature/1" /></div>
            <div class="swiper-slide"><img src="http://lorempixel.com/1200/1200/nature/2" /></div>
            <div class="swiper-slide"><img src="http://lorempixel.com/1200/1200/nature/3" /></div>
            <div class="swiper-slide"><img src="http://lorempixel.com/1200/1200/nature/4" /></div>
            <div class="swiper-slide"><img src="http://lorempixel.com/1200/1200/nature/5" /></div>
            <div class="swiper-slide"><img src="http://lorempixel.com/1200/1200/nature/6" /></div>
            <div class="swiper-slide"><img src="http://lorempixel.com/1200/1200/nature/7" /></div>
            <div class="swiper-slide"><img src="http://lorempixel.com/1200/1200/nature/8" /></div>
            <div class="swiper-slide"><img src="http://lorempixel.com/1200/1200/nature/9" /></div>
            <div class="swiper-slide"><img src="http://lorempixel.com/1200/1200/nature/10" /></div> -->
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div>
    <div class="swiper-thumb-container gallery-thumbs">
        <div class="swiper-wrapper">
            @for (var i = 0; i < imageGallery.Count; i++)
            {
               //@imageGallery[i].ImageGuid
        
                var url = ImageCropUtils.GetImageUrl(imageGallery[i].ImageGuid, "938x465");
                <div class="swiper-slide"><img src="@url" alt="@imageGallery[i].DocumentName" /></div>
            }
            <!-- <div class="swiper-slide"><img src="http://lorempixel.com/1200/1200/nature/1" /></div>
            <div class="swiper-slide"><img src="http://lorempixel.com/1200/1200/nature/2" /></div>
            <div class="swiper-slide"><img src="http://lorempixel.com/1200/1200/nature/3" /></div>
            <div class="swiper-slide"><img src="http://lorempixel.com/1200/1200/nature/4" /></div>
            <div class="swiper-slide"><img src="http://lorempixel.com/1200/1200/nature/5" /></div>
            <div class="swiper-slide"><img src="http://lorempixel.com/1200/1200/nature/6" /></div>
            <div class="swiper-slide"><img src="http://lorempixel.com/1200/1200/nature/7" /></div>
            <div class="swiper-slide"><img src="http://lorempixel.com/1200/1200/nature/8" /></div>
            <div class="swiper-slide"><img src="http://lorempixel.com/1200/1200/nature/9" /></div>
            <div class="swiper-slide"><img src="http://lorempixel.com/1200/1200/nature/10" /></div> -->
        </div>
    </div>
    <div class="swiper-pagination gallery-pagination"></div>
</div>