<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Blogs_NewBlog" Codebehind="~/CMSWebParts/Blogs/NewBlog.ascx.cs" %>

<%@ Register Src="~/CMSModules/Blogs/Controls/NewBlog.ascx" TagName="NewBlog" TagPrefix="cms" %>

<cms:NewBlog ID="newBlog" runat="server" />