<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Navigation_cmsbreadcrumbs" Codebehind="~/CMSWebParts/Navigation/cmsbreadcrumbs.ascx.cs" %>
<cms:CMSBreadCrumbs ID="bcElem" runat="server" EnableViewState="false" />
