<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Navigation_cmslistmenu" Codebehind="~/CMSWebParts/Navigation/cmslistmenu.ascx.cs" %>
<cms:CMSListMenu ID="menuElem" runat="server" />
