﻿
.module.blog {

	h1.tag-search {
		margin: 0px 10px 20px 10px;

		.label {
			color: $brandPrimary;
		}

	}

    .blog-content-block {
        a {
            color: $brandPrimary;
        }
    }

	ul.pagination {
		list-style: outside none none;
		margin: 0 20px;
		padding: 0;

		li {
			float: left;
			list-style: outside none none;
			margin-right: 10px;

			&.active {
				a {
					font-weight: bold;
				}
			}

			&.disabled {
				a {
					color: #999999;
				}
			}

			a {
				color: $brandPrimary;
				text-decoration: none;
			}
		}
	}
}

.tags {

	&.listing-block {
		bottom: 60px;
		left: 20px;
		position: absolute;
	}

	a {
		color: $brandPrimary;
		font-family: "Open Sans",sans-serif;
		font-size: 14px;
		margin-right: 2px;
		text-decoration: none;
	}

}