﻿/*******************
BLOG TAG CLOUD
*******************/
.tag-cloud {

	border: solid 1px #e5e5e5;
	padding: 15px;
	margin-left: 10px;
	margin-right: 10px;

	.title {
		color: #333333;
		font-size: 16px;
		width: 100%;
		border-bottom: solid 1px #e5e5e5;
		padding-bottom: 10px;
		margin-bottom: 15px;
	}

	.tags {
        display: block;

		a {
			display: inline-block;
			font-size: 14px;
			color: #666666;
			border: solid 1px #e5e5e5;
			padding: 5px 10px;
			margin: 0px 10px 10px 0px;
			text-decoration: none;

			&:hover {
				border-color: $brandPrimary;
				color: $brandPrimary;
			}
		}
	}
}