﻿/*******************
BLOG FILTER
*******************/
.blog-filter {
	margin: 20px;
	background-color: white;
	border: solid 1px #e5e5e5;


	/*Category links*/
	.filter-categories {
		padding: 15px;
		width: 71%;
		float: left;
		border-right: solid 1px #e5e5e5;

		.title {
			color: #333333;
			font-size: 16px;
			width: 100%;
			border-bottom: solid 1px #e5e5e5;
			padding-bottom: 10px;
		}

		ul {
			margin: 0;
			margin-top: 8px;
			padding: 0;
			list-style-type: none;

			li {
				float: left;
				margin-right: 35px;

				&:last-child {
					margin-right: 0px;
				}
			}

			a {
				text-decoration: none;
				color: $brandPrimary;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	/*Archives dropdown*/
	.filter-archives {
		padding: 15px;
		width: 29%;
		float: left;
		position: relative;

		.dropdown {
			width: 100%;
			position: relative;
		}

		.title {
			color: #333333;
			font-size: 16px;
			width: 100%;
			padding-bottom: 10px;
		}

		.filter-btn {

			background-image:url('../images/icons/arrow-down.png');
			background-position: 97% center;
			background-repeat: no-repeat;
			background-color: #f8f8f8;
			display: block;
			width: 100%;
			height: 35px;
			padding-left: 15px;
			color: #333333;
			font-size: 14px;
			font-style: italic;
			text-decoration: none;
			line-height: 35px;
		}

		.filter-list {
			display: none; //Hidden by default
			width: 100%;
			padding-top: 10px;
			padding-bottom: 10px;
			position: absolute;
			background-color: #ededed;
			z-index: 999;


			ul {
				padding-left: 20px;
			}

			li {
				list-style-type: none;
			}

			a {
				font-size: 14px;
				text-decoration: none;
				color: #333333;

				&:hover {
					color: $brandPrimary;
				}
			}
		}

		.dropdown.open {
			.filter-list {
				display: block;
			}
		}
	}

	//Small version
	@media (max-width: 670px) {

		.filter-categories {
			width: 100%;
			float: none;
			border-right: none;
			border-bottom: solid 1px #e5e5e5;

			ul {
				li {
					margin-bottom: 5px;
				}
			}
		}

		.filter-archives {
			width: 100%;
			float: none;
		}
	}

}