﻿.blog-intro-section {
	.blog-intro {

		/*Sharing links*/
		.share {
			padding-top: 20px;
		}
		.copy {
			font-size: 14px;
			text-transform: uppercase;
			font-weight: bold;
			color: #999999;
		}
	}
}