
.breadcrumb-row
{
	border-bottom: 1px solid #CCCCCC;
	padding: 0 0 20px 0px;
	margin: 30px 20px;

	&.home-crumb-block
	{
		margin: 30px 20px 40px 20px;
	}

    .CMSBreadCrumbsLink {

        text-decoration: none;
        color: $brandPrimary;

        span {
            color: $brandPrimary;
            text-decoration: none;
        }

        &:last-child {
            color: #000;

            span {
                color: #000;
                text-decoration: none;
            }
        }
    }

	.arrow {
		font-family: Oswald,sans-serif;
		font-size: 18px;
		padding-left: 5px;
		padding-right: 10px;
	}
}