
.module-content-block
{
    margin-bottom: 20px;

    &.full-width {
        //
    }

    .standard-img {
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .inner-text {
        a, a:visited, a:hover {
            color: $brandPrimary;
        }
    }

	.booking-link-title{
		border-bottom: 1px solid #e5e5e5;
		margin-bottom: 20px;
		padding: 0px 20px;
	}

	.sidebar-icon {
		display: inline-block;
	}

    .booking-info-icon {
        color: $brandPrimary;
    }

	.Booking-info {
		background-color: #f8f8f8;
		padding-bottom: 25px;
	}

	.booking-links-container{

		margin: 5px 0px;
		padding: 5px 20px;

		a, a:hover{
			color: #212121;
		}
	}

	.booking-deatils {

		margin: 15px 0px;
		padding: 0px 25px;

		a, a:hover {
            color: #212121;
			text-decoration: none;
			text-transform:uppercase;
		}
	}

	.booking-links-button {
			margin: 0px 20px;

		a {
			text-align: left;
			padding: 5px 20px;
			line-height: 24px;
		}
	}
}

@media (max-width: 767px) {
    .module-content-block {

        margin-bottom:0px;

        .Booking-info {
		    background-color: #f8f8f8;
		    padding-bottom: 25px;
            margin-top:25px;
	    }
    }
}