﻿
.module-feature-tile
{
    &.large-tile
    {
        h3 {
            max-height: 94px;
            overflow: hidden;
        }

        .body-text-container {
            max-height: 194px;
            overflow: hidden;
        }

        .button {
            height:33px;
            text-align: left;
            overflow:hidden;
        }

        ul {
            padding-left: 20px;
            padding-right: 10px;
            margin-top: 20px;

            li {
                // http://www.patternify.com
                list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAKCAMAAACg0N8BAAAADFBMVEX////VjyrVjyrVjyoV4qiTAAAAA3RSTlMAM4DjpSLOAAAAHklEQVQI12NgZGJmZmJkAJJAmoEZDGAUVBCqBA8AABHiAF0ldlxIAAAAAElFTkSuQmCC");
                color: #666666;
                padding-left: 10px;

                a {
                    color: #666666;
                }
            }
        }
    }

    &.medium-tile
    {
        h3 {
            max-height: 64px;
            overflow: hidden;
        }

        .has-title.body-text-container {
            max-height: 144px;
            overflow: hidden;
        }

        .no-title.body-text-container {
            max-height: 148px;
            overflow: hidden;
        }

        .button {
            height:33px;
            text-align: left;
            overflow:hidden;
        }

        ul {
            padding-left: 20px;
            padding-right: 10px;

            li {
                // http://www.patternify.com
                list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAKCAMAAACg0N8BAAAADFBMVEX////VjyrVjyrVjyoV4qiTAAAAA3RSTlMAM4DjpSLOAAAAHklEQVQI12NgZGJmZmJkAJJAmoEZDGAUVBCqBA8AABHiAF0ldlxIAAAAAElFTkSuQmCC");

                color: #666666;
                padding-left: 10px;

                a {
                    color: #666666;
                }
            }
        }
    }

    &.small-tile
    {
        .deal-h3 {
            max-height: 92px;
            overflow: hidden;
        }

        .deal-name {
            max-height: 26px;
            overflow: hidden;
        }
    }

    &.cube-tile
    {
        .feature-h2 {
			font-family: PT Serif;
            max-height: 82px;
            overflow: hidden;

            font-size: 32px;
            line-height: 38px;
        }

        .block-content-link {
            max-height: 28px;
            overflow: hidden;
        }

        .radial {
            background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
            background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
            background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* Opera 12+ */
            background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
            background: radial-gradient(ellipse at center, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        }


        @media (max-width: 767px) {
            padding: 20px !important;

            .mod-large {
                margin: 7px 30px;
            }
        }

        @media (max-width: 479px) {
            padding: 10px !important;
        }

    }

    .standard-content .body-text-container a {
        color: $brandPrimary;
    }
}

@media (max-width: 767px) {
    .wp_TheMarketPlace_WebParts_FeatureTile {
        &:nth-child(odd) {
            .cube-tile {
                .mod-large {
                    float: right;
                }
            }
        }
    }
}

/* Custom styles for feature tile */

.no-underline{
    text-decoration:none !important;
}

h3 a{
    text-decoration:none !important;
}