
.FormPanel {

    .EditingFormErrorLabel {
        color: $brandPrimary;
    }

	label {
		display: inline-block;
	}

	input {

		&[type=radio] {
			margin-right: 5px;
		}
		&[type=checkbox] {
			margin-right: 5px;
		}
	}
}

span.ErrorLabel {
    color: $brandPrimary;
    font-weight: bold;
}

span.InfoLabel {
    color: $brandPrimary;
    font-weight: bold;
}

.CaptchaTable {

    td {
        display: initial;

        @media (max-width: 480px) {
            display:block;
        }
    }

    img {
        height: auto;

        @media (max-width: 480px) {
            height: 40px;
        }
    }

}