﻿
.module-image-gallery
{
    padding: 0px 20px;
    margin: 20px 0px;

    .gallery-title{
        font-style:italic;
        color:#000;
    }

    strong {
        font-size:32px;
        padding-bottom:30px;
    }
    .swiper-container {
        width: 100%;
        margin-top: 30px;
    }

    .swiper-thumb-container {
        height: auto;
        width: 100%;
        margin-top: 30px;
        overflow: hidden;
    }
    .gallery-top {
        width: 100%;
    }
    .gallery-thumbs {
        height: auto;
        box-sizing: border-box;
    }
	.swiper-slide {
		width: 25%;
        opacity: 0.4;
		height: auto;
        background-size: cover;
        background-position: center;
    }
    .swiper-slide-active {
        opacity: 1;
    }
    .swiper-pagination {
        position:relative;
        transform: translateY(25px);
    }

    .swiper-pagination-bullet {
        background-color: transparent;
        border: 2px solid #bfb6ad;
        opacity: 1;
        width: 16px;
        height: 16px;
        margin: 6px 6px 0 0;
    }

    .swiper-pagination-bullet-active {
            background-color: $brandPrimary;
    }

}
