﻿
@font-face {
    font-family: 'jamesfajardo';
    src: url('../fonts/james_fajardo-webfont.eot');
    src: url('../fonts/james_fajardo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/james_fajardo-webfont.woff2') format('woff2'),
         url('../fonts/james_fajardo-webfont.woff') format('woff'),
         url('../fonts/james_fajardo-webfont.ttf') format('truetype'),
         url('../fonts/james_fajardo-webfont.svg#james_fajardoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow-x: hidden;
}

.image-bg-section-container {
    background-position: top center;
    background-repeat: repeat;
}