﻿.module-info-tile {

    .hours-module {
        font-size: 14px;
    }

    .sublist {
        padding-left: 45px;
    }

}

/*Desktop Contact Us Map Styles*/

.contact-us-page-content {
    padding-top: 0px !important;
}

.map-wrap {
	background-size: 100% auto;
	width: 100%;
    position: relative;

	.contact-us-breadcrumb {
		body.EditMode & {
			position: static;
		}

		position:absolute;
        top: 0;
        left: 0;
        width: 100%;
		z-index: 10;
		border-bottom: none;

		.breadcrumb-row{
			border-bottom:none;
			margin: 20px 0px 0px 0px;
		}

        .CMSBreadCrumbsLink:last-child span {
            color: #000;
        }

        .contact-page-title{
            color:#000;
            font-size:36px;
        }
	}

    .map-canvas {
        position: relative;
        overflow: hidden;
        padding-bottom: 0%;
    }

    .feature-map {
        height: 977px;
    }

	.contact-us-info {
		position: absolute;
		top:0;
		height: auto;
		width: 960px;
		left: 50%;
        pointer-events: none;
		transform: translateX(-50%);

		.module-info-wrapper {
			margin: 60px 0px 0px 0px;
			float:right;
            pointer-events: all;
		}

		.module-info-block {
			background: #fff;
			margin-top: 40px;
		}

		.contact-info-title {
			border-bottom: 1px solid #e5e5e5;
			padding: 10px 20px;
			color: $brandPrimary;
		}

		.module-info-content {
			padding:20px;
            display: block;

            .module-info-phone {
                display:inline-block;
                margin: 0px 10px 0px 0px;
            }
		}

		.contact-ico {
			color: $brandPrimary;
		}

        .detail-arrow{
            display:none;
        }

		h5 {
			color: #000;
		}

		.sublist {
			font-weight: normal;
		}

		.opening-hours-content {

			padding-top:15px;

			.sublist {
				padding-left: 0px;
				line-height: 22px;
			}
		}
	}
}

/*Desktop Form Styles*/
.contact-us-section {
	padding-top: 0px !important;

	.contact-us-form-wrapper {
		padding: 30px 0px 0px 50px;

		h2 {
			font-style: italic;
			color: #000;
		}

        .mandatory-icon {
            color: red;
        }
	}

	.left-column {
		float:left;
	}

	.right-column {
		float:left;
	}

	.field-row {
		margin-top: 10px;
		margin-bottom: 10px;
		position: relative;
		font-size: 14px;

		label {
			font-size: 14px;
			color: #000;
		}

		.error-msg {
			color: red;
			text-align: right;
			position: absolute;
			top: 0;
			font-style: italic;
			right: 30px;
			width: 90%;
		}

		.editing-form-control-nested-control {
			input, select, textarea {
				background-color: #f6f5f3;
				border: none;
				font-style: italic;
			}
			input {
				width: 90%;
				line-height: 28px;
			}

			select {
				width: 50%;
				height: 30px;
			}

			textarea {
				width: 100%;
				height: 170px;
			}

		}

        .EditingFormErrorLabel {
            float:right;
        }

	//Error states for Input

		.EditingFormErrorLabel {
			color: red;
		}

		.editing-form-control-nested-control.Error {
			input, select, textarea {
				border-color: red;
			}
		}
	}

    .contact-us-submit {
		float:right;

		.FormButton, .FormButton a {
			background-color: $brandPrimary;
			color: #fff;
            border: none;
			display: block;
			padding: 6px 23px;
			text-decoration: none;
		}

		.FormButton a:hover {
			color: #000;
		}
	}

	.ErrorLabel {
		display:none;
	}
}

@media (max-width: 991px) { }

@media (max-width: 767px) {

    /*Tablet Contact Us Map Styles*/

    .map-wrap {

        background: #f6f5f3;

	    .contact-us-breadcrumb {
            left:20px;
            top:50px;
		    width: 100%;

            .contact-us-info {
		        position: absolute;
            }

            .contact-page-title{
            font-size:30px;
        }

        }

        .map-canvas {
            padding-bottom: 0;
        }

        .feature-map {
            height: 345px;
        }

        .map-wrapper {
		    position: static;
		    width: 100%;
	    }

        .contact-us-info {
		    position: relative;
		    width: 100%;

		    .module-info-wrapper {
			    margin: 0px;
			    float: none;
                width: 100%;
                padding: 0px 20px;
                margin-bottom:30px;
		    }

		    .contact-info-title {
			    border-bottom: 1px solid #e5e5e5;
			    padding: 10px 20px;

                .arrow {
                    color: red;
                }


                //Open state
                &.open {

                }
		    }

            .module-info-content {
                display: none;

                .module-info-phone {
                    display:block;
                    margin: 10px 0px;
                }
            }

            .module-info-open {
                display: block;
            }

            .detail-arrow{
                display:block;
                float: right;
                padding-top: 3px;
            }
	    }
    }

    /*Tablet Form Styles*/
    .contact-us-section {

        background: #fff;

        .contact-us-form-wrapper {
		padding: 30px 0px 0px 20px;

		h2 {
			font-style: italic;
			color: #000;
            text-align:left;
		    }
	    }

        .contact-us-form-wrapper {
		    padding: 30px 0px 0px 20px;
	    }

        .left-column {
		    float:none;
            width: 100%;
	    }

	    .right-column {
		    float:none;
            width: 100%;
	    }

        .field-row {

            .editing-form-control-nested-control {
			    input, select, textarea {
				    background-color: #f6f5f3;
			    }
			    input {
				    width: 95%;
			    }

			    select {
				    width: 95%;
				    height: 30px;
			    }

			    textarea {
				    width: 95%;
				    height: 90px;
			    }

		    }

        }

        .mandatory {
                text-align:center;
                font-size: 90%;
            }

        .contact-us-submit {
		    float:right;
            width: 100%;

		    .FormButton, .FormButton a {
			    background-color: $brandPrimary;
			    color: #fff;
                border: none;
                margin-left: auto;
                margin-right: auto;
			    display: block;
			    padding: 6px 23px;
                margin-top: 20px;
			    text-decoration: none;
		    }

        }

    }

}

@media (max-width: 480px) {

    .contact-us-section {
        /*Form Styles*/

        .contact-us-form-wrapper {
		    padding: 30px 0px 0px 20px;
	    }

        .left-column {
		    float:none;
            width: 100%;
	    }

	    .right-column {
		    float:none;
            width: 100%;
	    }
    }
}
