﻿
.module-map
{
	margin: 0px 20px 40px 20px;

	.directory-button {
		display: none;

		a {
			background-color: #fff;
			border: 1px solid #e5e5e5;
			color: $brandPrimary;
			display: block;
			font-size: 20px;
			margin-bottom: 20px;
			padding: 20px;
			text-align: center;
			text-decoration: none;
		}
	}

	.directory-container {

		float: left;
		height:800px;
		width: 400px;
		display: block;
		margin-bottom: 0px;

		overflow-y: scroll;
		overflow-x: hidden;

		ul.directory-list {
			margin: 0px;
			padding: 0px;
			list-style: none;

            li {
				background-color: #ffffff;
				border-bottom: 1px solid #e5e5e5;

				margin: 0px;
				padding: 20px 0px;
				list-style: none;

                min-height: 58px;

				&.alpha-divider {
					color: #323232;
					background-color: #efefef;
					padding: 4px 20px;
				}

                &.has-logo {

                }

                .img-div {
                    border: 1px solid #ccc;
                    float: left;
                    height: 50px;
                    margin-right: 20px;
                    padding: 4px;
                    position: relative;
                    text-align: center;
                    width: 70px;

                    img {
                        bottom: 0;
                        display: block;
                        left: 0;
                        margin: auto;
                        max-height: 40px;
                        max-width: 60px;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                }

				a {
					text-decoration: none;
					display: block;
					padding: 0px 60px 0px 20px;
					position: relative;

					p {
						display: block;
					}
				}

                a.phone {
					padding: 0px 60px 0px 20px;
                    min-height: 0px;
                    color: #666666;
                    font-size: 14px;
				}

				.title {
					color: #010101;
				}

                .subtitle  {
					color: #676767;
				}

                .pin {
					color: #2abeb2;
					position: absolute;
					top: -4px;
					right: 0px;
				}

			}
		}
	}

    .map-container {
		float: right;
		height:800px;
		width: 520px;
        overflow: visible;

        > * {
            overflow: visible;
        }
	}

    #micello-map {

        overflow: visible !important; // ray: to override inline

        .menuTitle {
            background-color: $brandPrimary;
            color: white;
            margin-bottom: 10px;
            padding: 12px 4px;
            width: 100%;
            min-height: 74px;
            padding-left: 20px;
            min-height: auto;

            .img-div {
                border: 1px solid #ccc;
                float: left;
                height: 50px;
                margin-right: 20px;
                padding: 4px;
                position: relative;
                text-align: center;
                width: 70px;
                background-color: white;
                margin-bottom: 10px;

                img {
                    bottom: 0;
                    display: block;
                    left: 0;
                    margin: auto;
                    max-height: 40px;
                    max-width: 60px;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }

        .menuTitle:after {
            content:'';
            display:block;
            clear: both;
        }

        .menuTable {
            width: 255px;
        }

        .micello-rounded {
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
        }

        .menuItem {
            padding: 5px 20px;

            a.menuLink {
                color: $brandPrimary;
                text-decoration: underline;
            }
        }

        .infoIn {
            padding: 15px;

            h3 {
                margin-bottom:10px;
            }

            p {
                margin-bottom: 5px;

                &.more-info {
                    margin: 10px 0px;
                }
            }
        }

        table {

            td {
                padding: 2px;
            }
        }

        table.infoTable {
            display: none;
        }
    }

    .infoWrapper {
        display: none;
    }

	/* DESKTOP NARROW STYLES */

	@media (max-width: 991px)
	{
		margin: 0px 10px;

		.directory-container {
			width: 300px;
			display: block;
		}

		.map-container {
			width: 408px;
		}
	}

	/* TABLET STYLES */

	@media (max-width: 767px)
	{
		margin: 0px 20px;

		.directory-button {
			display: block;
		}

		.directory-container {
			float: none;
			width: 100%;
			height: 300px;
			display: none;
			margin-bottom: 20px;
		}

		.map-container {
			float: none;
			width: 100%;
		}
	}

	/* MOBILE STYLES */

	@media (max-width: 479px)
	{

	}

}