﻿/************************************
Navigations overrides
************************************/

/*Mobile Menu overrides*/
.mobile-menu {


    //Search
    .mobile-search-block {
        .search-btn {
            background-color: transparent;
            text-indent: -9999px;
            position: absolute;
            display: block;
            width: 38px;
            height: 38px;
            right: 20px;
            top: 7px;
        }
    }
}


/*Desktop Nav fixes*/
/************************
Because stupid webflow's stupid CSS has a breakpoint set at 767 and the
columns break at above 768, we need to manually override some widths here.
Gross.
*************************/
@media screen and (min-width: 768px) and (max-width: 925px) {
    .preheader {
        .preheader-left {
            width: 30%;
        }
        .preheader-right {
            width: 70%;

            .followus-block {
                p {
                    display: none;
                }
            }
        }
    }

    //Primary nav fixes
    .w-nav-menu {
        .w-nav-link {
            padding: 30px 10px;
        }
    }

    //Quick links fixes
    .quick-nav-container {
        .icon-location {
            margin-right: 0;
            position: relative;
            left: -10px;
        }
    }
}