﻿
.module.site-search
{
	margin: 20px;

    h1{
        font-family:'Open Sans', sans-serif;
    }

	.gsc-search-box.gsc-search-box-tools {
		display: none;
	}

	.gsc-above-wrapper-area {
		display: none;
	}

	.gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b, .gs-imageResult a.gs-title:link, .gs-imageResult a.gs-title:link b
	{
		color: $brandPrimary !important;
	}

	.gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl
	{
		color: #666666 !important;
	}

	.gsc-thumbnail-inside {
		padding: 0;
	}

	.gsc-table-result, .gsc-thumbnail-inside, .gsc-url-top {
		padding: 0;
	}

	.cse .gsc-control-cse, .gsc-control-cse {
		padding: 0;
	}

	.search-result-title .search-term
	{
		color: $brandPrimary;
	}
}