﻿
.module-signup-block
{

    &.default
    {
        .module-container {

            padding: 20px;
            position: relative;

            @media (max-width: 767px) {
                height: 200px;
            }

            h4 {
                color: white;
                margin: 0px;
            }

            form {
                height: 100%;
            }

            input {
                margin-top: 20px;
                width: 100%;
            }

            .module-signup {
                background-color: #e5e5e5;
                bottom: 0px;
                display: block;
                height: 40px;
                padding: 0;
                position: absolute;
                top: auto;

                &:hover {
                    background-color: #e5e5e5;
                }
            }

            .module-signup-button {
                color: $brandPrimary;
                display: block;
                padding: 6px 23px;
                text-decoration: none;

                &:hover {
                    color: #000000;
                }
            }

            .message-box {
                color: white;
                font-size: 13px;
                line-height: 19px;
                margin: 0;
                padding: 0;
            }
        }
    }

    .deal-mod.deal-one:hover a {
        background-color: #e5e5e5;
    }

}