﻿
.module.module-slider {
    height: 465px;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden !important;
    position: relative;

    .box-title{
        font-size: $slider_title_txtsize_desktop;
        font-family: $slider_title_font;
        font-weight: normal;
        font-style: normal;
        color: $slider_title_colour;
        line-height: $slider_title_lineheight_desktop;
		position: relative;
		top: 40%;
		transform: translateY(-40%);
    }

    .line {
        width: 60px;
        height: 3px;
        background: #fff;
        margin: 20px 0px;
    }

    .box-text {
        font-family: jamesfajardo;
        font-size: 16px;
        text-align: left;

        font-size: 42px;
        line-height: 32px;
    }

    .box-link {
        font-size: 16px;
        margin-top: 10px;
        text-align: left;
		position: relative;
		transform: translateY(310%);
    }

    .video-button {
        font-size: 16px;
        margin-top: 10px;
        text-align: left;
		position: relative;
		transform: translateY(310%);
    }

	@media (max-width: 767px) {

    	.box-title{
            color: $slider_title_colour_mobile;
    		font-size: 36px;
    		position: inherit;
    		top: 0;
            width: 80%;
    		transform: none;
    	}

    	.box-link {
    		position: relative;
    		transform: none;
    	}

        .button.reversed {
            color: white;
        }
	}

    h1 {
        padding-bottom:10px !important;
    }

    .swiper-container {
        background-color: #efefef;
        height: 465px;
        position : absolute;
        left: 50%;
        -webkit-transform: translate(-50%, 0%);
        -moz-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);

        width: 2814px; // 938 * 3
        margin-top: 0;

        .swiper-slide {
            /*border: 1px solid #efefef;*/

            .item-content {
                display: none;
            }
        }

        .swiper-button-prev {
            background-color: rgba(255, 255, 255, 0.4);
            background-image: none;
            height: 465px;
            left: 0;
            margin: 0;
            top: 0;
            width: 938px;
        }

        .swiper-button-next {
            background-color: rgba(255, 255, 255, 0.4);
            background-image: none;
            height: 465px;
            right: 0;
            margin: 0;
            top: 0;
            width: 938px;
        }

        .swiper-button-prev:hover, .swiper-button-next:hover {
            background-color: rgba(255, 255, 255, 0.45);
        }


        @media (max-width: 991px) {
            width : 2178px; // 726 * 3
            margin-top: 0;

            .swiper-button-prev { width: 726px; }
            .swiper-button-next { width: 726px; }

            .swiper-content { left: -138px; }
            .swiper-pagination { left: -227px; display: none; }

        }

        @media (max-width: 767px) {
            width : 2184px; // 728 * 3
            margin-top: 44px;

            height: 157px;

            .swiper-button-prev { width: 728px; }
            .swiper-button-next { width: 728px; }

            .swiper-content {
                left: 0;
                top: 0;
                height: 100%;

                .inner-container {
                    border-radius: 0;
                    bottom: 0;
                    left: 0;
                    padding: 20px;
                    position: absolute;
                    right: 0;
                    height: 268px;
                }
            }

            .swiper-pagination {
                left: 0px;
                bottom: 20px;
                display: block;
            }

        }

        @media (max-width: 480px) {
            width : 1440px; // 480 * 3
            //width : 480px; // 480 * 3

            .swiper-button-prev { width: 480px; }
            .swiper-button-next { width: 480px; }

            .inner-container { background-color: orange !important; }
        }

    }

    .swiper-content {

        position: absolute;
        left: -188px;
        //top: 40px; ORIGINAL
        top: -90px;
        width: 100%;
        height: 100px;
        z-index: 10;
        text-align: center;

        .inner-container {
            background-color: $slider_content_bg;
            height: 325px;
            margin: 170px auto 0 auto;
            padding: 20px 40px;
            text-align: left;
            width: 325px;
            color: #FFFFFF;
			border-radius: 162px;
			border: 5px solid $slider_content_border;

            .inner-box {
                height: 275px;
				width: 95%;

            }
        }

        @media (max-width: 991px) {
            left: -138px;
            height: 468px;

            .inner-container {
                margin: 135px auto 0;
            }

			.inner-box {
                height: 275px;
				width: 100%;
            }
        }

        @media (max-width: 767px) {
            left: 0;
            top: 0;
            //height: 100%;

            .inner-container {
                background-color: $brandPrimary;
				border-radius: 0;
                bottom: 0;
                left: 0;
                padding: 20px;
                position: absolute;
                right: 0;
                height: 268px;

                margin: 0;
                width: 100%;

                border : none;
				border-top: 5px solid white;

                .inner-box {
                    height: auto;
    				width: 95%;
                }
            }

        }

        @media (max-width: 480px) {
            //

            .inner-container {
                .inner-box {
                    height: auto;
				    width: 95%;

                }
            }
        }

    }

    .swiper-pagination {

		display: block;
        left: 60%;
        margin-top: 50px;

		.swiper-pagination-bullet {
            background-color: $slider_bullet_bg;
            border: 2px solid $slider_bullet_border;
            opacity: 1;
            width: 16px;
            height: 16px;
            margin: 6px 6px 0 0;

            &.swiper-pagination-bullet-active {
                background-color: $slider_bullet_bg_active;
            }
        }
    }

	@media (max-width: 767px) {

		.swiper-pagination {

			display:block;
			bottom: 30px;
            left: 20px;
		}
	}
}

.module.module-slider.single-slide {

    .swiper-content {

        left: 320px;

        @media (max-width: 991px) {
            left: 188px;
            top: 0px;
        }

        @media (max-width: 767px) {
            left: 0;
            top: 0;

            height: 389px;

            .inner-container {
                border-radius: 0;
                bottom: 0;
                left: 0;
                padding: 20px;
                position: absolute;
                right: 0;
                height: 135px;

                margin: 0;
                width: 100%;

                overflow: hidden;

                .box-text {
                    display: none;
                }
            }
        }

        @media (max-width: 480px) {
            //
        }
    }

    .inner-container {
        width: 315px;
        height: 315px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 40px;

        margin: 200px auto 0;
    }

    .swiper-container {

        width: 100%;
        text-align: center;

        .swiper-slide {

            img {
                max-width: initial;
            }

        }
    }

    &.default {
        .swiper-content {
            width: 940px;
            margin: auto;
            position: absolute;
            left: 0;
            right: 0;
            //top: 40px;

            .inner-container {
                margin: 190px auto 0;
                position: absolute;
                right: 0;
            }

            @media (max-width: 991px) {
                margin: 0 40px;
                width: auto;

                .inner-container {
                    margin: 80px auto 0;
                }
            }

            @media (max-width: 767px) {
                margin: 0;
                top: 0;

                .inner-container {
                    height: auto;
                    min-height: 135px;
                }

            }

            @media (max-width: 480px) {
                top: 66px;
                height: 80%;
            }


        }
    }

    &.alternate {
        .swiper-content {
            left: -310px;

            @media (max-width: 991px) {
                left: -210px;
                top: 10px;
            }

            @media (max-width: 767px) {
                left: 0;
                top: 0;
            }

            .inner-container {
                padding:30px;
                background-color: rgba(255, 255, 255, 0.9);

                .inner-box {
                    height: auto;

                    .line {
                        background-color: #4b4c4e;
                    }

                    .box-title {
                        font-size: 36px;
                        color: #4b4c4e;
						position: relative;
                    }

                    .box-text {
                        font-family: jamesfajardo;
                        font-size: 44px;
                        line-height: 32px;
                        padding-bottom: 10px;
                        color: #4b4c4e;
                    }
                }
            }
        }
    }

    @media (max-width: 767px) {
        height: 336px;

        .inner-container {
            height: auto;
            min-height: 135px;
        }
    }
}