﻿
.tabs-menu
{
    height: 64px;

    img {
        max-width: inherit;
    }

    a {
        display: inline-block;
        font-size: 24px;
        height: 64px;
        line-height: 63px;
        padding-bottom: 0;
        padding-top: 0;
        text-align: left;
        width: 25%;
        overflow: hidden;
    }

    @media (max-width: 767px) {
	    a {
            font-size: 11px;
            padding: 0px 5px;
            text-align: center;


            &.current-tab {
                background-color: $brandPrimary !important;
                text-align: center !important;

                .span {
                    display: none !important;
                }
            }

            &:hover {
                background-color: $brandPrimary !important;
                text-align: center !important;

                .span {
                    display: none !important;
                }
            }

            img {
                display: none !important;
            }

            .text {
                display: inline-block;
                line-height: 62px;
                position: inherit !important;
                width: 100%;
            }
	    }
    }

}