﻿@using Deepend.Framework.Kentico.Modules.ImageCrop
@model VIN.WebParts.FeatureTile.WebPart

@if (Model.Item != null && Model.FeaturedNodeId != Guid.Empty && Model.FeaturedNodeId == Model.Item.InventoryNode.NodeGUID)
{
    <div class="module-feature-tile cube-tile w-col w-col-6 w-col-small-6 w-col-tiny-5 _20-padding left-feature" data-tag="@Model.Item.ItemTagsString">
        <div class="mod-large">
            <a class="w-inline-block link-block feature-block radial" href="@Model.Item.ButtonUrl">
                <div class="cat-box">
                    <div class="feature-ico icon-@Model.Item.Category"></div>
                    <p class="feature-label">@(Model.Item.Category.Equals("whats_on")?"Event":Model.Item.Category.Replace('_', ' '))</p>
                </div>

                <div class="text-box">
                    <h2 class="feature-h2">@Model.Item.DocumentName</h2>
                </div>

                <div class="button block-center">
                    <div class="block-content-link">
                        @Model.Item.ButtonText <div class="detail-ico icon-link"></div>
                    </div>
                </div>
            </a>
            <div class="main-module-img">
                <span data-picture data-alt="@Model.Item.DocumentName">
                    <span data-src="@ImageCropUtils.GetImageUrl(Model.Item.ImageGuid, "130x130")"></span>
                    <span data-src="@ImageCropUtils.GetImageUrl(Model.Item.ImageGuid, "250x250")" data-media="(min-width: 481px)"></span>
                    <span data-src="@ImageCropUtils.GetImageUrl(Model.Item.ImageGuid, "335x270")" data-media="(min-width: 768px)"></span>
                    <span data-src="@ImageCropUtils.GetImageUrl(Model.Item.ImageGuid, "440x270")" data-media="(min-width: 992px)"></span>
                </span>
            </div>
        </div>
    </div>
}
else if (Model.EditMode)
{
    <div class="cms-bootstrap custom-template-warning">
        <i class="icon-exclamation-triangle" aria-hidden="true"></i>
        Warning: Feature item not set or unavailable.
    </div>
}