﻿@using Deepend.Framework.Kentico.Modules.ImageCrop
@model VIN.WebParts.FeatureTile.WebPart

@if (Model.Item != null && Model.FeaturedNodeId != Guid.Empty && Model.FeaturedNodeId == Model.Item.InventoryNode.NodeGUID)
{
    <div class="module-feature-tile large-tile w-col w-col-8" data-tag="@Model.Item.ItemTagsString">
        <div class="w-clearfix highlight-mod">
            <div class="module-2">
                <div class="module-2-absolute">
                    <a href="@Model.Item.ButtonUrl">
                        <span data-picture data-alt="@Model.Item.DocumentName">
                            @* <span data-src="@ImageCropUtils.GetImageUrl(Model.Item.ImageGuid, "239x498")"></span> *@
                            <span data-src="@ImageCropUtils.GetImageUrl(Model.Item.ImageGuid, "279x446")" data-media="(min-width: 768px)"></span>
                            <span data-src="@ImageCropUtils.GetImageUrl(Model.Item.ImageGuid, "318x446")" data-media="(min-width: 992px)"></span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="w-clearfix highlight-detal">
                <a href="@Model.Item.ButtonUrl">
                    <div class="detail-type">
                        <div class="detail-ico icon-@Model.Item.Category"></div>
                        <p>@Model.Item.Category.Replace('_', ' ')</p>
                    </div>
                </a>

                @if (Model.Shareable)
                {
                    <div class="detail-social">
                        <a class="w-inline-block social-link icon-facebook" href="@Model.Item.ButtonUrl"></a>
                        <a class="w-inline-block social-link icon-twitter" href="@Model.Item.ButtonUrl"></a>
                    </div>
                }
            </div>

            <div class="highlight-content">
                <a href="@Model.Item.ButtonUrl" class="no-underline">
                    <h3>@Model.Item.DocumentName</h3>
                </a>

                @if (Model.Item.ContentDate.HasValue && Model.Item.ContentDate.Value != null)
                {
                    <p class="date">@Model.Item.ContentDate.Value.ToString("dd/MM/yyyy")</p>
                }

                <div class="body-text-container">
                    @Raw(Model.Item.BodyText)
                </div>

                @if (!string.IsNullOrEmpty(Model.Item.ButtonUrl))
                {
                    <a class="button grey" href="@Model.Item.ButtonUrl">
                        @Model.Item.ButtonText <div class="detail-ico icon-link"></div>
                    </a>
                }
            </div>
        </div>
    </div>
}
else if (Model.EditMode)
{
    <div class="cms-bootstrap custom-template-warning">
        <i class="icon-exclamation-triangle" aria-hidden="true"></i>
        Warning: Feature item not set or unavailable.
    </div>
}