﻿@using Deepend.Framework.Kentico.Modules.ImageCrop
@model VIN.WebParts.FeatureTile.WebPart

@if (Model.Item != null && Model.FeaturedNodeId != Guid.Empty && Model.FeaturedNodeId == Model.Item.InventoryNode.NodeGUID)
{
    <div class="module-feature-tile small-tile w-col w-col-4 @(Model.Shareable ? "social-shareable" : string.Empty)" data-tag="@Model.Item.ItemTagsString"
         data-node-id="@Model.Item.NodeID" data-doc-title="@Model.Item.DocumentName" data-doc-desc="@Model.Item.BodyText" data-doc-url="@Model.Item.ButtonUrl">

        <div class="deal-mod deal-one">
            <div class="w-clearfix deal-detail">
                <div class="detail-type deal">
                    <div class="detail-ico icon-@Model.Item.Category"></div>
                    <p>@Model.Item.Category.Replace('_', ' ')</p>
                </div>

                @if (Model.Shareable)
                {
                    <div class="detail-social">
                        <a class="w-inline-block social-link icon-facebook reverse" href="@Model.Item.ButtonUrl"></a>
                        <a class="w-inline-block social-link icon-twitter reverse" href="@Model.Item.ButtonUrl"></a>
                    </div>
                }
            </div>

            <a class="w-inline-block deal-link" href="@Model.Item.ButtonUrl">
                <div class="deal-content">
                    <h3 class="deal-h3">@Model.Item.DocumentName</h3>
                    <p class="deal-name">@Model.Item.Subtitle</p>
                </div>
            </a>

            @if (Model.Item.ImageGuid != Guid.Empty && Model.Item.ShowImage)
            {
                <div class="module-3">
                    <span data-picture data-alt="@Model.Item.DocumentName">
                        <span data-src="@ImageCropUtils.GetImageUrl(Model.Item.ImageGuid, "280x203")"></span>
                        <span data-src="@ImageCropUtils.GetImageUrl(Model.Item.ImageGuid, "280x203")" data-media="(min-width: 481px)"></span>
                        <span data-src="@ImageCropUtils.GetImageUrl(Model.Item.ImageGuid, "229x228")" data-media="(min-width: 768px)"></span>
                        <span data-src="@ImageCropUtils.GetImageUrl(Model.Item.ImageGuid, "280x203")" data-media="(min-width: 992px)"></span>
                    </span>

                    <div class="gradient"></div>
                </div>
            }
        </div>
    </div>
}
else if (Model.EditMode)
{
    <div class="cms-bootstrap custom-template-warning">
        <i class="icon-exclamation-triangle" aria-hidden="true"></i>
        Warning: Feature item not set or unavailable.
    </div>
}