<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Wireframe_Text_Paragraph" Codebehind="~/CMSWebParts/Wireframe/Text/Paragraph.ascx.cs" %>
<cms:EditableWebPartProperty runat="server" id="ltlText" CssClass="WireframeParagraph" PropertyName="Text" Type="FormControl" FormControl="WireframeHTMLArea" Encode="False" />
<cms:WebPartResizer runat="server" id="resElem" RenderEnvelope="true" HorizontalOnly="true" />
