<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Syndication_CustomTableRSSFeed" Codebehind="~/CMSWebParts/Syndication/CustomTableRSSFeed.ascx.cs" %>
    
<cms:CustomTableDataSource ID="srcTables" runat="server" />
<cms:RSSFeed ID="rssFeed" runat="server" />
