<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Syndication_RSSDataSource" Codebehind="~/CMSWebParts/Syndication/RSSDataSource.ascx.cs" %>
<cms:XMLDataSource ID="srcXml" runat="server" />