﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/Maps/Static/StaticBingMaps.ascx.cs" Inherits="CMSWebParts_Maps_Static_StaticBingMaps" %>
<asp:Literal ID="ltlDesign" runat="server" EnableViewState="false" />
<asp:Literal ID="ltlBingMap" runat="server" EnableViewState="false" />
