﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/Maps/Static/StaticGoogleMaps.ascx.cs" Inherits="CMSWebParts_Maps_Static_StaticGoogleMaps" %>
<asp:Literal ID="ltlDesign" runat="server" EnableViewState="false" />
<asp:Literal ID="ltlGoogleMap" runat="server" EnableViewState="false" />
