<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Attachments_AttachmentLightBoxGallery" Codebehind="~/CMSWebParts/Attachments/AttachmentLightBoxGallery.ascx.cs" %>
<%@ Register Src="~/CMSModules/Content/Controls/Attachments/AttachmentLightboxGallery.ascx"
    TagName="AttachmentLightboxGallery" TagPrefix="cms" %>
<cms:AttachmentLightboxGallery ID="galleryElem" runat="server" />