
/**
*
* Directory variables
*
**/
/*
$static-url: '/static/';
$img-url: $static-url +'imgs/';
$font-url: $static-url + 'fonts/';
*/

/**
*
* Core config
*
***/
@import "config/branding-variables";


/**
*
* Legacy files
*
***/

@import "legacy/normalize";
@import "legacy/webflow";
@import "legacy/TheMarketPlacebuild7.webflow";
@import "legacy/Spiffly";
@import "legacy/animation";
@import "legacy/vinta-codes";
@import "legacy/vinta-embedded";
@import "legacy/vinta-ie7-codes";
@import "legacy/vinta-ie7";
@import "legacy/vinta";
@import "legacy/swiper.min";
@import "legacy/colorbox";


/**
*
* Framework and vendor imports
*
***/


/**
*
* Utilities, mixins etc
*
***/
@import "utilities/kentico-fixes";

/**
*
* Common structure - global CSS ONLY
*
***/


/**
*
* Typography
*
***/



/**
*
* Common UI Elements
*
***/

/**
*
* Individual Components
*
***/

@import "components/breadcrumbs";
@import "components/cinema-block";
@import "components/map";
@import "components/search";
@import "components/blog";
@import "components/feature-tile";
@import "components/content-block";
@import "components/tab-nav";
@import "components/navigation";
@import "components/slider";
@import "components/gallery";
@import "components/info-tile";
@import "components/form-builder";
@import "components/blog-filter";
@import "components/blog-tag-cloud";
@import "components/blog-intro";
@import "components/blog-landing-template";
@import "components/signup-block";
@import "components/generic";
@import "components/image-block";