<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Reporting_Report" Codebehind="~/CMSWebParts/Reporting/Report.ascx.cs" %>
<%@ Register Src="~/CMSModules/Reporting/Controls/DisplayReport.ascx" TagName="DisplayReport"
    TagPrefix="cms" %>
<cms:DisplayReport ID="viewReport" runat="server" />
