<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Reporting_Table"
    Codebehind="~/CMSWebParts/Reporting/Table.ascx.cs" %>
<%@ Register Src="~/CMSModules/Reporting/Controls/ReportTable.ascx" TagName="ReportTable"
    TagPrefix="cms" %>
<cms:ReportTable runat="server" ID="ucTable" />
