<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSFormControls_VisibilityControls_RadioButtonsHorizontalVisibility" Codebehind="RadioButtonsHorizontalVisibility.ascx.cs" %>
<cms:CMSRadioButtonList ID="rblVisibility" runat="server" RepeatDirection="Horizontal" />