﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="CultureMenu.ascx.cs" Inherits="CMSAdminControls_UI_UniMenu_OnSiteEdit_CultureMenu" %>
<%@ Register Src="~/CMSAdminControls/UI/UniMenu/UniMenuButtons.ascx" TagName="UniMenuButtons"
    TagPrefix="cms" %>
<div class="ActionButtons">
    <cms:UniMenuButtons ID="btnCulture" ShortID="b" runat="server" EnableViewState="false" />
</div>
