<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_BizForms_bizform" Codebehind="~/CMSWebParts/BizForms/bizform.ascx.cs" %>

<cms:BizForm ID="viewBiz" runat="server" IsLiveSite="true" />