﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="MediaFileMetaDataEditor.ascx.cs"
    Inherits="CMSModules_MediaLibrary_Controls_MediaLibrary_MediaFileMetaDataEditor" %>
<%@ Register Src="~/CMSModules/AdminControls/Controls/MetaFiles/MetaDataEdit.ascx" TagName="MetaDataEditor"
    TagPrefix="cms" %>
<cms:MetaDataEditor id="metaDataEditor" runat="server" />
