﻿<%@ Control Language="C#" AutoEventWireup="true" Codebehind="ObjectTransformation.ascx.cs" Inherits="CMSFormControls_Viewers_ObjectTransformation" %>
<%@ Register Assembly="CMS.UIControls" Namespace="CMS.UIControls" TagPrefix="cms" %>
<cms:ObjectTransformation ID="objTrans" runat="server"  />