﻿<%@ Page Language="C#" AutoEventWireup="true" Codebehind="Product_Section.aspx.cs"
    Inherits="CMSModules_Ecommerce_Pages_Tools_Products_Product_Section" Theme="Default" MasterPageFile="~/CMSMasterPages/UI/SimplePage.master" %>

<asp:Content ContentPlaceHolderID="plcContent" ID="content" runat="server">
</asp:Content>

