<%@ Page Language="C#" MasterPageFile="~/CMSMasterPages/UI/SimplePage.master" AutoEventWireup="true"
    Inherits="CMSModules_CustomTables_CustomTable_Edit_General" Title="Custom table edit - General"
    Theme="Default" Codebehind="CustomTable_Edit_General.aspx.cs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="plcContent" runat="Server">
    <cms:UIForm ID="editElem" runat="server" AlternativeFormName="customtable" RefreshHeader="true" ObjectType="cms.class" />
</asp:Content>
